<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<!--  		<input type="hidden" id="fk_report_id" name="fk_report_id"  value="${param.fk_report_id}"  > 		<input type="hidden" id="fk_inspection_info_id" name="fk_inspection_info_id"  value="${param.fk_inspection_info_id}"  >  -->
	<input type="hidden" id="nextPage" name="nextPage" value="6" values="6"
		title="" style="width: 99%;">
	<br>
	<table id="docx4j_tbl_0"
		style="border-bottom: 1px solid rgb(0, 0, 0); table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in; position: absolute; left: 56px; top: 2px;"
		class="">
		<colgroup>
			<col border="1" style="width: 50%;" class="">
			<col border="1" style="width: 50%;" class="">
		</colgroup>
		<tbody>
			<tr>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;"
					class="">
					<p class="a DocDefaults">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">文件编号：</span></span><span
							class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">CTJB-0208-BG01</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;"
					class="">
					<p class="a DocDefaults" style="text-align: right;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">实施日期：201</span></span><span
							class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">7年8</span><span
							class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">月1日</span></span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a DocDefaults"></p>
	<p class="a DocDefaults">
		<a name="RTPAGE_4__氧舱定期检验报告附页"></a>
	</p>
	<p class="a DocDefaults"
		style="text-align: center; position: absolute;">
		<span class="a0"
			style="font-size: 16pt; position: relative; left: 255px; top: 36px;">氧舱定期检验报告附页</span>
	</p>
	<table id="docx4j_tbl_10"
		style="border-color: rgb(0, 0, 0); position: absolute; margin-left: 0.02in; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.71in; left: 37.5313px; top: 135px;"
		class="">
		<colgroup>
			<col border="1" style="width: 10.07%;" class="">
			<col border="1" style="width: 2.68%;" class="">
			<col border="1" style="width: 8.91%;" class="">
			<col border="1" style="width: 3.84%;" class="">
			<col border="1" style="width: 12.75%;" class="">
			<col border="1" style="width: 12.75%;" class="">
			<col border="1" style="width: 12.24%;" class="">
			<col border="1" style="width: 12.25%;" class="">
			<col border="1" style="width: 1.9%;" class="">
			<col border="1" style="width: 4.7%;" class="">
			<col border="1" style="width: 5.64%;" class="">
			<col border="1" style="width: 4.34%;" class="">
			<col border="1" style="width: 9.92%;" class="">
		</colgroup>
		<tbody>
			<tr style="height: 0.31in;">
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: right;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">报告编号：</span></span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__report_sn" name="base__report_sn" type="text"
							ltype="text" value="" ligerui="{width:105}" readonly="readonly"
							values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.31in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00054" name="TBL00054" type="text" ltype="text"
							value="" ligerui="{width:54}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">检
							验 项 目</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">检验结果</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">备注</span>
					</p>
				</td>
			</tr>
			<tr style="height: 7mm;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">20</span>
					</p>
				</td>
				<td colspan="2" rowspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">电气</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">系统</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">通讯对讲装置的通话情况</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00055" name="TBL00055" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00056" name="TBL00056" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.3in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">21</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">测试应急呼叫装置启动时，控制台上声光报警信号显示以及由舱外操作人员手动操作才能解除的情况</span></span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00057" name="TBL00057" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00058" name="TBL00058" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">22</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">照明装置设置以及工作情况</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00059" name="TBL00059" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00060" name="TBL00060" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">23</span>
					</p>
				</td>
				<td colspan="2" rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">舱内</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">环境</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">调节</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">系统</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">舱内温度传感器防护情况</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00061" name="TBL00061" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00062" name="TBL00062" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.49in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">24</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">控制台上的温度、湿度显示情况</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00063" name="TBL00063" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00064" name="TBL00064" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 7mm;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">25</span>
					</p>
				</td>
				<td colspan="2" rowspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">消防</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">系统</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">舱内外部消防器材的种类、有效期</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00065" name="TBL00065" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00066" name="TBL00066" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.3in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">26</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">水喷淋消防系统的工作状态</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00067" name="TBL00067" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00068" name="TBL00068" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 7mm;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">27</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">水喷淋消防系统控制开关的保护情况</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00069" name="TBL00069" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00070" name="TBL00070" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 7mm;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">28</span>
					</p>
				</td>
				<td colspan="2" rowspan="7"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">安全</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">附件</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">与安</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">全保</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">护装</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">置及</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">仪表</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">呼吸气体浓度测定、记录装置的设置</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00071" name="TBL00071" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00072" name="TBL00072" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.29in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">29</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">呼吸气体浓度测定装置精度、测量范围呼吸气体浓度传感器的种类和有效期情况</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00073" name="TBL00073" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00074" name="TBL00074" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 13mm;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">30</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">呼吸气体浓度测定装置所设定的上下限报警点和报警功能</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00075" name="TBL00075" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00076" name="TBL00076" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.29in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">31</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">安全阀、氧气专用压力表、压力表等的有效期</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00077" name="TBL00077" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00078" name="TBL00078" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 7mm;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">32</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">定期检验周期内更换安全附件与安全保护装置及仪表的，确认其性能以及功能（与介质相适应、测量精度等）</span></span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00079" name="TBL00079" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00080" name="TBL00080" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.43in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">33</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">测试快开门式结构舱门、递物筒的安全保护联锁装置</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00081" name="TBL00081" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00082" name="TBL00082" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.13in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">34</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">舱体与接地装置的连接情况和测试接地电阻值</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00083" name="TBL00083" type="text" ltype="text"
							value="" ligerui="{width:84}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00084" name="TBL00084" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.55in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">35</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">配套</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">压力</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">容器</span>
					</p>
				</td>
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: left;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">按照TSG
							21-2016《固定式压力容器安全技术监察规程》中定期检验的规定</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00115" name="TBL00115" value="" values=""
							type="text" ltype="text"
							style="width: 99%; font-family: 宋体; font-size: 12pt;"
							ligerui="{isMultiSelect:true,width:84}" title="" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00085" name="TBL00085" type="text" ltype="text"
							value="" ligerui="{width:41}" values="" title=""
							style="width: 99%; font-family: 宋体; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.61in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class=""
							style="font-family: SimSun; position: relative; left: 6px; top: 2px;">说明：</span></span>
					</p>
				</td>
				<td colspan="12"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="width: 99%">
					<textarea rows="3" cols="" id="TBL00301"
						name="TBL00301"
						style="margin-left: 1mm; font-size: 12pt; font-family: SimSun; width: 99%;"
						values=""></textarea>
						</p></td>
			</tr>
			<tr style="height: 0.28in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class=""
							style="font-family: SimSun; position: relative; left: 6px; top: 0px;">检验：</span></span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__inspect_date" name="base__inspect_date" value=""
							values="" type="text" ltype="select" style="width: 99%;"
							ligerui="{'isMultiSelect':true,'width':72}" title="">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">日期：</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: -14px;width:99%;padding-left: 2px">
						<input id="base__inspect_op" name="base__inspect_op" value=""
							values="" type="text" ltype="date" style="width: 99%;"
							ligerui="{width:72}" title="">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">审核：</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__sign_time" name="base__sign_time" value=""
							values="" type="text" ltype="select" style="width: 99%;"
							ligerui="{'width':68}" title="">
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">日期：</span></span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="width: 98%">
						<input id="base__audit_op" name="base__audit_op" value="" style="margin-left: -10px"
							values="" type="text" ltype="date" 
							ligerui="{width:68}" title="">
					</p>
				</td>
			</tr>
			<tr style="height: 0.28in;">
				<td colspan="13"
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: left; position: relative; text-indent: 7mm;">
						<span class="a0" style="position: relative;"><span
							class="ui-draggable-dragging"
							style="font-family: SimSun; position: relative;">注：经检验，无问题或者合格的检验项目，在检验结果栏中填写“√”。经检验，有问题或者不符合的检验项目，在检验结果栏填写“×”。没有的检验项目，在检验结果栏填写“/”，在检验中，无法进行的检验项目，在检验结果栏填写“—”。在检验结果栏填写“×”和“—”的，应当在备注、说明栏中加以说明。需要进行试验、校验、检测的，应当另外付单项报告</span></span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a DocDefaults" style="text-align: left;">
		<span class="a0"
			style="font-family: SimSun; white-space: pre-wrap; position: relative;">
		</span>
	</p>
	</div>
</body>
</html>