<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<input type="hidden" id="nextPage" name="nextPage" value="-1"
		values="-1" title="" style="width: 99%;">
	<br>
	<!-- userBodyTop goes here -->
	<div class="document">
		<table id="docx4j_tbl_0"
			style="border-bottom: 1px solid rgb(0, 0, 0); table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 160mm; position: relative;"
			class="">
			<colgroup>
				<col border="1" style="width: 15.63%;" class="">
				<col border="1" style="width: 34.38%;" class="">
				<col border="1" style="width: 25%;" class="">
				<col border="1" style="width: 25%;" class="">
			</colgroup>
			<tbody>
				<tr>
					<td colspan="2" style="background-color: #FFFFFF;" class="">
						<p class="a DocDefaults" style="">
							<span class="a0" style="font-size: 12pt; position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">文件编号:CTJB-0212-BG01</span></span>
						</p>
					</td>
					<!-- <td style="background-color: #FFFFFF;">						<p class="a DocDefaults " style="">							<span class="a0 "								style="font-size: 12.0pt;; font-family: 'SimSun';">CTJB-0212-BG01</span>						</p>					</td> -->
					<td colspan="2" style="background-color: #FFFFFF;" class="">
						<p class="a DocDefaults" style="text-align: right;">
							<span class="a0" style="font-size: 12pt; position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">实施日期:2017年12月15日</span></span>
						</p>
					</td>
					<!-- <td style="background-color: #FFFFFF;">						<p class="a DocDefaults " style="">							<span class="a0 "								style="font-size: 12.0pt;; font-family: 'SimSun';">2017年12月15日</span>						</p>					</td> -->
				</tr>
			</tbody>
		</table>
		<p class="a DocDefaults"
			style="text-align: center; margin-top: 4mm; line-height: 150%;">
			<span class="a0"
				style="font-weight: bold; font-size: 16pt; font-family: SimSun; position: relative;">车用气瓶安装监督检验证书</span>
		</p>
		<table id="docx4j_tbl_1"
			style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.29in; position: relative;"
			class="">
			<colgroup>
				<col border="1" style="width: 25.09%;" class="">
				<col border="1" style="width: 4.63%;" class="">
				<col border="1" style="width: 26.58%;" class="">
				<col border="1" style="width: 1.35%;" class="">
				<col border="1" style="width: 8.04%;" class="">
				<col border="1" style="width: 1.57%;" class="">
				<col border="1" style="width: 7.8%;" class="">
				<col border="1" style="width: 3.09%;" class="">
				<col border="1" style="width: 21.85%;" class="">
			</colgroup>
			<tbody>
				<tr
					style="height: 9mm; border-left: hidden; border-right: hidden; border-top: hidden;">
					<td colspan="8"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: right; position: relative; margin-left: -1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">编号:</span>
						</p>
					</td>
					<td
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__report_sn" name="base__report_sn" type="text"
								ltype="text" value="" ligerui="{width:122}" readonly=""
								values="" title="" style="font-size: 12pt; font-family: SimSun; width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 11mm;">
					<td
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: center; position: relative; margin-left: -1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">安装单位</span>
						</p>
					</td>
					<td colspan="8"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__construction_units_name"
								name="base__construction_units_name" type="text" ltype="text"
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								value="" ligerui="{width:442}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 11mm;">
					<td
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: center; position: relative; margin-left: -1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">安装许可证编号</span>
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__construction_licence_no"
								name="base__construction_licence_no" type="text" ltype="text"
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								value="" ligerui="{width:186}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: center; position: relative; margin-left: -1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">安装日期</span>
						</p>
					</td>
					<td colspan="2"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__construction_date"
								name="base__construction_date" type="text" ltype="date" value=""
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								ligerui="{width:140}" values="" title="" style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 11mm;">
					<td
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: center; position: relative; margin-left: -1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">气瓶制造单位</span>
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__make_units_name" name="base__make_units_name"
								type="text" ltype="text" value="" ligerui="{width:186}"
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								values="" title="" style="width: 99%;">
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: center; position: relative; margin-left: -1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">设备代码</span>
						</p>
					</td>
					<td colspan="2"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__device_code" name="base__device_code"
								type="text" ltype="text" value="" ligerui="{width:140}"
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								values="" title="" style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 11mm;">
					<td
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: center; position: relative; margin-left: -1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">气瓶编号</span>
						</p>
					</td>
					<td colspan="8"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__factory_code" name="base__factory_code"
								type="text" ltype="text" value="" ligerui="{width:442}"
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								values="" title="" style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 11mm;">
					<td
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: center; position: relative; margin-left: -1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">制造日期</span>
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__make_date" name="base__make_date" type="text"
								ltype="date" value="" ligerui="{width:186}" values="" title=""
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								style="width: 99%;">
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: center; position: relative; margin-left: -1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">公称压力</span>
						</p>
					</td>
					<td colspan="2"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__device_pressure" name="base__device_pressure" type="text" ltype="text"
								value="" ligerui="{width:140}" values="" title=""
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								style="width: 99%;" class="  ">
						</p>
					</td>
				</tr>
				<tr style="height: 11mm;">
					<td
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: center; position: relative; margin-left: -1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">工作介质</span>
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__device_medium" name="base__device_medium" value="" values=""
								type="text" ltype="text" style="font-size: 12pt; font-family: SimSun; width: 99%;"
								ligerui="{'width':186}" class="  "
								title="">
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: center; position: relative; margin-left: -1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">车辆识别代号</span>
						</p>
					</td>
					<td colspan="2"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__device_car_num" name="base__device_car_num" type="text" ltype="text"
								value="" ligerui="{width:140}" values="" title=""
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								style="width: 99%;" class="  ">
						</p>
					</td>
				</tr>
				<tr style="height: 0.48in;">
					<td colspan="9"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="display: none; padding: 1px;">
							<input id="TBL00010" name="TBL00010" type="text" ltype="text"
								value="" ligerui="{width:594}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 0.58in;">
					<td colspan="9"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="position: relative; text-indent: 0.33in; line-height: 200%; margin: 0 1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">根据《中华人民共和国特种设备安全法》、</span><span
								class="a0" style="font-size: 12pt; position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">《特种设备安全监察条例》、《车用气瓶安全技术监察规程》的要求，该车用气瓶安装经</span></span><span
								class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">我机构</span><span
								class="a0" style="font-size: 12pt; position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">监督检验，其安装安全质量符合相关要求，特发此证。</span></span>
						</p>
					</td>
				</tr>
				<tr style="height: 12mm;">
					<td colspan="9"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="display: none; padding: 1px;">
							<input id="TBL00011" name="TBL00011" type="text" ltype="text"
								value="" ligerui="{width:594}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 12mm;">
					<td colspan="2"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: right; line-height: 125%;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">监检员:</span>
						</p>
					</td>
					<td
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__inspect_op" name="base__inspect_op" type="text"
								ltype="select" class="signPic"
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								value="" ligerui="{width:103,isMultiSelect:true}" values=""
								title="">
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: right; line-height: 125%;">
							<span class="a0" style="font-size: 12pt; position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">日期:</span></span>
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__inspect_date" name="base__inspect_date" type="text"
								ltype="date"
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								value="" ligerui="{width:103}" values="" title="">
						</p>
					</td>
				</tr>
				<tr style="height: 0.5in;">
					<td colspan="2"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: right; line-height: 125%;">
							<span class="a0" style="font-size: 12pt; position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">审&nbsp;核:</span></span>
						</p>
					</td>
					<td
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__audit_op" name="base__audit_op" type="text"
								ltype="select" class="signPic"
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								value="" ligerui="{width:103,isMultiSelect:true}" values=""
								title="">
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: right; line-height: 125%;">
							<span class="a0" style="font-size: 12pt; position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">日期:</span></span>
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__audit_date" name="base__audit_date" type="text"
								ltype="date"
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								value="" ligerui="{width:103}" values="" title="">
						</p>
					</td>
				</tr>
				<tr style="height: 0.49in;">
					<td colspan="2"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: right; line-height: 125%;">
							<span class="a0" style="font-size: 12pt; position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">批&nbsp;准:</span></span>
						</p>
					</td>
					<td
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__sign_op" name="base__sign_op" type="text"
								ltype="text" class="signPic"
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								value="" ligerui="{width:103}" values=""
								title="">
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: right; line-height: 125%;">
							<span class="a0" style="font-size: 12pt; position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">日期:</span></span>
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__sign_date" name="base__sign_date" type="text"
								ltype="date"
								style="font-size: 12pt; font-family: SimSun; width: 99%;"
								value="" ligerui="{width:103}" values="" title="">
						</p>
					</td>
				</tr>
				<tr style="height: 13mm;">
					<td colspan="9"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="display: none; padding: 1px;">
							<input id="TBL00018" name="TBL00018" type="text" ltype="text"
								value="" ligerui="{width:594}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 12mm;">
					<td colspan="2"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: right; line-height: 125%;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">监督检验机构</span><span
								class="a0"
								style="font-size: 12pt; font-family: Arial; position: relative;">:</span>
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="line-height: 125%; padding: 1px;">
							<!-- <span class="a0 "								style="font-size: 12.0pt;; font-family: 'SimSun';">四川省特种设备检验研究院</span> -->
							<input id="base__inspection_org" name="base__inspection_org"
								type="text" ltype="text" style="text-align: left; font-size: 12pt; font-family: SimSun; width: 99%;"
								value="四川省特种设备检验研究院" ligerui="{width:197}" values="四川省特种设备检验研究院"
								title="" class="    ">
						</p>
					</td>
					<td colspan="4"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: center; line-height: 125%; margin: 0 1mm;">
							<span class="a0"
								style="font-size: 12pt; font-family: Arial; position: relative;">(</span><span
								class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">监督检验机构检验专用章</span><span
								class="a0"
								style="font-size: 12pt; font-family: Arial; position: relative;">)</span>
						</p>
					</td>
				</tr>
				<tr style="height: 12mm;">
					<td colspan="2"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults"
							style="text-align: right; line-height: 125%;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">监检机构核准证编号</span><span
								class="a0"
								style="font-size: 12pt; font-family: &amp; amp; quot; Times New Roman&amp;amp; quot;; position: relative;">:</span>
						</p>
					</td>
					<td colspan="3"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="line-height: 125%; padding: 1px;">
							<!-- <span class="a0 "								style="font-size: 12.0pt;; font-family: 'Times New Roman';">TS7110306-2019</span> -->
							<input id="base__inspection_jghzh" name="base__inspection_jghzh"
								type="text" ltype="text" style="text-align: left; font-size: 12pt; font-family: SimSun; width: 99%;"
								value="TS7110306-2019" ligerui="{width:197}"
								values="TS7110306-2019" title="" class="  ">
						</p>
					</td>
					<td colspan="4"
						style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__sign_date1" name="base__sign_date1" type="text"
									ltype="date"
									style="font-size: 12pt; font-family: SimSun; text-align: center; width: 99%;"
									value="" ligerui="{width:269}" class="l-text-field"
									ligeruiid="base__sign_time" values="" title="">
						</p>
					</td>
				</tr>
				<tr style="height: 0.49in;">
					<td colspan="9"
						style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="display: none; padding: 1px;">
							<input id="TBL00020" name="TBL00020" type="text" ltype="text"
								value="" ligerui="{width:594}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr
					style="height: 0.49in; border-left: hidden; border-right: hidden; border-bottom: hidden;">
					<td colspan="9" style="vertical-align: middle;" class="">
						<p class="a DocDefaults" style="margin: 0 2mm;">
							<span class="a0" style="position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">注：此证书一式三份，一份随安装竣工文件交使用单位，其余由监检机构和安装单位分别存档。</span></span>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- userBodyTail goes here -->
	<!-- <script type="text/javascript">	$("#TBL00019").ligerDateEditor({	           onChangeDate(value){          	var str1 = value.replace('-', '年');         	var str2 = str1.replace('-', '月');         	str2=str2+"日";         	$("#TBL00019").val(str2);        } 	});</script> -->
	<script type="text/javascript">	/* $(function(){		var d1 = $("#TBL00033").val();		alert(d1);	}); */	/* $("#TBL00033").ligerDateEditor({	           onChangeDate(value){          	var str1 = value.replace('-', '年');         	var str2 = str1.replace('-', '月');         	str2=str2+"日";         	$("#TBL00033").val(str2);        } 	}); */	$("#base__sign_time").ligerDateEditor({	           onChangeDate(value){          	var str1 = value.replace('-', '年');         	var str2 = str1.replace('-', '月');         	str2=str2+"日";         	$("#base__sign_time").val(str2);        } 	});</script>
	</div>
</body>
</html>