<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<!--  		<input type="hidden" id="fk_report_id" name="fk_report_id"  value="${param.fk_report_id}"  > 		<input type="hidden" id="fk_inspection_info_id" name="fk_inspection_info_id"  value="${param.fk_inspection_info_id}"  >  -->
	<input type="hidden" id="nextPage" name="nextPage" value="5" values="5"
		title="" style="width: 99%;">
	<table id="docx4j_tbl_0"
		style="border-bottom: 1px solid rgb(0, 0, 0); table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in; position: relative;"
		class="">
		<colgroup>
			<col border="1" style="width: 80%;" class="">
			<col border="1" style="width: 50%;" class="">
		</colgroup>
		<tbody>
			<tr>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;"
					class="">
					<p class="a DocDefaults" style="margin-right: 0px;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">文件编号：</span></span><span
							class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">CTJB-0225-BG01</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;"
					class="">
					<p class="a DocDefaults" style="text-align: right;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">实施日期：201</span></span><span
							class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">8年1</span><span
							class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">月1日</span></span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a DocDefaults"></p>
	<p class="a DocDefaults" style="text-align: center;"></p>
	<p class="a DocDefaults" style="text-align: center;">
		<span class="a0"
			style="font-size: 16pt; position: relative; left: -1px; top: 44px;">氧舱年度检查报告附页</span>
	</p>
	<p class="a DocDefaults" style="text-align: center;">
		<span class="a0"
			style="font-size: 12pt; white-space: pre-wrap; position: relative; left: -2px; top: 21px;">
		</span>
	</p>
	<div style="margin-top: 50px">
		<table id="docx4j_tbl_7"
			style="border-color: rgb(0, 0, 0); table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.5in; position: relative; left: 20.7795px;"
			class="">
			<colgroup>
				<col border="1" style="width: 6.99%;" class="">
				<col border="1" style="width: 11.74%;" class="">
				<col border="1" style="width: 58.68%;" class="">
				<col border="1" style="width: 3.24%;" class="">
				<col border="1" style="width: 11.44%;" class="">
				<col border="1" style="width: 7.92%;" class="">
			</colgroup>
			<tbody>
				<tr style="height: 0.24in;">
					<td colspan="4"
						style="border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: right;">
							<span class="a0"
								style="font-size: 12pt; white-space: pre-wrap; position: relative;">
							</span><span class="a0" style="font-size: 12pt; position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">报告编号：</span></span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__report_sn" name="base__report_sn" type="text"
								ltype="text" value="" ligerui="{width:114}" readonly="readonly"
								values="" title="" style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 0.4in;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">序号</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">检查项目</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">检查结果</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">备注</span>
						</p>
					</td>
				</tr>
				<tr style="height: 18mm;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">1</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">安全管</span>
						</p>
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">理使用</span>
						</p>
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">工作</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">本年度使用安全管理工作情况</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00019" name="TBL00019" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00020" name="TBL00020" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 10mm;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">2</span>
						</p>
					</td>
					<td rowspan="3"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">技术</span>
						</p>
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">资料和</span>
						</p>
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">文件</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">运行、维护保养记录</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00021" name="TBL00021" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00022" name="TBL00022" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 15mm;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">3</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">安全附件与安全保护装置及仪表校验或者检定记</span>
						</p>
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; left: 4px; top: 1px;">录、报告</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00023" name="TBL00023" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00024" name="TBL00024" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 10mm;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">4</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">安全管理、维护保养人员的资格证</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00025" name="TBL00025" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00026" name="TBL00026" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 10mm;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">5</span>
						</p>
					</td>
					<td rowspan="4"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">舱体</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">舱门、递物筒的密封材料是否老化、变形</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00027" name="TBL00027" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00028" name="TBL00028" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 10mm;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">6</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">医用氧气加压氧舱舱内导静电装置的连接</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00029" name="TBL00029" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00030" name="TBL00030" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 0.65in;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">7</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">有机玻璃材料的划伤、劣化、银纹等缺陷以及泄</span>
						</p>
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; left: 4px; top: 3px;">漏情况</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00031" name="TBL00031" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00032" name="TBL00032" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 11mm;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">8</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">各传感器数据采集口的畅通与保护</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00033" name="TBL00033" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00034" name="TBL00034" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 0.38in;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">9</span>
						</p>
					</td>
					<td rowspan="6"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0 ui-draggable-dragging"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">压力调</span>
								<span class="a0 ui-draggable-dragging"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">节系统</span>
								<span class="a0 ui-draggable-dragging"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">与呼吸</span>
								<span class="a0 ui-draggable-dragging"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">气系统</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0" style="font-size: 12pt; position: relative;"><span
								class=""
								style="font-family: SimSun; position: relative; margin-left: 1mm;">舱内呼吸装置（含急救吸氧装置）工作情况</span></span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00035" name="TBL00035" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00036" name="TBL00036" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 0.5in;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">10</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">舱内外部应急排放装置开启、关闭是否灵敏、可</span>
						</p>
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm; left: 0.77953px; top: 0px;">靠以及警示标志</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00037" name="TBL00037" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00038" name="TBL00038" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 10mm;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">11</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">各控制阀门操作是否灵敏、可靠、无泄漏</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00039" name="TBL00039" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00040" name="TBL00040" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 0.38in;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">12</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">呼吸气系统有无油脂污染现象</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00041" name="TBL00041" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00042" name="TBL00042" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 0.4in;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">13</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">气体过滤材料清洗、更换情况</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00043" name="TBL00043" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00044" name="TBL00044" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 7mm;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">14</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">氧气瓶的检验有效期(用气瓶作为呼吸气体供应源</span>
								<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">的)</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00100" name="TBL00100" value="" values=""
								type="text" ltype="text" style="width: 99%;"
								ligerui="{isMultiSelect:true,width:84}" title="">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00045" name="TBL00045" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 17mm;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">15</span>
						</p>
					</td>
					<td rowspan="3"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">电气系</span></br>
								<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">统与舱</span></br>
								<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">内环境</span></br>
						</p>
						<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">调节</span></br>
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">系统</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0" style="font-size: 12pt; position: relative;"><span
								class=""
								style="font-family: SimSun; position: relative; margin-left: 1mm;">照明装置（含应急照明装置）、视频监控装置、通</span></span>
							<span class="a0" style="font-size: 12pt; position: relative;"><span
								class=""
								style="font-family: SimSun; position: relative; margin-left: 1mm;">讯对讲装置、应急呼叫装置、温度调节和加湿装置</span></span>
								<span class="a0" style="font-size: 12pt; position: relative;"><span
								class=""
								style="font-family: SimSun; position: relative; margin-left: 1mm;">的工作情况</span></span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00046" name="TBL00046" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00047" name="TBL00047" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 9mm;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">16</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0" style="font-size: 12pt; position: relative;"><span
								class=""
								style="font-family: SimSun; position: relative; margin-left: 1mm;">在正常供电网络中断时，应急电源装置的工作情况</span></span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00048" name="TBL00048" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00049" name="TBL00049" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
				<tr style="height: 10mm;">
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="text-align: center;">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative;">17</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults">
							<span class="a0"
								style="font-size: 12pt; font-family: SimSun; position: relative; margin-left: 1mm;">舱内环境调节系统空调电机、控制装置的工作情况</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00050" name="TBL00050" type="text" ltype="text"
								value="" ligerui="{width:84}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="TBL00051" name="TBL00051" type="text" ltype="text"
								value="" ligerui="{width:41}" values="" title=""
								style="width: 99%;">
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<p class="a DocDefaults" style="text-align: center;"></p>
		<p class="a DocDefaults" style="text-align: center;"></p>
	</div>
	</div>
</body>
</html>