<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<!--  		<input type="hidden" id="fk_report_id" name="fk_report_id"  value="${param.fk_report_id}"  > 		<input type="hidden" id="fk_inspection_info_id" name="fk_inspection_info_id"  value="${param.fk_inspection_info_id}"  >  -->
	<input type="hidden" id="nextPage" name="nextPage" value="4" values="4"
		title="" style="width: 99%;">
	<br>
	<p class="a0 DocDefaults" style="">
		<a name="RTPAGE_2__超高压水晶釜定期检验报告目录"></a>
	</p>
	<table id=""
		style="border-bottom: 1px solid rgb(0, 0, 0); table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in; position: relative;"
		class="">
		<colgroup>
			<col border="1" style="width: 50%;" class="">
			<col border="1" style="width: 50%;" class="">
		</colgroup>
		<tbody>
			<tr>
				<td style="vertical-align: middle;" class="">
					<p class="a0 DocDefaults" style="">
						<span class="a1" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">文件编号：CTJB-0217-BG02</span></span>
					</p>
				</td>
				<td style="vertical-align: middle;" class="">
					<p class="a0 DocDefaults" style="text-align: right;">
						<span class="a1" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">实施日期：2017年08月01日</span></span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a0 DocDefaults dtitle" style="text-align: center; margin-top: 2%; line-height: 150%;">
		<span class="a1"
			style="font-weight: bold; font-size: 16pt; position: relative;"></span><span
			class="a1"
			style="font-weight: bold; font-size: 16pt; font-family: SimSun; position: relative;">超高压水晶釜定期检验报告目录</span>
	</p>
	<table id="docx4j_tbl_6"
		style="table-layout: fixed; margin-top: 3mm; vertical-align: middle; border-collapse: collapse; width: 6.5in; position: relative;"
		class="">
		<colgroup>
			<col border="1" style="width: 11.16%;" class="">
			<col border="1" style="width: 17.62%;" class="">
			<col border="1" style="width: 30.46%;" class="">
			<col border="1" style="width: 9.62%;" class="">
			<col border="1" style="width: 5.35%;" class="">
			<col border="1" style="width: 25.79%;" class="">
		</colgroup>
		<tbody>
			<tr style="height: 0.46in;">
				<td colspan="2"
					style="border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="line-height: 150%; text-align: center;">
						<span class="a1"
							style="font-size: 12pt; position: relative; text-align: center;"><span
							class=""
							style="font-family: SimSun; position: relative; text-align: center;">单位内编号/</span></span><span
							class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">出厂</span><span
							class="a1"
							style="font-size: 12pt; position: relative; text-align: center;"><span
							class=""
							style="font-family: SimSun; position: relative; text-align: center;">编号:</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="base__factory_code1" name="base__factory_code1"
							type="text" ltype="text" value="" ligerui="{width:180}" values=""
							title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="          ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="line-height: 150%; text-align: center;">
						<span class="a1"
							style="font-size: 12pt; position: relative; text-align: center;"><span
							class=""
							style="font-family: SimSun; position: relative; text-align: center;">报告编号:</span></span>
					</p>
				</td>
				<td style="border-style: none; vertical-align: middle;" class="">
					<p class="a0 DocDefaults" style="">
						<input id="base__report_sn" name="base__report_sn" type="text"
							ltype="text" value="" ligerui="{width:150}" readonly="readonly"
							values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.48in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">序号</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">检
							验 项 目</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">页码</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">附页、附图</span>
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">1</span>
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="line-height: 150%; text-align: left; margin-left: 1mm;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; ">超高压水晶釜定期检验结论报告</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00002" name="TBL00002" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00003" name="TBL00003" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">2</span>
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="line-height: 150%; text-align: left; margin-left: 1mm;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; ">超高压水晶釜资料审查报告</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00004" name="TBL00004" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00005" name="TBL00005" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">3</span>
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="line-height: 150%; text-align: left; margin-left: 1mm;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; ">超高压水晶釜宏观检查报告</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00006" name="TBL00006" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00007" name="TBL00007" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">4</span>
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="line-height: 150%; text-align: left; margin-left: 1mm;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; ">超高压水晶釜硬度检测报告</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00055" name="TBL00055" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="        ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00008" name="TBL00008" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">5</span>
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="line-height: 150%; text-align: left; margin-left: 1mm;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; ">超高压水晶釜壁厚测定报告</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00009" name="TBL00009" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00010" name="TBL00010" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">6</span>
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="line-height: 150%; text-align: left; margin-left: 1mm;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; ">超高压水晶釜金相分析报告</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00011" name="TBL00011" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00012" name="TBL00012" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">7</span>
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="line-height: 150%; text-align: left; margin-left: 1mm;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; ">超高压水晶釜耐压试验报告</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00013" name="TBL00013" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00014" name="TBL00014" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">8</span>
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="line-height: 150%; text-align: left; margin-left: 1mm;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; ">超高压水晶釜磁粉检测报告</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00056" name="TBL00056" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="          ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00015" name="TBL00015" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">9</span>
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="line-height: 150%; text-align: left; margin-left: 1mm;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; ">超高压水晶釜超声检测报告</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00057" name="TBL00057" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="        ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00016" name="TBL00016" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="text-align: center; line-height: 150%;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; position: relative; text-align: center;">10</span>
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults"
						style="line-height: 150%; text-align: left; margin-left: 1mm;">
						<span class="a1"
							style="font-size: 12pt; font-family: SimSun; ">超高压水晶釜安全附件及仪表检验报告</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00059" name="TBL00059" type="text" ltype="text"
							value="" ligerui="width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="        ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00017" name="TBL00017" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00018" name="TBL00018" type="text" ltype="text"
							value="" ligerui="{width:59}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00019" name="TBL00019" type="text" ltype="text"
							value="" ligerui="{width:290}" values="" title=""
							style="width: 99%; text-align: left; margin-left: 1mm; font-family: SimSun; font-size: 12pt;"
							class="          ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00020" name="TBL00020" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00021" name="TBL00021" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00022" name="TBL00022" type="text" ltype="text"
							value="" ligerui="{width:59}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00023" name="TBL00023" type="text" ltype="text"
							value="" ligerui="{width:290}" values="" title=""
							style="width: 99%; text-align: left; margin-left: 1mm; font-family: SimSun; font-size: 12pt;"
							class="        ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00024" name="TBL00024" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00025" name="TBL00025" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00026" name="TBL00026" type="text" ltype="text"
							value="" ligerui="{width:59}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00027" name="TBL00027" type="text" ltype="text"
							value="" ligerui="{width:290}" values="" title=""
							style="width: 99%; text-align: left; margin-left: 1mm; font-family: SimSun; font-size: 12pt;"
							class="      ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00028" name="TBL00028" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00029" name="TBL00029" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00030" name="TBL00030" type="text" ltype="text"
							value="" ligerui="{width:59}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00031" name="TBL00031" type="text" ltype="text"
							value="" ligerui="{width:290}" values="" title=""
							style="width: 99%; text-align: left; margin-left: 1mm; font-family: SimSun; font-size: 12pt;"
							class="      ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00032" name="TBL00032" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00033" name="TBL00033" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00034" name="TBL00034" type="text" ltype="text"
							value="" ligerui="{width:59}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00035" name="TBL00035" type="text" ltype="text"
							value="" ligerui="{width:290}" values="" title=""
							style="width: 99%; text-align: left; margin-left: 1mm; font-family: SimSun; font-size: 12pt;"
							class="      ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00036" name="TBL00036" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00037" name="TBL00037" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00038" name="TBL00038" type="text" ltype="text"
							value="" ligerui="{width:59}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00039" name="TBL00039" type="text" ltype="text"
							value="" ligerui="{width:290}" values="" title=""
							style="width: 99%; text-align: left; margin-left: 1mm; font-family: SimSun; font-size: 12pt;"
							class="      ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00040" name="TBL00040" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00041" name="TBL00041" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00042" name="TBL00042" type="text" ltype="text"
							value="" ligerui="{width:59}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00043" name="TBL00043" type="text" ltype="text"
							value="" ligerui="{width:290}" values="" title=""
							style="width: 99%; text-align: left; margin-left: 1mm; font-family: SimSun; font-size: 12pt;"
							class="      ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00044" name="TBL00044" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00045" name="TBL00045" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00046" name="TBL00046" type="text" ltype="text"
							value="" ligerui="{width:59}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00047" name="TBL00047" type="text" ltype="text"
							value="" ligerui="{width:290}" values="" title=""
							style="width: 99%; text-align: left; margin-left: 1mm; font-family: SimSun; font-size: 12pt;"
							class="      ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00048" name="TBL00048" type="text" ltype="text"
							value="" ligerui="{width:50}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 1.01mm; padding-top: 1.01mm; vertical-align: middle;"
					class="">
					<p class="a0 DocDefaults" style="">
						<input id="TBL00049" name="TBL00049" type="text" ltype="text"
							value="" ligerui="{width:184}" values="" title=""
							style="width: 99%; text-align: center; font-family: SimSun; font-size: 12pt;"
							class="    ">
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>