@charset "utf-8";
/* CSS Document */


/*============================  适应屏幕大小的样式  start  ==================================*/

/*-----------  1024x768  ------------*/
.window-w-1024 .m-center2 {left:5%;right:5%; bottom:50px; top: 140px; }


/*-----------  1280x768  ------------*/
.window-w-1280 .m-center2 {left:5%;right:5%; bottom:50px; top: 140px; }


/*-----------  1366x768  ------------*/
.window-w-1366 .m-center2 { left:6%;right:6%; bottom:80px; top: 140px; }


/*-----------  1440x900  ------------*/
.window-w-1440 .m-center2 { left:6%;right:6%; bottom:80px; top: 140px; }


/*-----------  1920x1080  ------------*/
.window-w-1920 .m-center2 { left:10%;right:10%; bottom:100px; top: 180px; }


/*============================  适应屏幕大小的样式  end  ==================================*/