<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

</head>

<body>
	<input type="hidden" id="fk_report_id" name="fk_report_id"
		value="${param.fk_report_id}">
	<input type="hidden" id="fk_inspection_info_id"
		name="fk_inspection_info_id" value="${param.fk_inspection_info_id}">

	<input type="hidden" id="nextPage" name="nextPage" value="11">
	<br />
	<p class="a DocDefaults " style="">
		<a name="RTPAGE_9__磁粉检测报告（附图）"></a>
	</p>
	<table
		style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 164mm;">
		<colgroup>
			<col style="width: 50.03%;" />
			<col style="width: 49.97%;" />
		</colgroup>
		<tbody>
			<tr>
				<td>
					<p class="a DocDefaults " style="">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">文件编号：CTJB-</span></span><span class="a0 "
							style="font-family: 'SimSun';">0304-BG08</span>
					</p>
				</td>
				<td>
					<p class="a DocDefaults " style="text-align: right;">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">实施日期：2018年5月1日</span></span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a DocDefaults "
		style="text-align: center; margin-top: 0.11in; margin-bottom: 0.11in;">
		<span class="a0 dtitle" style="font-size: 20.5pt;"><span class=""
			style="">磁粉检测报告（附图）</span></span>
	</p>
	<table class="a7 a1 " id="docx4j_tbl_18"
		style="border: black solid 1px; position: relative; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.5in;">
		<colgroup>
			<col style="width: 9.15%;" />
			<col style="width: 15.85%;" />
			<col style="width: 8.39%;" />
			<col style="width: 16.61%;" />
			<col style="width: 9.15%;" />
			<col style="width: 15.05%;" />
			<col style="width: 0.8%;" />
			<col style="width: 8.39%;" />
			<col style="width: 16.61%;" />
		</colgroup>
		<tbody>
			<tr style="height: 0.07in; border-left: hidden; border-right: hidden; border-top: hidden; border-bottom: black solid 1px;">
				<td colspan="4"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<!-- <p class="a-a7-BR DocDefaults ">
						<input id="TBL00826" name="TBL00826" type="text" ltype="text"
							value="" ligerui="{width:301}" />
					</p> -->
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a-a7-BR DocDefaults "
						style="text-align: center; line-height: 125%;">
						<span class="a0 "
							style="font-size: 10.5pt;; font-family: 'SimSun';">报告编号</span><span
							class="a0 "
							style="font-size: 10.5pt;; font-family: 'Times New Roman';">:</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a-a7-BR DocDefaults ">
						<input id="base__report_sn" name="base__report_sn" type="text"
							ltype="text" value="" ligerui="{width:150}" readonly="readonly" />
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="9"
					style="border-bottom-style: none; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a-a7-BR DocDefaults ">
						<input id="TBL00827" name="TBL00827" type="text" ltype="text"
							style="font-size: 10.5pt;; font-family: 'SimSun'; text-align: left; margin-left: 1mm;"
							value="" ligerui="{width:613}" />
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="9"
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none;">
					<p class="a-a7-BR DocDefaults ">
						<!-- <input id="TBL00828" name="TBL00828" type="text" ltype="text"
							value="" ligerui="{width:613}" /> -->
						<div id="TBL00828" name="TBL00828" class="uploadPhoto"  
							style="width: 480px; height: 360px; margin-left: 10%;" 
							align="center">TBL00828</div>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="9"
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none;">
					<p class="a-a7-BR DocDefaults " style="width: 99%;">
						<!-- <input id="TBL00828" name="TBL00828" type="text" ltype="text"
							value="" ligerui="{width:613}" /> -->
						<textarea rows="25" id="TBL00829" name="TBL00829" cols=""
							style="font-size: 10.5pt;; font-family: 'SimSun'; text-align: left; margin-left: 1mm;"></textarea>
					</p>
				</td>
			</tr>
			<tr style="height: 9mm; border-top: black solid 1px;">
				<td
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: none; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a-a7-BR DocDefaults " style="margin-left: 1mm;">
						<span class="a0 " style="font-family: 'SimSun';">检测:</span>
					</p>
				</td>
				<td
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: none; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a-a7-BR DocDefaults ">
						<input id="base__inspect_op10" name="base__inspect_op10" type="text"
							style="font-size: 10.5pt;; font-family: 'SimSun';"
							ltype="select" value="" ligerui="{width:88,isMultiSelect:true}" />
					</p>
				</td>
				<td
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: none; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a-a7-BR DocDefaults " style="text-align: center;">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">日期:</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a-a7-BR DocDefaults ">
						<input id="base__inspect_date10" name="base__inspect_date10" type="text" ltype="date"
							style="font-size: 10.5pt;; font-family: 'SimSun';"
							value="" ligerui="{width:93}" />
					</p>
				</td>
				<td
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: none; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a-a7-BR DocDefaults " style="text-align: center;">
						<span class="a0 " style="font-family: 'SimSun';">审核:</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: none; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a-a7-BR DocDefaults ">
						<input id="base__audit_op10" name="base__audit_op10" type="text"
							style="font-size: 10.5pt;; font-family: 'SimSun';"
							ltype="select" value="" ligerui="{width:88}" />
					</p>
				</td>
				<td
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: none; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a-a7-BR DocDefaults " style="text-align: center;">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">日期:</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a-a7-BR DocDefaults ">
						<input id="base__audit_time10" name="base__audit_time10" type="text" ltype="date"
							style="font-size: 10.5pt;; font-family: 'SimSun';"
							value="" ligerui="{width:93}" />
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
