<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<input type="hidden" id="fk_report_id" name="fk_report_id"
		value="${param.fk_report_id}" values="${param.fk_report_id}" title=""
		style="width: 99%;">
	<input type="hidden" id="fk_inspection_info_id"
		name="fk_inspection_info_id" value="${param.fk_inspection_info_id}"
		values="${param.fk_inspection_info_id}" title="" style="width: 99%;">
	<input type="hidden" id="nextPage" name="nextPage" value="-1"
		values="-1" title="" style="width: 99%;">
	<br>
	<p class="a DocDefaults" style="">
		<a name="RTPAGE_25__工业管道定期检验单线图"></a>
	</p>
	<table
		style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 164mm;">
		<colgroup>
			<col style="width: 50.03%;" />
			<col style="width: 49.97%;" />
		</colgroup>
		<tbody>
			<tr>
				<td>
					<p class="a DocDefaults " style="">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">文件编号：CTJB-</span></span><span class="a0 "
							style="font-family: 'SimSun';">0304-BG18</span>
					</p>
				</td>
				<td>
					<p class="a DocDefaults " style="text-align: right;">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">实施日期：2018年5月1日</span></span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a DocDefaults"
		style="text-align: center; margin-top: 0.11in; margin-bottom: 0.11in; line-height: 100%;">
		<span class="a0 dtitle" style="font-size: 20.5pt; position: relative;">工业管道定期检验单线图</span>
	</p>
	<table id="docx4j_tbl_49"
		style="position: relative; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 166mm;"
		class="">
		<colgroup>
			<col border="1" style="width: 9.08%;" class="">
			<col border="1" style="width: 5.92%;" class="">
			<col border="1" style="width: 10.59%;" class="">
			<col border="1" style="width: 7.51%;" class="">
			<col border="1" style="width: 16.17%;" class="">
			<col border="1" style="width: 0.72%;" class="">
			<col border="1" style="width: 8.64%;" class="">
			<col border="1" style="width: 16%;" class="">
			<col border="1" style="width: 0.36%;" class="">
			<col border="1" style="width: 7.67%;" class="">
			<col border="1" style="width: 17.33%;" class="">
		</colgroup>
		<tbody>
			<tr style="height: 0mm;">
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; vertical-align: middle;"
					class="">
					<!-- <p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL01772" name="TBL01772" type="text" ltype="text"
							value="" ligerui="{width:304}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 12pt;" class="  ">
					</p> -->
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; position: relative; line-height: 125%; font-family: 'SimSun'; font-size: 12pt;">
						<span class="a0"
							style="font-size: 12pt; font-family: 'SimSun'; position: relative;">报告编号</span><span
							class="a0"
							style="font-size: 12pt; font-family: 'SimSun'; position: relative;">:</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__report_sn" name="base__report_sn" type="text"
							ltype="text" value="" ligerui="{width:147}" readonly="readonly"
							values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0mm;">
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="position: relative; line-height: 125%; font-family: 'SimSun'; font-size: 12pt; margin-left: 1mm;">
						<span class="a0"
							style="font-size: 12pt; position: relative; font-family: 'SimSun';"><span
							class=""
							style="font-family: 'SimSun'; position: relative; font-size: 12pt;">管道编号：</span></span>
					</p>
				</td>
				<td colspan="9"
					style="border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__gdbh" name="base__gdbh" type="text" ltype="text"
							value="" ligerui="{width:524}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 12pt; margin-left: -1mm;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0mm;">
				<td colspan="11"
					style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL01773" name="TBL01773" type="text" ltype="text"
							value="" ligerui="{width:619}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 12pt; text-align: left; margin-left: 1mm;"
							class="    ">
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="11"
					style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<!-- <input id="TBL01774" name="TBL01774" type="text" ltype="text"
							value="" ligerui="{width:619}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 12pt;" class="  "> -->
						<div id="TBL01774" name="TBL01774" class="uploadPhoto"  
							style="width: 480px; height: 360px; margin-left: 10%;" 
							align="center">TBL01774</div>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="11"
					style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000;"
					class="">
					<p class="a DocDefaults" style="width: 99%;">
						<!-- <input id="TBL01772" name="TBL01772" type="text" ltype="text"
							value="" ligerui="{width:619}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 12pt;" class="  "> -->
						<textarea rows="25" cols="" id="TBL01772" name="TBL01772"
							style="margin-left: 1mm; font-family: 'SimSun'; font-size: 12pt;"></textarea>
					</p>
				</td>
			</tr>
			<tr style="height: 0.39in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="font-family: 'SimSun'; font-size: 12pt; margin-left: 1mm;">
						<span class="a0"
							style="font-size: 12pt; position: relative; font-family: 'SimSun';"><span
							class=""
							style="font-family: 'SimSun'; position: relative; font-size: 12pt;">检验:</span></span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__inspect_op26" name="base__inspect_op26"
							type="text" ltype="select" value=""
							ligerui="{isMultiSelect:true,width:93}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 12pt;"
							class="      ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="font-family: 'SimSun'; font-size: 12pt; text-align: center;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 12pt; text-align: center;">日期</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 12pt; text-align: center;">:</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__inspect_date26" name="base__inspect_date26"
							value="" values="" type="text" ltype="date"
							style="width: 99%; font-family: 'SimSun'; font-size: 12pt;"
							ligerui="{width:91}" title="">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 12pt;">
						<span class="a0"
							style="font-size: 12pt; position: relative; font-family: 'SimSun'; text-align: center;"><span
							class=""
							style="font-family: 'SimSun'; position: relative; font-size: 12pt; text-align: center;">审核:</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__audit_op26" name="base__audit_op26" type="text"
							ltype="select" value="" ligerui="{width:90}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 12pt;"
							class="      ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 12pt;">
						<span class="a0"
							style="position: relative; font-family: 'SimSun'; font-size: 12pt; text-align: center;"><span
							class=""
							style="font-family: 'SimSun'; position: relative; font-size: 12pt; text-align: center;">日期:</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__audit_time26" name="base__audit_time26" value=""
							values="" type="text" ltype="date"
							style="width: 99%; font-family: 'SimSun'; font-size: 12pt;"
							ligerui="{width:99}" title="">
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>