<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

</head>

<body>
	<input type="hidden" id="fk_report_id" name="fk_report_id"
		value="${param.fk_report_id}">
	<input type="hidden" id="fk_inspection_info_id"
		name="fk_inspection_info_id" value="${param.fk_inspection_info_id}">

	<input type="hidden" id="nextPage" name="nextPage" value="14">
	<br />
	<p class="a DocDefaults " style="">
		<a name="RTPAGE_12__射线检测报告"></a>
	</p>
	<table
		style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 164mm;">
		<colgroup>
			<col style="width: 50.03%;" />
			<col style="width: 49.97%;" />
		</colgroup>
		<tbody>
			<tr>
				<td>
					<p class="a DocDefaults " style="">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">文件编号：CTJB-</span></span><span class="a0 "
							style="font-family: 'SimSun';">0304-BG10</span>
					</p>
				</td>
				<td>
					<p class="a DocDefaults " style="text-align: right;">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">实施日期：2018年5月1日</span></span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a DocDefaults "
		style="text-align: center; margin-top: 0.11in; margin-bottom: 0.11in; line-height: 100%;">
		<span class="a0 dtitle" style="font-size: 20.5pt;">射线检测报告</span>
	</p>
	<table id="docx4j_tbl_24"
		style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 167mm;">
		<colgroup>
			<col style="width: 8.88%;" />
			<col style="width: 8.86%;" />
			<col style="width: 4.56%;" />
			<col style="width: 3%;" />
			<col style="width: 4.46%;" />
			<col style="width: 4.31%;" />
			<col style="width: 0.2%;" />
			<col style="width: 0.11%;" />
			<col style="width: 1.07%;" />
			<col style="width: 9.25%;" />
			<col style="width: 4.5%;" />
			<col style="width: 1.2%;" />
			<col style="width: 7.77%;" />
			<col style="width: 8.94%;" />
			<col style="width: 4.85%;" />
			<col style="width: 2.64%;" />
			<col style="width: 5.95%;" />
			<col style="width: 3%;" />
			<col style="width: 1.58%;" />
			<col style="width: 1.98%;" />
			<col style="width: 6.88%;" />
			<col style="width: 5.46%;" />
			<col style="width: 0.54%;" />
		</colgroup>
		<tbody>
			<tr style="height: 0.24in;">
				<td colspan="12"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; vertical-align: middle;">
					<!-- <p class="a DocDefaults ">
						<input id="TBL00908" name="TBL00908" type="text" ltype="text"
							value="" ligerui="{width:308}" />
					</p> -->
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="font-family: 'SimSun';">报告编号</span><span
							class="a0 " style="font-family: 'Times New Roman';">:</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__report_sn" name="base__report_sn" type="text"
							style="font-family: 'SimSun';"
							ltype="text" value="" ligerui="{width:167}" readonly="readonly" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="font-family: 'SimSun';">管道编号</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__gdbh" name="base__gdbh" type="text" ltype="text"
							value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">操作指导书编号</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00909" name="TBL00909" type="text" ltype="text"
							value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="font-family: 'SimSun';">管道级别</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__sbjb" name="base__sbjb" type="text" ltype="text"
							value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="font-family: 'SimSun';">管道规格</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__p_gdgg" name="base__p_gdgg" type="text"
							ltype="text" value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="font-family: 'SimSun';">坡口型式</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00910" name="TBL00910" type="text" ltype="text"
							value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="font-family: 'SimSun';">管道材质</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__p80001005" name="base__p80001005" type="text"
							ltype="text" value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="font-family: 'SimSun';">要求检测比例</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="font-family: 'SimSun';">≥</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00911" name="TBL00911" type="text" ltype="text"
							value="" ligerui="{width:37}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="font-family: 'SimSun';">％</span>
					</p>
				</td>
				<td colspan="4"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="font-family: 'SimSun';">检测焊缝数量</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00902" name="TBL00902" type="text"
							ltype="text" value="" ligerui="{width:95}" />
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="font-family: 'SimSun';">个</span>
					</p>
				</td>
				<td colspan="5"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="font-family: 'SimSun';">检测焊缝总长</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00906" name="TBL00906" type="text"
							ltype="text" value="" ligerui="{width:95}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults " style="text-align: center;">
						<span class="a0 " style="font-family: 'SimSun';">检测部位</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00907" name="TBL00907" type="text"
							ltype="text" value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults " style="text-align: center;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">检测设备型号</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__device_model" name="base__device_model" type="text" ltype="text"
							value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults " style="text-align: center;">
						<span class="a0 " style="font-family: 'SimSun';">焦点尺寸</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00913" name="TBL00913" type="text" ltype="text"
							value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults " style="text-align: center;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">检测设备编号</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00912" name="TBL00912" type="text"
							ltype="text" value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">胶片规格</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00914" name="TBL00914" type="text" ltype="text"
							value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; position: relative;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">胶片牌号</span><span
							class="a0 "
							style="color: #000000;; font-family: 'Times New Roman';">/</span><span
							class="a0 " style="color: #000000;; font-family: 'SimSun';">分类等级</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00915" name="TBL00915" type="text" ltype="text"
							value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">增感屏</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00916" name="TBL00916" type="text" ltype="text"
							value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">散射线屏蔽</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00917" name="TBL00917" type="text" ltype="text"
							value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">检测标准</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00908" name="TBL00908" type="text"
							ltype="text" value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">对比试块型式</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00918" name="TBL00918" type="text" ltype="text"
							value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">技术等级</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00919" name="TBL00919" type="text" ltype="text"
							value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">像质计种类</span><span
							class="a0 "
							style="color: #000000;; font-family: 'Times New Roman';">/</span><span
							class="a0 " style="color: #000000;; font-family: 'SimSun';">型号</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00944" name="TBL00944"
							type="text" ltype="text" value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">透照技术</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00920" name="TBL00920" type="text" ltype="text"
							value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">像质计位置</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00921" name="TBL00921" type="text" ltype="text"
							value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">透照方式</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00922" name="TBL00922" type="text" ltype="text"
							value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">管电压</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__p_dy" name="base__p_dy" type="text" ltype="text"
							value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">管电流</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00923" name="TBL00923" type="text" ltype="text"
							value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">焦距</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00924" name="TBL00924" type="text" ltype="text"
							value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">一次透照长度</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00925" name="TBL00925" type="text" ltype="text"
							value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">曝光时间</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00926" name="TBL00926" type="text" ltype="text"
							value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">透照次数</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00927" name="TBL00927" type="text" ltype="text"
							value="" ligerui="{width:160}" />
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">次</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">暗室处理方式</span>
					</p>
				</td>
				<td colspan="8"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00928" name="TBL00928" type="text" ltype="text"
							value="" ligerui="{width:167}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">显、定液配方</span>
					</p>
				</td>
				<td colspan="10"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00929" name="TBL00929" type="text" ltype="text"
							value="" ligerui="{width:196}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">显影温度</span><span
							class="a0 "
							style="color: #000000;; font-family: 'Times New Roman';">/</span><span
							class="a0 " style="color: #000000;; font-family: 'SimSun';">时间</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00930" name="TBL00930" type="text" ltype="text"
							value="" ligerui="{width:44}" />
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
					<table border='0' class='l-text-suffix-wrap'>
						<tr>
							<td class='l-text-suffix' style="text-align: center; font-family: 'SimSun';">℃</td>
						</tr>
					</table>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00932" name="TBL00932" type="text" ltype="text"
							value="" ligerui="{width:46}" />
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
					<table border='0' class='l-text-suffix-wrap'>
						<tr>
							<td class='l-text-suffix' style="text-align: center; font-family: 'SimSun';">min</td>
						</tr>
					</table>
					</p>
				</td>
			</tr>
			<tr style="height: 0.24in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">定影温度</span><span
							class="a0 "
							style="color: #000000;; font-family: 'Times New Roman';">/</span><span
							class="a0 " style="color: #000000;; font-family: 'SimSun';">时间</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00934" name="TBL00934" type="text" ltype="text"
							value="" ligerui="{width:66}" />
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
					<table border='0' class='l-text-suffix-wrap'>
						<tr>
							<td class='l-text-suffix' style="text-align: center; font-family: 'SimSun';">℃</td>
						</tr>
					</table>
					</p>
				</td>
				<td colspan="4"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00936" name="TBL00936" type="text" ltype="text"
							value="" ligerui="{width:57}" />
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
					<table border='0' class='l-text-suffix-wrap'>
						<tr>
							<td class='l-text-suffix' style="text-align: center; font-family: 'SimSun';">min</td>
						</tr>
					</table>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">水洗温度</span><span
							class="a0 "
							style="color: #000000;; font-family: 'Times New Roman';">/</span><span
							class="a0 " style="color: #000000;; font-family: 'SimSun';">时间</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00938" name="TBL00938" type="text" ltype="text"
							value="" ligerui="{width:44}" />
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
					<table border='0' class='l-text-suffix-wrap'>
						<tr>
							<td class='l-text-suffix' style="text-align: center; font-family: 'SimSun';">℃</td>
						</tr>
					</table>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL00940" name="TBL00940" type="text" ltype="text"
							value="" ligerui="{width:46}" />
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
					<table border='0' class='l-text-suffix-wrap'>
						<tr>
							<td class='l-text-suffix' style="text-align: center; font-family: 'SimSun';">min</td>
						</tr>
					</table>
					</p>
				</td>
			</tr>
			<tr style="height: 11mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 166%;">
						<span class="a0 " style="color: #000000;; font-family: 'SimSun';">工艺验证情况</span>
					</p>
				</td>
				<td colspan="21"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000;">
					<p class="a DocDefaults ">
						<input id="TBL00942" name="TBL00942" type="text" ltype="text"
							value="" ligerui="{width:510}" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.23in;">
				<td colspan="3"
					style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000;">
					<p class="a DocDefaults "
						style="text-align: left; position: relative; margin-left: 1mm;">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">检测部位图及说明：</span></span>
					</p>
				</td>
				<td colspan="20"
					style="border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000;">
					<!-- <p class="a DocDefaults ">
						<input id="TBL00945" name="TBL00945" type="text"	
							ltype="text" value="" ligerui="{width:481}" />
					</p> -->
				</td>
			</tr>
			<tr style="height: 66mm;">
				<td colspan="23"
					style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000;">
					<p class="a DocDefaults " style="width: 99%;">
						<!-- <input id="TBL00943" name="TBL00943" type="text" ltype="text"
							value="" ligerui="{width:622}" /> -->
						<textarea rows="14" id="TBL00943" name="TBL00943" cols=""
							style="font-family: 'SimSun'; margin-left: 1mm;"></textarea>
					</p>
				</td>
			</tr>
			<tr style="height: 11mm;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults " style="margin-left: 1mm;">
						<span class="a0 " style="font-size: 10.0pt;"><span class=""
							style="font-family: 'SimSun';">检测:</span></span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__inspect_op13" name="base__inspect_op13" type="text"
							style="font-size: 10.0pt; font-family: 'SimSun';"
							ltype="select" value="" ligerui="{width:93,isMultiSelect:true}" />
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults " style="text-align: center;">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">日期:</span></span>
					</p>
				</td>
				<td colspan="4"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__inspect_date13" name="base__inspect_date13" type="text" ltype="date"
							style="font-size: 10.0pt; font-family: 'SimSun';"
							value="" ligerui="{width:84}" />
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults " style="text-align: center;">
						<span class="a0 " style="font-size: 10.0pt;"><span class=""
							style="font-family: 'SimSun';">审核:</span></span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__audit_op13" name="base__audit_op13" type="text"
							style="font-size: 10.0pt; font-family: 'SimSun';"
							ltype="select" value="" ligerui="{width:93}" />
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults " style="text-align: center;">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">日期:</span></span>
					</p>
				</td>
				<td colspan="5"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__audit_time13" name="base__audit_time13" type="text" ltype="date"
							style="font-size: 10.0pt; font-family: 'SimSun';"
							value="" ligerui="{width:94}" />
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
