<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<input type="hidden" id="fk_report_id" name="fk_report_id"
		value="${param.fk_report_id}" values="${param.fk_report_id}" title=""
		style="width: 99%;">
	<input type="hidden" id="fk_inspection_info_id"
		name="fk_inspection_info_id" value="${param.fk_inspection_info_id}"
		values="${param.fk_inspection_info_id}" title="" style="width: 99%;">
	<input type="hidden" id="nextPage" name="nextPage" value="25"
		values="25" title="" style="width: 99%;">
	<br>
	<p class="a DocDefaults" style="">
		<a name="RTPAGE_23__安全附件与仪表检验报告"></a>
	</p>
	<table
		style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 164mm;">
		<colgroup>
			<col style="width: 50.03%;" />
			<col style="width: 49.97%;" />
		</colgroup>
		<tbody>
			<tr>
				<td>
					<p class="a DocDefaults " style="">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">文件编号：CTJB-</span></span><span class="a0 "
							style="font-family: 'SimSun';">0304-BG16</span>
					</p>
				</td>
				<td>
					<p class="a DocDefaults " style="text-align: right;">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">实施日期：2018年5月1日</span></span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a DocDefaults"
		style="text-align: center; margin-top: 0.11in; margin-bottom: 0.11in; line-height: 100%;">
		<span class="a0 dtitle" style="font-size: 20.5pt; position: relative;">安全附件与仪表检验报告</span>
	</p>
	<table id="docx4j_tbl_45"
		style="position: relative; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 165mm;"
		class="">
		<colgroup>
			<col border="1" style="width: 9.09%;" class="">
			<col border="1" style="width: 5.79%;" class="">
			<col border="1" style="width: 13.93%;" class="">
			<col border="1" style="width: 1.52%;" class="">
			<col border="1" style="width: 7.58%;" class="">
			<col border="1" style="width: 15.17%;" class="">
			<col border="1" style="width: 9.1%;" class="">
			<col border="1" style="width: 8.83%;" class="">
			<col border="1" style="width: 4.83%;" class="">
			<col border="1" style="width: 9.11%;" class="">
			<col border="1" style="width: 15.07%;" class="">
		</colgroup>
		<tbody>
			<tr style="height: 0.27in;">
				<td colspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; vertical-align: middle;"
					class="">
					<!-- <p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL01745" name="TBL01745" type="text" ltype="text"
							value="" ligerui="{width:320}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p> -->
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">报告编号</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">:</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__report_sn" name="base__report_sn" type="text"
							ltype="text" value="" ligerui="{width:170}" readonly="readonly"
							values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 8mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 10pt; font-family: 'SimSun';">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">装置</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">(</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">单元</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">)</span>
					</p>
					<p class="a DocDefaults"
						style="text-align: center; font-size: 10pt; font-family: 'SimSun';">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">名称</span>
					</p>
				</td>
				<td colspan="4"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__zzmc" name="base__zzmc" type="text" ltype="text"
							value="" ligerui="{width:228}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">管道编号</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__gdbh" name="base__gdbh" type="text" ltype="text"
							value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 8mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">检验项目</span>
					</p>
				</td>
				<td colspan="9"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="position: relative; font-family: 'SimSun'; font-size: 10pt;"><span
							class=""
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">检验结果(选择合适的选项)</span></span>
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in;">
				<td colspan="2" rowspan="3"
					style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; position: relative; margin-left: -0.06in; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">安全阀</span>
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">型号</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">(</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">编号</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">)</span>
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__device_model1" name="base__device_model1"
							type="text" ltype="text" value="" ligerui="{width:131}" values=""
							title="" style="width: 99%; font-family: 'SimSun'; font-size: 10pt;"
							class="  ">
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">安装数量</span>
					</p>
				</td>
				<td colspan="3"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL01747" name="TBL01747" type="text" ltype="text"
							value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">是否在校验</span>
					</p>
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">有效期内</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults">
					<!-- <div id="TBL01790"></div> -->
					<div id="TBL01790" name="TBL01790" type="text" ltype="checkBox"
						value="" class="checkboxDiv" style="font-family: 'SimSun'; font-size: 10pt; margin-left: 1mm;"
						ligerui="{data:[{'id':'是；','text':'是；'},{'id':'否','text':'否'}]}"></div>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">备注</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__remarks1_1" name="base__remarks1_1" type="text"
							ltype="text" value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in;">
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">资料审查</span>
					</p>
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">结论</span>
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults">
					<!-- <div id="TBL01791"></div> -->
					<div id="TBL01791" name="TBL01791" type="text" ltype="checkBox"
						value="" class="checkboxDiv" style="font-family: 'SimSun'; font-size: 10pt; margin-left: 1mm;"
						ligerui="{data:[{'id':'合格；','text':'合格；'},{'id':'不合格','text':'不合格'}]}"></div>
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">备注</span>
					</p>
				</td>
				<td colspan="3"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__remarks1_2" name="base__remarks1_2" type="text"
							ltype="text" value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in;">
				<td colspan="2" rowspan="3"
					style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">爆破片装置</span>
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">型号</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">(</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">编号</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">)</span>
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__device_model2" name="base__device_model2"
							type="text" ltype="text" value="" ligerui="{width:131}" values=""
							title="" style="width: 99%; font-family: 'SimSun'; font-size: 10pt;"
							class="  ">
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">安装数量</span>
					</p>
				</td>
				<td colspan="3"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL01748" name="TBL01748" type="text" ltype="text"
							value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">是否按期</span>
					</p>
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">更换</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults">
					<!-- <div id="TBL01792"></div> -->
					<div id="TBL01792" name="TBL01792" type="text" ltype="checkBox"
						value="" class="checkboxDiv" style="font-family: 'SimSun'; font-size: 10pt; margin-left: 1mm;"
						ligerui="{data:[{'id':'是；','text':'是；'},{'id':'否','text':'否'}]}"></div>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">备注</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__remarks2_1" name="base__remarks2_1" type="text"
							ltype="text" value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in;">
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">资料审查</span>
					</p>
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">结论</span>
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults">
					<!-- <div id="TBL01793"></div> -->
					<div id="TBL01793" name="TBL01793" type="text" ltype="checkBox"
						value="" class="checkboxDiv" style="font-family: 'SimSun'; font-size: 10pt; margin-left: 1mm;"
						ligerui="{data:[{'id':'合格；','text':'合格；'},{'id':'不合格','text':'不合格'}]}"></div>
					</p>
					<p></p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">备注</span>
					</p>
				</td>
				<td colspan="3"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__remarks2_2" name="base__remarks2_2" type="text"
							ltype="text" value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in;">
				<td colspan="2" rowspan="3"
					style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">紧急切断阀</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">型号</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">(</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">编号</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">)</span>
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__device_model3" name="base__device_model3"
							type="text" ltype="text" value="" ligerui="{width:131}" values=""
							title="" style="width: 99%; font-family: 'SimSun'; font-size: 10pt;"
							class="  ">
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">安装数量</span>
					</p>
				</td>
				<td colspan="3"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL01749" name="TBL01749" type="text" ltype="text"
							value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">是否完好</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults">
					<!-- <div id="TBL01794"></div> -->
					<div id="TBL01794" name="TBL01794" type="text" ltype="checkBox"
						value="" class="checkboxDiv" style="font-family: 'SimSun'; font-size: 10pt; margin-left: 1mm;"
						ligerui="{data:[{'id':'是；','text':'是；'},{'id':'否','text':'否'}]}"></div>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">备注</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__remarks3_1" name="base__remarks3_1" type="text"
							ltype="text" value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">资料审查</span>
					</p>
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">结论</span>
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults">
					<!-- <div id="TBL01795"></div> -->
					<div id="TBL01795" name="TBL01795" type="text" ltype="checkBox"
						value="" class="checkboxDiv" style="font-family: 'SimSun'; font-size: 10pt; margin-left: 1mm;"
						ligerui="{data:[{'id':'合格；','text':'合格；'},{'id':'不合格','text':'不合格'}]}"></div>
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">备注</span>
					</p>
				</td>
				<td colspan="3"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__remarks3_2" name="base__remarks3_2" type="text"
							ltype="text" value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in;">
				<td colspan="2" rowspan="3"
					style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">压力表</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">型号</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">(</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">编号</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">)</span>
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__device_model4" name="base__device_model4"
							type="text" ltype="text" value="" ligerui="{width:131}" values=""
							title="" style="width: 99%; font-family: 'SimSun'; font-size: 10pt;"
							class="  ">
					</p>
				</td>
				<td colspan="2"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">安装数量</span>
					</p>
				</td>
				<td colspan="3"
					style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL01750" name="TBL01750" type="text" ltype="text"
							value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">是否在检定</span>
					</p>
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">有效期内</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults">
					<!-- <div id="TBL01796"></div> -->
					<div id="TBL01796" name="TBL01796" type="text" ltype="checkBox"
						value="" class="checkboxDiv" style="font-family: 'SimSun'; font-size: 10pt; margin-left: 1mm;"
						ligerui="{data:[{'id':'是；','text':'是；'},{'id':'否','text':'否'}]}"></div>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">备注</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__remarks4_1" name="base__remarks4_1" type="text"
							ltype="text" value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">资料审查</span>
					</p>
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">结论</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults">
					<!-- <div id="TBL01797"></div> -->
					<div id="TBL01797" name="TBL01797" type="text" ltype="checkBox"
						value="" class="checkboxDiv" style="font-family: 'SimSun'; font-size: 10pt; margin-left: 1mm;"
						ligerui="{data:[{'id':'合格；','text':'合格；'},{'id':'不合格','text':'不合格'}]}"></div>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">备注</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__remarks4_2" name="base__remarks4_2" type="text"
							ltype="text" value="" ligerui="{width:170}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 6mm;">
				<td colspan="11"
					style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="font-family: 'SimSun'; font-size: 10pt; margin-left: 1mm;">
						<span class="a0"
							style="position: relative; font-family: 'SimSun'; font-size: 10pt;"><span
							class=""
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">其它问题记载：</span></span>
					</p>
				</td>
			</tr>
			<tr style="height: 18mm;">
				<td colspan="11"
					style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000;"
					class="">
					<p class="a DocDefaults" style="width: 99%;">
						<!-- <input id="TBL01751" name="TBL01751" type="text" ltype="text"
							value="" ligerui="{width:613}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;" class="  "> -->
						<textarea rows="4" cols="" id="TBL01751" name="TBL01751"
							style="margin-left: 1mm; font-family: 'SimSun'; font-size: 10pt;"></textarea>
					</p>
				</td>
			</tr>
			<tr style="height: 0.39in;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="font-family: 'SimSun'; font-size: 10pt; margin-left: 1mm;">
						<span class="a0"
							style="position: relative; font-family: 'SimSun'; font-size: 10pt;"><span
							class=""
							style="font-family: 'SimSun'; position: relative; font-size: 10pt;">检验:</span></span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__inspect_op24" name="base__inspect_op24"
							type="text" ltype="select" value=""
							ligerui="{isMultiSelect:true,width:112}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;"
							class="      ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="font-family: 'SimSun'; font-size: 10pt; text-align: center;">
						<span class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt; text-align: center;">日期</span><span
							class="a0"
							style="font-family: 'SimSun'; position: relative; font-size: 10pt; text-align: center;">:</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__inspect_date24" name="base__inspect_date24"
							value="" values="" type="text" ltype="date"
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;"
							ligerui="{width:84}" title="">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="position: relative; font-family: 'SimSun'; font-size: 10pt; text-align: center;"><span
							class=""
							style="font-family: 'SimSun'; position: relative; font-size: 10pt; text-align: center;">审核:</span></span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__audit_op24" name="base__audit_op24" type="text"
							ltype="select" value="" ligerui="{width:75}" values="" title=""
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;"
							class="        ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-family: 'SimSun'; font-size: 10pt;">
						<span class="a0"
							style="position: relative; font-family: 'SimSun'; font-size: 10pt; text-align: center;"><span
							class=""
							style="font-family: 'SimSun'; position: relative; font-size: 10pt; text-align: center;">日期:</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__audit_time24" name="base__audit_time24" value=""
							values="" type="text" ltype="date"
							style="width: 99%; font-family: 'SimSun'; font-size: 10pt;"
							ligerui="{width:83}" title="">
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>