<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

</head>

<body>
	<input type="hidden" id="fk_report_id" name="fk_report_id"
		value="${param.fk_report_id}">
	<input type="hidden" id="fk_inspection_info_id"
		name="fk_inspection_info_id" value="${param.fk_inspection_info_id}">

	<input type="hidden" id="nextPage" name="nextPage" value="20">
	<br />
	<p class="a DocDefaults " style="">
		<a name="RTPAGE_18__超声检测报告（附图）"></a>
	</p>
	<table
		style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 164mm;">
		<colgroup>
			<col style="width: 50.03%;" />
			<col style="width: 49.97%;" />
		</colgroup>
		<tbody>
			<tr>
				<td>
					<p class="a DocDefaults " style="">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">文件编号：CTJB-</span></span><span class="a0 "
							style="font-family: 'SimSun';">0304-BG11</span>
					</p>
				</td>
				<td>
					<p class="a DocDefaults " style="text-align: right;">
						<span class="a0 " style=""><span class=""
							style="font-family: 'SimSun';">实施日期：2018年5月1日</span></span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a DocDefaults "
		style="text-align: center; margin-top: 0.11in; margin-bottom: 0.11in; line-height: 100%;">
		<span class="a0 " style="font-size: 20.5pt;"><span class=""
			style="">超声检测报告（附图）</span></span>
	</p>
	<table id="docx4j_tbl_35"
		style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 165mm;">
		<colgroup>
			<col style="width: 9.09%;" />
			<col style="width: 16.65%;" />
			<col style="width: 9.09%;" />
			<col style="width: 15.16%;" />
			<col style="width: 1.22%;" />
			<col style="width: 7.85%;" />
			<col style="width: 15.93%;" />
			<col style="width: 0.61%;" />
			<col style="width: 7.69%;" />
			<col style="width: 16.71%;" />
		</colgroup>
		<tbody>
			<tr style="height: 0.3in; border-left: hidden; border-right: hidden; border-top: hidden;">
				<td colspan="4"
					style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;">
					<!-- <p class="a DocDefaults ">
						<input id="TBL01511" name="TBL01511" type="text" ltype="text"
							value="" ligerui="{width:302}" />
					</p> -->
				</td>
				<td colspan="3"
					style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;">
					<p class="a DocDefaults "
						style="text-align: center; line-height: 125%;">
						<span class="a0 " style="font-family: 'SimSun';">报告编号</span><span
							class="a0 " style="font-family: 'Times New Roman';">:</span>
					</p>
				</td>
				<td colspan="3"
					style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: none; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__report_sn" name="base__report_sn" type="text"
							ltype="text" value="" ligerui="{width:146}" readonly="readonly" />
					</p>
				</td>
			</tr>
			<tr style="height: 0.3in;">
				<td colspan="10"
					style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="TBL01512" name="TBL01512" type="text" ltype="text"
							style="text-align: left; margin-left: 1mm; font-size: 10.0pt;; font-family: 'SimSun';"
							value="" ligerui="{width:614}" />
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="10"
					style="background-color: #FFFFFF; border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none;">
					<p class="a DocDefaults ">
						<!-- <input id="TBL01513" name="TBL01513" type="text" ltype="text"
							value="" ligerui="{width:614}" /> -->
						<div id="TBL01513" name="TBL01513" class="uploadPhoto"  
							style="width: 480px; height: 360px; margin-left: 10%;" 
							align="center">TBL01513</div>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="10"
					style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none;">
					<p class="a DocDefaults " style="width: 99%;">
						<!-- <input id="TBL01511" name="TBL01511" type="text" ltype="text"
							value="" ligerui="{width:614}" /> -->
						<textarea rows="25" id="TBL01511" name="TBL01511" cols=""
							style="margin-left: 1mm; font-size: 10.0pt;; font-family: 'SimSun';"></textarea>
					</p>
				</td>
			</tr>
			<tr style="height: 9mm;">
				<td
					style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults " style="margin-left: 1mm;">
						<span class="a0 "
							style="font-size: 10.0pt;; font-family: 'SimSun';">检测:</span>
					</p>
				</td>
				<td
					style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__inspect_op19" name="base__inspect_op19" type="text"
							style="font-size: 10.0pt;; font-family: 'SimSun';"
							ltype="select" value="" ligerui="{width:93,isMultiSelect:true}" />
					</p>
				</td>
				<td
					style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults " style="text-align: center;">
						<span class="a0 " style="font-size: 10.0pt;"><span class=""
							style="font-family: 'SimSun';">日期:</span></span>
					</p>
				</td>
				<td colspan="2"
					style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__inspect_date19" name="base__inspect_date19" type="text" ltype="date"
							style="font-size: 10.0pt;; font-family: 'SimSun';"
							value="" ligerui="{width:92}" />
					</p>
				</td>
				<td
					style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults " style="text-align: center;">
						<span class="a0 "
							style="font-size: 10.0pt;; font-family: 'SimSun';">审核:</span>
					</p>
				</td>
				<td colspan="2"
					style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__audit_op19" name="base__audit_op19" type="text"
							style="font-size: 10.0pt;; font-family: 'SimSun';"
							ltype="select" value="" ligerui="{width:93}" />
					</p>
				</td>
				<td
					style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults " style="text-align: center;">
						<span class="a0 " style="font-size: 10.0pt;"><span class=""
							style="font-family: 'SimSun';">日期:</span></span>
					</p>
				</td>
				<td
					style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;">
					<p class="a DocDefaults ">
						<input id="base__audit_time19" name="base__audit_time19" type="text" ltype="date"
							style="font-size: 10.0pt;; font-family: 'SimSun';"
							value="" ligerui="{width:94}" />
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
