<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<input type="hidden" id="nextPage" name="nextPage" value="3" values="3" title="" style="width: 99%;">
	<br>
	<p class="a9 a DocDefaults" style="">
		<span class="a0" style="font-family: SimSun; position: relative; font-size: 16pt;"></span>
		<a name="_Toc321250596"></a>
		<span class="a0" style="font-family: SimSun; position: relative; font-size: 16pt;"></span>
		<a name="RTPAGE_1__注意事项"></a>
		<span class="a0" style="font-family: SimSun; position: relative; font-size: 16pt;">注意事项</span>
	</p>
	<div style="width: 75% ">
		<p class="a7 a DocDefaults" style="position: relative; text-indent: 0.4in; font-size: 14pt; text-align: left; margin-top: 30px;">
			<span class="a0" style="font-size: 14pt; font-family: SimSun; position: relative; text-align: left;">1、 本报告依据《电梯监督检验和定期检验规则—液压电梯》(TSG T7001—2012)制定，适用于液压电梯定期检验。</span>
		</p>
		<br>
		<p class="a7 a DocDefaults" style="position: relative; text-indent: 0.4in; font-size: 14pt; text-align: left;">
			<span class="" style="font-family: SimSun; position: relative; font-size: 14pt; text-align: left;">2. 本报告应当由计算机打印输出，或者用钢笔、签字笔填写，字迹应当工整，修改无效。</span>
		</p>
		<br>
		<p class="a7 a DocDefaults" style="position: relative; text-indent: 0.4in; font-size: 14pt; text-align: left;">
			<span class="a0" style="font-size: 14pt; font-family: SimSun; position: relative; text-align: left;">3. 本报告无检验、编制、审核、批准人员签字和检验机构的核准证号、检验专用章或者公章的鲜章无效。</span>
		</p>
		<br>
		<p class="a7 a DocDefaults" style="position: relative; text-indent: 0.4in; font-size: 14pt; text-align: left;">
			<span class="" style="font-family: SimSun; position: relative; font-size: 14pt; text-align: left;">4. 本报告一式三份，由检验机构、使用单位、日常维护保养单位分别保存。</span>
		</p>
		<br>
		<p class="a7 a DocDefaults" style="position: relative; text-indent: 0.4in; font-size: 14pt; text-align: left;">
			<span class="" style="font-family: SimSun; position: relative; font-size: 14pt; text-align: left;">5. 未经检验机构同意，部分引用本报告无效。</span>
		</p>
		<br>
		<p class="a7 a DocDefaults" style="position: relative; text-indent: 0.4in; font-size: 14pt; text-align: left;">
			<span class="a0" style="font-size: 14pt; font-family: SimSun; position: relative; text-align: left;">6. 受检单位对本报告结论如有异议，请在收到报告书之日起15日内，向检验机构提出书面意见。</span>
		</p>
		<p class="a7 a DocDefaults" style="position: relative; text-indent: 0.4in; font-size: 14pt; text-align: left;">
			<span class="a0" style="font-size: 14pt; font-family: SimSun; position: relative; text-align: left;">7. 7.本报告仅反映该设备检验时的状态。</span>
		</p>
		<p class="a DocDefaults" style="position: relative; text-indent: 0.33in; line-height: 150%;"></p>
		<p class="a DocDefaults"></p>
		<p class="a DocDefaults"></p>
		<p class="a DocDefaults"></p>
		<p class="a DocDefaults"></p>
		<p class="a DocDefaults"></p>
		<p class="a DocDefaults"></p>
		<p class="a DocDefaults" style="text-align: left; position: relative; text-indent: 10mm; line-height: 191%; font-size: 14pt; margin-top: 100px">
			<span class="" style="font-family: SimSun; position: relative; font-size: 14pt; text-align: left;">检验机构地址:四川省成都市东风路二段北二巷4号</span>
		</p>
		<p class="a DocDefaults" style="text-align: left; position: relative; text-indent: 10mm; line-height: 191%; font-size: 14pt;">
			<span class="" style="font-family: SimSun; position: relative; font-size: 14pt; text-align: left;">邮政编码：610061</span>
		</p>
		<p class="a DocDefaults" style="text-align: left; position: relative; text-indent: 10mm; line-height: 191%; font-size: 14pt;">
			<span class="" style="font-family: SimSun; position: relative; font-size: 14pt; text-align: left;">联系电话：028-86607888</span>
		</p>

	
	</div>
	<p class="a DocDefaults" style="text-align: left; position: relative; text-indent: 10mm; line-height: 191%;"></p>
	<p class="a DocDefaults" style="text-align: left; position: relative; text-indent: 10mm; line-height: 191%;"></p>
	<p class="a DocDefaults" style="text-align: left; position: relative; text-indent: 10mm; line-height: 191%;"></p>
	<p class="a DocDefaults" style="text-align: left; position: relative; text-indent: 10mm; line-height: 191%;"></p>
	<p class="a DocDefaults" style="text-align: left; position: relative; text-indent: 10mm; line-height: 191%;"></p>
	<p class="a DocDefaults" style="text-align: left; position: relative; text-indent: 10mm; line-height: 191%;"></p>
	<p class="a DocDefaults" style="text-align: left; position: relative; text-indent: 10mm; line-height: 191%;"></p>
	<p class="a9 a DocDefaults"></p>
	</div>
</body>
</html>
</div>
</body>
</html>
</div>
</body>
</html>
</div>
</body>
</html>