<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>CTJB-0204-BG压力容器定期检验报告</title> 
 
</head>

<body>
	<div id="layout2" style="width: 99.8%">
		<input type="hidden" id="inputFocus" name="inputFocus" />
		 <input type="hidden" id="code_ext" name="code_ext"  value="${param.code_ext}"/> 
		<div position="center" style="overflow: auto;" align="center">
			<form id="formObj" action="reportItemValueAction/saveMap.do?page=16"
				getAction="reportItemValueAction/detailMap.do?page=16">
				<input type="hidden" id="fk_report_id" name="fk_report_id"
					value="${param.fk_report_id}"> <input type="hidden"
					id="fk_inspection_info_id" name="fk_inspection_info_id"
					value="${param.fk_inspection_info_id}"> <input
					type="hidden" id="nextPage" name="nextPage" value="17"> <br />
				<p class="a DocDefaults " style="text-align: center;">
					<a name="RTPAGE_11__磁粉检测报告" ></a>
				</p>
				<table id="docx4j_tbl_30"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in;">
					<colgroup>
						<col style="width: 50%;" />
						<col style="width: 50%;" />
					</colgroup>
					<tbody>
						<tr>
							<td
								style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">文件编号：</span></span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">CTJB-0204-BG11</span>
								</p>
							</td>
							<td
								style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;">
								<p class="a DocDefaults "
									style="text-align: right; page-break-before: always;">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">实施日期：</span></span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">2016年10月1日</span>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<br/>
				<p class="a DocDefaults " style="text-align: center;">
					<span class="a0 "
						style="font-weight: bold; color: #000000; font-size: 16.0pt;; font-family: 'SimSun';">磁粉检测报告</span>
				</p>
				<table id="docx4j_tbl_31"
					style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 7.49in;">
					<colgroup>
						<col style="width: 7.55%;" />
						<col style="width: 2.98%;" />
						<col style="width: 6.62%;" />
						<col style="width: 1.31%;" />
						<col style="width: 2.63%;" />
						<col style="width: 3.94%;" />
						<col style="width: 6.83%;" />
						<col style="width: 0.2%;" />
						<col style="width: 0.86%;" />
						<col style="width: 1.31%;" />
						<col style="width: 1.32%;" />
						<col style="width: 5.38%;" />
						<col style="width: 6.46%;" />
						<col style="width: 3.52%;" />
						<col style="width: 0.89%;" />
						<col style="width: 7%;" />
						<col style="width: 4.36%;" />
						<col style="width: 8.78%;" />
						<col style="width: 0.9%;" />
						<col style="width: 4.78%;" />
						<col style="width: 1.23%;" />
						<col style="width: 1.4%;" />
						<col style="width: 15.78%;" />
						<col style="width: 3.78%;" />
						<col style="width: 0.18%;" />
					</colgroup>
					<tbody>
						<tr style="height: 0.24in;">
							<td colspan="21"
								style="background-color: #FFFFFF; border-bottom-style: none; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: right;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">报告编号：</span>
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__report_sn" name="base__report_sn" type="text"
										ltype="text" value="" ligerui="{width:141}"
										readonly="readonly" />
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">检测仪器型号</span>
								</p>
							</td>
							<td colspan="8"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01653" name="TBL01653" type="text" ltype="text"
										value="" ligerui="{width:140}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">检测仪器编号</span>
								</p>
							</td>
							<td colspan="8"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01654" name="TBL01654" type="text" ltype="text"
										value="" ligerui="{width:236}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">磁粉类型</span>
								</p>
							</td>
							<td colspan="8"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01655" name="TBL01655" type="text" ltype="text"
										value="" ligerui="{width:140}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">磁悬液</span>
								</p>
							</td>
							<td colspan="8"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01656" name="TBL01656" type="text" ltype="text"
										value="" ligerui="{width:236}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">灵敏度试片</span>
								</p>
							</td>
							<td colspan="8"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01657" name="TBL01657" type="text" ltype="text"
										value="" ligerui="{width:140}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">磁化方法</span>
								</p>
							</td>
							<td colspan="8"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01658" name="TBL01658" type="text" ltype="text"
										value="" ligerui="{width:236}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">提升力</span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">/</span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">磁化电流</span>
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="base__cftsl" name="base__cftsl" type="text"
										ltype="text" value="" ligerui="{width:140}" />
								</p>
							</td>
							<td
								style="background-color: #FFFFFF; border-bottom-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">/</span>
								</p>
							</td>
							<td colspan="3"
								style="background-color: #FFFFFF; border-bottom-style: none; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="base__cfchdl" name="base__cfchdl" type="text"
										ltype="text" value="" ligerui="{width:140}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">喷洒方法</span>
								</p>
							</td>
							<td colspan="8"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01659" name="TBL01659" type="text" ltype="text"
										value="" ligerui="{width:236}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">检测标准</span>
								</p>
							</td>
							<td colspan="8"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01660" name="TBL01660" type="text" ltype="text"
										value="" ligerui="{width:140}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">检测比例</span>
								</p>
							</td>
							<td colspan="3"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<input id="base__cfjcbl1" name="base__cfjcbl1" type="text"
										ltype="text" value="" ligerui="{width:140}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">%</span>
								</p>
							</td>
							<td
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<input id="base__cfjcbl2" name="base__cfjcbl2" type="text"
										ltype="text" value="" ligerui="{width:140}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">mm</span>
								</p>
							</td>
						</tr>
						<tr style="height: 6mm;">
							<td colspan="12"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">检测部位</span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">(</span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">区段</span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">)</span><span
										class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">及缺陷位置示意图：</span></span>
								</p>
							</td>
							<td colspan="13"
								style="background-color: #FFFFFF; border-bottom-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01661" name="TBL01661" type="text" ltype="text"
										value="" ligerui="{width:414}" />
								</p>
							</td>
						</tr>
						<tr style="height: 52mm;">
							<td colspan="25"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
								<div id='TBL01662' name='TBL01662' class='uploadPhoto'
									style='width: 530.0421052631579pt; height: 147.96850393700785pt;'
									align='center'></div>
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="25"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
								<br/>
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">检测结果评定表</span>
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<br/>
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">区段</span>
								</p>
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">编号</span>
								</p>
							</td>
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">缺陷位置</span>
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">缺陷磁痕尺寸(mm)</span>
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">缺陷性质</span>
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">评定</span>
								</p>
							</td>
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">备注</span>
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01663" name="TBL01663" type="text" ltype="text"
										value="" ligerui="{width:65}" />
								</p>
							</td>
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01664" name="TBL01664" type="text" ltype="text"
										value="" ligerui="{width:144}" />
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01665" name="TBL01665" type="text" ltype="text"
										value="" ligerui="{width:131}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01666" name="TBL01666" type="text" ltype="text"
										value="" ligerui="{width:90}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01667" name="TBL01667" type="text" ltype="text"
										value="" ligerui="{width:40}" />
								</p>
							</td>
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01668" name="TBL01668" type="text" ltype="text"
										value="" ligerui="{width:185}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01669" name="TBL01669" type="text" ltype="text"
										value="" ligerui="{width:65}" />
								</p>
							</td>
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01670" name="TBL01670" type="text" ltype="text"
										value="" ligerui="{width:144}" />
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01671" name="TBL01671" type="text" ltype="text"
										value="" ligerui="{width:131}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01672" name="TBL01672" type="text" ltype="text"
										value="" ligerui="{width:90}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01673" name="TBL01673" type="text" ltype="text"
										value="" ligerui="{width:40}" />
								</p>
							</td>
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01674" name="TBL01674" type="text" ltype="text"
										value="" ligerui="{width:185}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01675" name="TBL01675" type="text" ltype="text"
										value="" ligerui="{width:65}" />
								</p>
							</td>
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01676" name="TBL01676" type="text" ltype="text"
										value="" ligerui="{width:144}" />
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01677" name="TBL01677" type="text" ltype="text"
										value="" ligerui="{width:131}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01678" name="TBL01678" type="text" ltype="text"
										value="" ligerui="{width:90}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01679" name="TBL01679" type="text" ltype="text"
										value="" ligerui="{width:40}" />
								</p>
							</td>
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01680" name="TBL01680" type="text" ltype="text"
										value="" ligerui="{width:185}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01681" name="TBL01681" type="text" ltype="text"
										value="" ligerui="{width:65}" />
								</p>
							</td>
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01682" name="TBL01682" type="text" ltype="text"
										value="" ligerui="{width:144}" />
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01683" name="TBL01683" type="text" ltype="text"
										value="" ligerui="{width:131}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01684" name="TBL01684" type="text" ltype="text"
										value="" ligerui="{width:90}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01685" name="TBL01685" type="text" ltype="text"
										value="" ligerui="{width:40}" />
								</p>
							</td>
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01686" name="TBL01686" type="text" ltype="text"
										value="" ligerui="{width:185}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01687" name="TBL01687" type="text" ltype="text"
										value="" ligerui="{width:65}" />
								</p>
							</td>
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01688" name="TBL01688" type="text" ltype="text"
										value="" ligerui="{width:144}" />
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01689" name="TBL01689" type="text" ltype="text"
										value="" ligerui="{width:131}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01690" name="TBL01690" type="text" ltype="text"
										value="" ligerui="{width:90}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01691" name="TBL01691" type="text" ltype="text"
										value="" ligerui="{width:40}" />
								</p>
							</td>
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01692" name="TBL01692" type="text" ltype="text"
										value="" ligerui="{width:185}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0.4in;">
							<td
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">检测：</span></span>
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__inspection_op16" name="base__inspection_op16"  class="combotreeInput"
										type="text" value="" 
										ligerui="{data:<u:dict sql="select t.id, t.pid, t.code, t.text from (select o.id as id,o.id as code,o.ORG_NAME as text,o.PARENT_ID as pid from sys_org o union select e.id as id, e.id as code, e.NAME as text, e.ORG_ID as pid from employee e where e.ORG_ID != '100049') t where t.id!='100049' start with t.id in ('100029', '100034', '100035','100033', '100065', '100036','100037', '100066','100067','100045') connect by t.pid = prior t.id"/>
								</p>
							</td>
							<td colspan="1"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">日期：</span></span>
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__inspection_date16"
										name="base__inspection_date16" type="text" ltype="date"
										value="" ligerui="{width:130,isMultiSelect:true}" required />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">审核：</span></span>
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__audit_op16" name="base__audit_op16"
										type="text" ltype="select" value=""
										ligerui="{width:84,data:<u:dict sql= '<%=audit_op_ws%>'/>}" />
								</p>
							</td>
							<td colspan="3"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">日期：</span>
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__AUDIT_DATE16" name="base__AUDIT_DATE16"
										type="text" ltype="text" value=""
										ligerui="{width:119,isMultiSelect:true}" readonly="readonly" />
								</p>
							</td>
						</tr>
						<tr style="height: 0mm;">
							<td colspan="25"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<br/>
									<span class="a0 "
										style="font-weight: bold; color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">以下内容由检验员填写</span>
								</p>
							</td>
						</tr>
						<tr style="height: 1mm;">
							<td colspan="25"
								style="background-color: #FFFFFF; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<br/>
									<span class="a0 " style=""><span class=""
										style="font-family: 'SimSun';">安全状况等级评定：</span></span>
								</p>
							</td>
						</tr>
						<tr style="height: 0.02in;">
							<td colspan="25"
								style="background-color: #FFFFFF; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
								<table>
									<tr>
										<td>
											<div id="base__cfjc_item1"></div>
										</td>
										<td colspan="2"><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">1、无可记录缺陷，不影响定级。</span></span>
										</td>

									</tr>
									<tr>
										<td><div id="base__cfjc_item2"></div></td>
										<td colspan="3"><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">2、有表面裂纹，打磨消除，打磨后形成的凹坑深度为</span></span>
										</td>
										<td style="width: 100px;"><input id="base__CFJC_AKSD"
											name="base__CFJC_AKSD" type="text" ltype="text" value=""
											ligerui="{width:152}" /></td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">mm,壁厚余量（实测壁厚-</span></span>
										</td>

									</tr>
									<tr>
										<td></td>
										<td align="left" style="width: 180px;"><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">名义厚度+腐蚀裕量）为</span></span></td>
										<td style="width: 100px;"><input id="base__CFJC_BHYL"
											name="base__CFJC_BHYL" type="text" ltype="text" value=""
											ligerui="{width:152}" /></td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">mm：</span></span></td>
									</tr>

								</table>



								</p>
							</td>
						</tr>
						<tr style="height: 0.02in;">
							<td colspan="25"
								style="background-color: #FFFFFF; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
								<table style="margin-left: 30px;">
									<tr>
										<td>
											<div id="base__cfjc_item3"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">1）凹坑深度小于壁厚余量，该凹坑允许存在，不影响定级。</span></span>
										</td>
										<td></td>

									</tr>
									<tr>
										<td>
											<div id="base__cfjc_item4"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">2）该凹坑在允许范围内，不影响定级（附凹坑无量纲参数计算）。</span></span>
										</td>
										<td></td>

									</tr>
									<tr>
										<td>
											<div id="base__cfjc_item5"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">3）该凹坑不在允许范围内，应当补焊或者进行应力分析，复核结果：</span></span>
										</td>
										<td></td>

									</tr>
								</table>
								<table style="margin-left: 50px;">
									<tr>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">补焊:</span></span></td>
										<td>
											<div id="base__cfjc_item6"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">合格</span></span></td>
										<td>
											<div id="base__cfjc_item7"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">不合格</span></span></td>

									</tr>
									<tr>
										<td colspan="5"><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">应力分析结果表明:</span> </span></td>
										<td>
											<div id="base__cfjc_item8"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">不影响安全使用</span></span></td>
										<td>
											<div id="base__cfjc_item9"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">影响安全使用</span></span></td>

									</tr>
								</table>

								</p>
							</td>
						</tr>

						<tr style="height: 0.02in;">
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<span class="a0 " style=""><span class=""
										style="font-family: 'SimSun';">结论：安全状况等级评定为</span></span>
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="base__CFJC_AQDJ" name="base__CFJC_AQDJ" type="text"
										ltype="text" value="" ligerui="{width:144}" />
								</p>
							</td>
							<td colspan="14"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<span class="" style="font-family: 'SimSun';">级</span><span
										class="a0 " style="font-family: 'SimSun';">。</span>
								</p>
							</td>
						</tr>
						<tr style="height: 0.4in;">
							<td
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">检验：</span></span>
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__inspection_op" name="base__inspection_op"
										type="text" ltype="select" value=""
										ligerui="{width:112,data:<u:dict sql= '<%=inspect_op%>'/>,isMultiSelect:true}" />
								</p>
							</td>
							<td colspan="1"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">日期：</span></span>
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__inspection_date" name="base__inspection_date"
										type="text" ltype="text" value=""
										ligerui="{width:119,isMultiSelect:true}" readonly="readonly" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">审核：</span></span>
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__audit_op" name="base__audit_op" type="text"
										ltype="select" value=""
										ligerui="{width:84,data:<u:dict sql= '<%=audit_op_bg%>'/>}" />
								</p>
							</td>
							<td colspan="3"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">日期：</span>
								</p>
							</td>
							<td colspan="3"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__audit_date" name="base__audit_date"
										type="text" ltype="text" value=""
										ligerui="{width:119,isMultiSelect:true}" readonly="readonly" />
								</p>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="a DocDefaults "
					style="text-align: left; page-break-before: always;"> </p>
				<p class="a DocDefaults " style="text-align: center;">
			</form>
		</div>
	</div>
</body>
</html>
