<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>CTJB-0204-BG压力容器定期检验报告</title> 
 
</head>

<body>
	<div id="layout2" style="width: 99.8%">
		<input type="hidden" id="inputFocus" name="inputFocus" />
		 <input type="hidden" id="code_ext" name="code_ext"  value="${param.code_ext}"/>
		<div position="center" style="overflow: auto;" align="center">
			<form id="formObj" action="reportItemValueAction/saveMap.do?page=18"
				getAction="reportItemValueAction/detailMap.do?page=18">
				<input type="hidden" id="fk_report_id" name="fk_report_id"
					value="${param.fk_report_id}"> <input type="hidden"
					id="fk_inspection_info_id" name="fk_inspection_info_id"
					value="${param.fk_inspection_info_id}"> <input
					type="hidden" id="nextPage" name="nextPage" value="19"> <br />
				<p class="a DocDefaults " style="text-align: center;">
					<a name="RTPAGE_12__渗透检测报告" ></a>
				</p>
				<table id="docx4j_tbl_34"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in;">
					<colgroup>
						<col style="width: 50%;" />
						<col style="width: 50%;" />
					</colgroup>
					<tbody>
						<tr>
							<td
								style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">文件编号：</span></span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">CTJB-0204-BG12</span>
								</p>
							</td>
							<td
								style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;">
								<p class="a DocDefaults "
									style="text-align: right; page-break-before: always;">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">实施日期：</span></span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">2016年10月1日</span>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<br/>
				<p class="a DocDefaults " style="text-align: center;">
					<span class="a0 "
						style="font-weight: bold; color: #000000; font-size: 16.0pt;; font-family: 'SimSun';">渗透检测报告</span>
				</p>
				<table id="docx4j_tbl_35"
					style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; position: relative; margin-left: -0.59in; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 195mm;">
					<colgroup>
						<col style="width: 1.37%;" />
						<col style="width: 7.44%;" />
						<col style="width: 3.99%;" />
						<col style="width: 0.49%;" />
						<col style="width: 2.08%;" />
						<col style="width: 8.96%;" />
						<col style="width: 6.62%;" />
						<col style="width: 2.35%;" />
						<col style="width: 1.17%;" />
						<col style="width: 1.38%;" />
						<col style="width: 2.14%;" />
						<col style="width: 9.5%;" />
						<col style="width: 6.21%;" />
						<col style="width: 2.84%;" />
						<col style="width: 3.62%;" />
						<col style="width: 4.06%;" />
						<col style="width: 2.94%;" />
						<col style="width: 8.44%;" />
						<col style="width: 1.19%;" />
						<col style="width: 2.56%;" />
						<col style="width: 2.56%;" />
						<col style="width: 2.09%;" />
						<col style="width: 9.43%;" />
						<col style="width: 5.12%;" />
						<col style="width: 1.44%;" />
					</colgroup>
					<tbody>
						<tr style="height: 0.24in;">
							<td colspan="15"
								style="background-color: #FFFFFF; border-bottom-style: none; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: right;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">报告编号：</span>
								</p>
							</td>
							<td colspan="9"
								style="background-color: #FFFFFF; border-bottom-style: none; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="base__report_sn" name="base__report_sn" type="text"
										ltype="text" value="" ligerui="{width:221}"
										readonly="readonly" />
								</p>
							</td>
						</tr>
						<tr style="height: 0.24in;">
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">渗透剂型号</span>
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="TBL01897" name="TBL01897" type="text" ltype="text"
										value="" ligerui="{width:139}" />
								</p>
							</td>
							<td colspan="3"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">表面状况</span>
								</p>
							</td>
							<td colspan="9"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01898" name="TBL01898" type="text" ltype="text"
										value="" ligerui="{width:221}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0.12in;">
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">清洗剂型号</span>
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="TBL01899" name="TBL01899" type="text" ltype="text"
										value="" ligerui="{width:139}" />
								</p>
							</td>
							<td colspan="3"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">环境温度</span>
								</p>
							</td>
							<td colspan="9"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
								<table border='0' class='l-text-suffix-wrap'>
									<tr>
										<td class='l-text-left'><input id="TBL01900"
											name="TBL01900" type="text" ltype="text" value=""
											ligerui="{width:205,suffix:'℃'}" /></td>
										<td class='l-text-suffix'>℃</td>
									</tr>
								</table>
								</p>
							</td>
						</tr>
						<tr style="height: 0.17in;">
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">显像剂型号</span>
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="TBL01901" name="TBL01901" type="text" ltype="text"
										value="" ligerui="{width:139}" />
								</p>
							</td>
							<td colspan="3"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">对比试块</span>
								</p>
							</td>
							<td colspan="9"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01902" name="TBL01902" type="text" ltype="text"
										value="" ligerui="{width:221}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0.24in;">
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">渗透时间</span>
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
								<table border='0' class='l-text-suffix-wrap'>
									<tr>
										<td class='l-text-left'><input id="TBL01903"
											name="TBL01903" type="text" ltype="text" value=""
											ligerui="{width:91,suffix:'min'}" /></td>
										<td class='l-text-suffix'>min</td>
									</tr>
								</table>
								</p>
							</td>
							<td colspan="3"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">显像时间</span>
								</p>
							</td>
							<td colspan="9"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
								<table border='0' class='l-text-suffix-wrap'>
									<tr>
										<td class='l-text-left'><input id="TBL01904"
											name="TBL01904" type="text" ltype="text" value=""
											ligerui="{width:173,suffix:'min'}" /></td>
										<td class='l-text-suffix'>min</td>
									</tr>
								</table>
								</p>
							</td>
						</tr>
						<tr style="height: 0.24in;">
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">检测标准</span>
								</p>
							</td>
							<td colspan="7"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="TBL01905" name="TBL01905" type="text" ltype="text"
										value="" ligerui="{width:139}" />
								</p>
							</td>
							<td colspan="3"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">检测比例</span>
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<input id="base__stjcbl1" name="base__stjcbl1" type="text"
										ltype="text" value="" ligerui="{width:139}" />
								</p>
							</td>
							<td
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">%</span>
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<input id="base__stjcbl2" name="base__stjcbl2" type="text"
										ltype="text" value="" ligerui="{width:139}" />
								</p>
							</td>
							<td
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">mm</span>
								</p>
							</td>
						</tr>
						<tr style="height: 3mm;">
							<td colspan="8"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">检测部位及缺陷位置示意图：</span></span>
								</p>
							</td>
							<td colspan="16"
								style="background-color: #FFFFFF; border-bottom-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01906" name="TBL01906" type="text" ltype="text"
										value="" ligerui="{width:471}" />
								</p>
							</td>
						</tr>
						<tr style="height: 1.79in;">
							<td colspan="24"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
								<div id='TBL01907' name='TBL01907' class='uploadPhoto'
									style='width: 549.2631578947369pt; height: 128.69291338582676pt;'
									align='center'></div>
								</p>
							</td>
						</tr>
						<tr style="height: 0.18in;">
							<td colspan="24"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
								<br/>
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">检测结果评定表</span>
								</p>
							</td>
						</tr>
						<tr style="height: 0.24in;">
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
								<br/>
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">区段</span>
								</p>
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">编号</span>
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">缺陷位置</span>
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
								<br/>
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">缺陷痕迹尺寸(mm)</span>
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">缺陷性质</span>
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">评定</span>
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">备注</span>
								</p>
							</td>
						</tr>
						<tr style="height: 0.24in;">
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01908" name="TBL01908" type="text" ltype="text"
										value="" ligerui="{width:88}" />
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01909" name="TBL01909" type="text" ltype="text"
										value="" ligerui="{width:146}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01910" name="TBL01910" type="text" ltype="text"
										value="" ligerui="{width:132}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01911" name="TBL01911" type="text" ltype="text"
										value="" ligerui="{width:89}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01912" name="TBL01912" type="text" ltype="text"
										value="" ligerui="{width:42}" />
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01913" name="TBL01913" type="text" ltype="text"
										value="" ligerui="{width:169}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0.24in;">
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01914" name="TBL01914" type="text" ltype="text"
										value="" ligerui="{width:88}" />
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01915" name="TBL01915" type="text" ltype="text"
										value="" ligerui="{width:146}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01916" name="TBL01916" type="text" ltype="text"
										value="" ligerui="{width:132}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01917" name="TBL01917" type="text" ltype="text"
										value="" ligerui="{width:89}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01918" name="TBL01918" type="text" ltype="text"
										value="" ligerui="{width:42}" />
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01919" name="TBL01919" type="text" ltype="text"
										value="" ligerui="{width:169}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0.24in;">
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01920" name="TBL01920" type="text" ltype="text"
										value="" ligerui="{width:88}" />
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01921" name="TBL01921" type="text" ltype="text"
										value="" ligerui="{width:146}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01922" name="TBL01922" type="text" ltype="text"
										value="" ligerui="{width:132}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01923" name="TBL01923" type="text" ltype="text"
										value="" ligerui="{width:89}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01924" name="TBL01924" type="text" ltype="text"
										value="" ligerui="{width:42}" />
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01925" name="TBL01925" type="text" ltype="text"
										value="" ligerui="{width:169}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0.24in;">
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01926" name="TBL01926" type="text" ltype="text"
										value="" ligerui="{width:88}" />
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01927" name="TBL01927" type="text" ltype="text"
										value="" ligerui="{width:146}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01928" name="TBL01928" type="text" ltype="text"
										value="" ligerui="{width:132}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01929" name="TBL01929" type="text" ltype="text"
										value="" ligerui="{width:89}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01930" name="TBL01930" type="text" ltype="text"
										value="" ligerui="{width:42}" />
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01931" name="TBL01931" type="text" ltype="text"
										value="" ligerui="{width:169}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0.24in;">
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01932" name="TBL01932" type="text" ltype="text"
										value="" ligerui="{width:88}" />
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01933" name="TBL01933" type="text" ltype="text"
										value="" ligerui="{width:146}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01934" name="TBL01934" type="text" ltype="text"
										value="" ligerui="{width:132}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01935" name="TBL01935" type="text" ltype="text"
										value="" ligerui="{width:89}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01936" name="TBL01936" type="text" ltype="text"
										value="" ligerui="{width:42}" />
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01937" name="TBL01937" type="text" ltype="text"
										value="" ligerui="{width:169}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0.24in;">
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01938" name="TBL01938" type="text" ltype="text"
										value="" ligerui="{width:88}" />
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01939" name="TBL01939" type="text" ltype="text"
										value="" ligerui="{width:146}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01940" name="TBL01940" type="text" ltype="text"
										value="" ligerui="{width:132}" />
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01941" name="TBL01941" type="text" ltype="text"
										value="" ligerui="{width:89}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01942" name="TBL01942" type="text" ltype="text"
										value="" ligerui="{width:42}" />
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL01943" name="TBL01943" type="text" ltype="text"
										value="" ligerui="{width:169}" />
								</p>
							</td>
						</tr>
						<tr style="height: 8mm;">
							<td colspan="24" 
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								
							
								<table style="width: 100%;" border="0" bordercolor="#ffffff">
								
									<tr>
									
										<td 
											style="width:8%;
											 background-color: #FFFFFF;  border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
											<p class="a DocDefaults ">
												<span class="a0 "
													style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">检测：</span>
											</p>
										</td>
										<td 
											style="width:17%;background-color: #FFFFFF;  border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
											<p class="a DocDefaults ">
												<input id="base__inspection_op18" name="base__inspection_op18"  class="combotreeInput"
										type="text" value="" width="100px"
										ligerui="{data:<u:dict sql="select t.id, t.pid, t.code, t.text from (select o.id as id,o.id as code,o.ORG_NAME as text,o.PARENT_ID as pid from sys_org o union select e.id as id, e.id as code, e.NAME as text, e.ORG_ID as pid from employee e where e.ORG_ID != '100049') t where t.id!='100049' start with t.id in ('100029', '100034', '100035','100033', '100065', '100036','100037', '100066','100067','100045') connect by t.pid = prior t.id"/>
											</p>
										</td>
										<td 
											style="width:8%;background-color: #FFFFFF; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
											<p class="a DocDefaults ">
												<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
													class="" style="font-family: 'SimSun';">日期：</span></span>
											</p>
										</td>
										<td 
											style="width:17%;background-color: #FFFFFF;  border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
											<p class="a DocDefaults ">
												<input id="base__inspection_date18"
													name="base__inspection_date18" type="text" ltype="date"
													value="" ligerui="{width:130,isMultiSelect:true}" required />
											</p>
										</td>
										<td 
											style="width:8%;background-color: #FFFFFF; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
											<p class="a DocDefaults ">
												<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
													class="" style="font-family: 'SimSun';">审核：</span></span>
											</p>
										</td>
										<td 
											style="width:17%;background-color: #FFFFFF; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
											<p class="a DocDefaults ">
												<input id="base__audit_op18" name="base__audit_op18"
													type="text" ltype="select" value=""
													ligerui="{width:74,data:<u:dict sql= '<%=audit_op_ws%>'/>}" />
											</p>
										</td>
										<td 
											style="width:8%;background-color: #FFFFFF; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
											<p class="a DocDefaults ">
												<span class="a0 "
													style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">日期：</span>
											</p>
										</td>
										<td 
											style="width:17%;background-color: #FFFFFF; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
											<p class="a DocDefaults ">
												<input id="base__AUDIT_DATE18" name="base__AUDIT_DATE18"
													type="text" ltype="text" value=""
													ligerui="{width:153,isMultiSelect:true}" readonly="readonly" />
											</p>
										</td>
									
									</tr>
								
								</table>
							
							
							</td>
						
							
						</tr>
						<tr style="height: 0.2in;">
							<td colspan="24"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="font-weight: bold; color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">以下内容由检验员填写</span>
								</p>
							</td>
						</tr>
						<tr style="height: 6mm;">
							<td colspan="24"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<span class="a0 " style=""><span class=""
										style="font-family: 'SimSun';">安全状况等级评定：</span></span>
								</p>
							</td>
						</tr>
						
						<tr style="height: 6mm;">
							<td colspan="24"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
								
								
								<table>
									<tr>
										<td>
											<div id="base__stjc_item1"></div>
										</td>
										<td colspan="2"><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">1、无可记录缺陷，不影响定级。</span></span>
										</td>

									</tr>
									<tr>
										<td><div id="base__stjc_item2"></div></td>
										<td colspan="3"><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">2、有表面裂纹，打磨消除，打磨后形成的凹坑深度为</span></span>
										</td>
										<td style="width: 100px;"><input id="base__STJC_AKSD"
											name="base__STJC_AKSD" type="text" ltype="text" value=""
											ligerui="{width:152}" /></td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">mm,壁厚余量（实测壁厚-</span></span>
										</td>

									</tr>
									<tr>
										<td></td>
										<td align="left" style="width: 180px;"><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">名义厚度+腐蚀裕量）为</span></span></td>
										<td style="width: 100px;"><input id="base__STJC_BHYL"
											name="base__STJC_BHYL" type="text" ltype="text" value=""
											ligerui="{width:152}" /></td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">mm：</span></span></td>
									</tr>

								</table>
								
							
							</p>
							</td>
						</tr>
						
						<tr style="height: 6mm;">
							<td colspan="24"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
								
								<table style="margin-left: 30px;">
									<tr>
										<td>
											<div id="base__stjc_item3"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">1）凹坑深度小于壁厚余量，该凹坑允许存在，不影响定级。</span></span>
										</td>
										<td></td>

									</tr>
									<tr>
										<td>
											<div id="base__stjc_item4"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">2）该凹坑在允许范围内，不影响定级（附凹坑无量纲参数计算）。</span></span>
										</td>
										<td></td>

									</tr>
									<tr>
										<td>
											<div id="base__stjc_item5"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">3）该凹坑不在允许范围内，应当补焊或者进行应力分析，复核结果：</span></span>
										</td>
										<td></td>

									</tr>
								</table>
								
								<table style="margin-left: 50px;">
									<tr>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">补焊:</span></span></td>
										<td>
											<div id="base__stjc_item6"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">合格</span></span></td>
										<td>
											<div id="base__stjc_item7"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">不合格</span></span></td>

									</tr>
									<tr>
										<td colspan="5"><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">应力分析结果表明:</span> </span></td>
										<td>
											<div id="base__stjc_item8"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">不影响安全使用</span></span></td>
										<td>
											<div id="base__stjc_item9"></div>
										</td>
										<td><span class="a0 "
											style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">影响安全使用</span></span></td>

									</tr>
								</table>
								
								
							</p>
							</td>
						</tr>
						
						<tr style="height: 6mm;">
							<td colspan="6"
								style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<span class="a0 " style=""><span class=""
										style="font-family: 'SimSun';">结论：安全状况等级评定为</span></span>
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: none; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="base__CFJC_AQDJ" name="base__CFJC_AQDJ" type="text"
										ltype="text" value="" ligerui="{width:146}" />
								</p>
							</td>
							<td colspan="14"
								style="background-color: #FFFFFF; border-bottom-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<span class="" style="font-family: 'SimSun';">级</span><span
										class="a0 " style="font-family: 'SimSun';">。</span>
								</p>
							</td>
						</tr>
						<tr style="height: 0.33in;">
						
							<td colspan="24"
							style="background-color: #FFFFFF; border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								
							
								<table style="width: 100%;">
								
									<tr>
									
									<td
										style="width: 8%;background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;  border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
										<p class="a DocDefaults ">
											<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">检验：</span></span>
										</p>
									</td>
									<td 
										style="width: 17%;background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
										<p class="a DocDefaults ">
											<input id="base__inspection_op" name="base__inspection_op"
												type="text" ltype="select" value=""
												ligerui="{width:153,data:<u:dict sql= '<%=inspect_op%>'/>,isMultiSelect:true}" />
										</p>
									</td>
									<td 
										style="width: 8%;background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
										<p class="a DocDefaults ">
											<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">日期：</span></span>
										</p>
									</td>
									<td 
										style="width: 17%;background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
										<p class="a DocDefaults ">
											<input id="base__inspection_date" name="base__inspection_date"
												type="text" ltype="text" value=""
												ligerui="{width:119,isMultiSelect:true}" readonly="readonly" />
										</p>
									</td>
									<td 
										style="width: 8%;background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
										<p class="a DocDefaults ">
											<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
												class="" style="font-family: 'SimSun';">审核：</span></span>
										</p>
									</td>
									<td 
										style="width: 17%;background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
										<p class="a DocDefaults ">
											<input id="base__audit_op" name="base__audit_op" type="text"
												ltype="select" value=""
												ligerui="{width:74,data:<u:dict sql= '<%=audit_op_bg%>'/>}" />
										</p>
									</td>
									<td 
										style="width: 8%;background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
										<p class="a DocDefaults ">
											<span class="a0 "
												style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">日期：</span>
										</p>
									</td>
									<td 
										style="width: 17%;background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
										<p class="a DocDefaults ">
											<input id="base__audit_date" name="base__audit_date"
												type="text" ltype="text" value=""
												ligerui="{width:119,isMultiSelect:true}" readonly="readonly" />
										</p>
									</td>
								</tr>
							</table>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="a DocDefaults "
					style="text-align: left; page-break-before: always;"> </p>
				<p class="a DocDefaults " style="text-align: center;">
			</form>
		</div>
	</div>
</body>
</html>
