<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>CTJB-0204-BG压力容器定期检验报告</title> 
</head>

<body>
	<div id="layout2" style="width: 99.8%">
		<input type="hidden" id="inputFocus" name="inputFocus" />
		 <input type="hidden" id="code_ext" name="code_ext"  value="${param.code_ext}"/> 
		<div position="center" style="overflow: auto;" align="center">
			<form id="formObj" action="reportItemValueAction/saveMap.do?page=9"
				getAction="reportItemValueAction/detailMap.do?page=9">
				<input type="hidden" id="fk_report_id" name="fk_report_id"
					value="${param.fk_report_id}"> <input type="hidden"
					id="fk_inspection_info_id" name="fk_inspection_info_id"
					value="${param.fk_inspection_info_id}"> <input
					type="hidden" id="nextPage" name="nextPage" value="10"> <br />
				<p class="a DocDefaults " style="text-align: center;">
					<a name="RTPAGE_7__壁厚校核报告" ></a>
				</p>
				<table id="docx4j_tbl_16"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in;">
					<colgroup>
						<col style="width: 50%;" />
						<col style="width: 50%;" />
					</colgroup>
					<tbody>
						<tr>
							<td
								style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">文件编号：</span></span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">CTJB-0204-BG07</span>
								</p>
							</td>
							<td
								style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;">
								<p class="a DocDefaults "
									style="text-align: right; page-break-before: always;">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">实施日期：</span></span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">2016年10月1日</span>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<br/>
				<p class="a DocDefaults " style="text-align: center;">
					<span class="a0 "
						style="font-weight: bold; color: #000000; font-size: 16.0pt;; font-family: 'SimSun';">壁厚校核报告</span>
				</p>
				<table id="docx4j_tbl_17"
					style="table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 191mm;">
					<colgroup>
						<col style="width: 6.89%;" />
						<col style="width: 10.86%;" />
						<col style="width: 6.12%;" />
						<col style="width: 6.94%;" />
						<col style="width: 0.25%;" />
						<col style="width: 5.7%;" />
						<col style="width: 13.22%;" />
						<col style="width: 4.33%;" />
						<col style="width: 3.51%;" />
						<col style="width: 5.64%;" />
						<col style="width: 6.52%;" />
						<col style="width: 0.89%;" />
						<col style="width: 3.29%;" />
						<col style="width: 4.55%;" />
						<col style="width: 5.64%;" />
						<col style="width: 10.07%;" />
						<col style="width: 2.61%;" />
						<col style="width: 2.99%;" />
					</colgroup>
					<tbody>
						<tr style="height: 0.24in;">
							<td colspan="13"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: right;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">报告编号：</span>
								</p>
							</td>
							<td colspan="5"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__report_sn" name="base__report_sn" type="text"
										ltype="text" value="" ligerui="{width:163}"
										readonly="readonly" />
								</p>
							</td>
						</tr>
						<tr style="height: 0.28in;">
							<td colspan="2"
								style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 0.35mm; border-top-color: #000000;
								border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">壁厚校核部位</span>
								</p>
							</td>
							<td colspan="4"
								style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px;
								 border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000;
								 border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 0.35mm; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="TBL00749" name="TBL00749" type="text" ltype="text"
										value="" ligerui="{width:122}" />
								</p>
							</td>
							<td colspan="2"
								style="border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; 
								border-right-color: #000000; border-top-style: solid; border-top-width: 0.35mm; border-top-color: #000000; 
								border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000;padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">允许</span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">/</span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">监控</span>
								</p>
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">使用压力</span>
								</p>
							</td>
							<td colspan="2"
								style="border-bottom-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 0.35mm; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="TBL00750" name="TBL00750" type="text" ltype="text"
										value="" ligerui="{width:37}" />
								</p>
							</td>
							<td
								style="border-bottom-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 0.35mm; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="font-size: 11.0pt;; font-family: 'Times New Roman';">MPa</span>
								</p>
							</td>
							<td colspan="4"
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 0.35mm; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: left;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">实测内径</span>
								</p>
							</td>
							<td
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 0.35mm; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="TBL00752" name="TBL00752" type="text" ltype="text"
										value="" ligerui="{width:37}" />
								</p>
							</td>
							<td colspan="2"
								style="border-left-style: none;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 0.35mm; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="font-size: 11.0pt;; font-family: 'Times New Roman';">mm</span>
								</p>
							</td>
						</tr>
						<tr style="height: 0.42in;">
							<td colspan="2"
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: left;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">实测最小壁厚：</span>
								</p>
							</td>
							<td colspan="2"
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 1px; border-left-color: #000000; border-right-style: none; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="TBL00754" name="TBL00754" type="text" ltype="text"
										value="" ligerui="{width:55}" />
								</p>
							</td>
							<td colspan="2"
								style="border-left-style: none;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="font-size: 11.0pt;; font-family: 'Times New Roman';">mm</span>
								</p>
							</td>
							<td colspan="2"
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">材料许用应力</span>
								</p>
							</td>
							<td colspan="2"
								style="border-left-style: solid;border-top-style: solid; border-top-width: 0.35mm; border-top-color: #000000; border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 1px; border-left-color: #000000; border-right-style: none; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="TBL00756" name="TBL00756" type="text" ltype="text"
										value="" ligerui="{width:37}" />
								</p>
							</td>
							<td
								style="border-left-style: none;border-top-style: solid; border-top-width: 0.35mm; border-top-color: #000000;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="font-size: 11.0pt;; font-family: 'Times New Roman';">MPa</span>
								</p>
							</td>
							<td colspan="4"
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: left;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">腐蚀裕量</span>
								</p>
							</td>
							<td
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 1px; border-left-color: #000000; border-right-style: none; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="TBL00758" name="TBL00758" type="text" ltype="text"
										value="" ligerui="{width:37}" />
								</p>
							</td>
							<td colspan="2"
								style="border-left-style: none;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="font-size: 11.0pt;; font-family: 'Times New Roman';">mm</span>
								</p>
							</td>
						</tr>
						<tr style="height: 0.2in;">
							<td colspan="2"
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">焊接接头系数</span>
								</p>
							</td>
							<td colspan="4"
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__pr_hjjtxs" name="base__pr_hjjtxs" type="text"
										ltype="text" value="" ligerui="{width:122}" />
								</p>
							</td>
							<td colspan="2"
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: center;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">封头形状系数</span>
								</p>
							</td>
							<td colspan="3"
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="TBL00760" name="TBL00760" type="text" ltype="text"
										value="" ligerui="{width:93}" />
								</p>
							</td>
							<td colspan="4"
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults " style="text-align: left;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">允许</span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">/</span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">监控</span>
								</p>
								<p class="a DocDefaults " style="text-align: left;">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">使用温度</span>
								</p>
							</td>
							<td colspan="2"
								style="border-left-style: solid;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-left-width: 1px; border-left-color: #000000; border-right-style: none; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="TBL00761" name="TBL00761" type="text" ltype="text"
										value="" ligerui="{width:56}" />
								</p>
							</td>
							<td
								style="border-left-style: none;border-bottom-style: solid; border-bottom-width: 0.35mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="font-size: 11.0pt;; font-family: 'Times New Roman';">℃</span>
								</p>
							</td>
						</tr>
						<tr style="height: 0.41in;">
							<td colspan="2"
								style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">校核选用标准</span>
								</p>
							</td>
							<td colspan="16"
								style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<input id="TBL00763" name="TBL00763" type="text" ltype="text"
										value="" ligerui="{width:566}" />
								</p>
							</td>
						</tr>
						<tr style="height: 0.22in;">
							<td colspan="18"
								style="border-bottom-style: none; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">校核参数取值说明</span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">:</span>
								</p>
							</td>
						</tr>
						<tr style="height: 1.38in;">
							<td colspan="18"
								style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: none; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<textarea id="TBL00764" name="TBL00764" ligerui="{width:700}" rows="7"
										class="l-textarea" required> </textarea>
								</p>
							</td>
						</tr>
						<tr style="height: 0.18in;">
							<td colspan="18"
								style="border-bottom-style: none; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">壁厚校核计算</span><span
										class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">:</span>
								</p>
							</td>
						</tr>
						<tr style="height: 3.32in;">
							<td colspan="18"
								style="border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: none; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
									<textarea id="TBL00765" name="TBL00765" ligerui="{width:700}" rows="16"
										class="l-textarea" required> </textarea>
								</p>
							</td>
						</tr>
						<tr style="height: 0.98in;">
							<td colspan="18"
								style="border-top-style: solid; border-top-width: 0.26mm; border-top-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; padding-left: 0mm; padding-right: 0mm;">
								<p class="a DocDefaults ">
								
								<table>
									<tr>
										<td>
										<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">校核结果：</span>
										</td>
										<td><div id="base__chjh_item1"></div></td>
										<td>
										<span class="a0 "
								style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">强度满足要求。</span>
										</td>
									</tr>
									<tr>
										<td></td>
										<td><div id="base__chjh_item2"></div></td>
										<td>
										<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
									class="" style="font-family: 'SimSun';">强度不满足要求，需要降压使用，最大允许工作压力</span></span>
										</td>
										<td style="width: 100px;">
										<input id="base__BHJH_CDJG_ZDGZYL" name="base__BHJH_CDJG_ZDGZYL"
								type="text" ltype="text" value="" ligerui="{width:700}" />
										</td>
										<td>
										<span class="a0 "
								style="color: #000000; font-size: 12.0pt;; font-family: 'Times New Roman';">Mpa。</span>
										</td>
									</tr>
									
								</table>
							</p>
								<p class="a DocDefaults ">
								<table>
									<tr>
										<td><span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">安全状况等级评定为</span></td>
										<td style="width: 100px;">
										<input id="base__BHJH_CDJG_AQDJ" name="base__BHJH_CDJG_AQDJ" type="text"
										ltype="text" value="" ligerui="{width:700}" />
										</td>
										<td>
										<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">级</span>
										</td>
									</tr>
									
								</table>
								
								
								</p>
							</td>
						</tr>
						<tr style="height: 0.42in;">
							<td
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 0.26mm; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">校核：</span></span>
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__inspection_op9" name="base__inspection_op9"  class="combotreeInput"
										type="text" value="" 
										ligerui="{data:<u:dict sql="select t.id, t.pid, t.code, t.text from (select o.id as id,o.id as code,o.ORG_NAME as text,o.PARENT_ID as pid from sys_org o union select e.id as id, e.id as code, e.NAME as text, e.ORG_ID as pid from employee e where e.ORG_ID != '100049') t where t.id!='100049' start with t.id in ('100029', '100034', '100035','100033', '100065', '100036','100037', '100066','100067','100045') connect by t.pid = prior t.id"/>
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">日期：</span></span>
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__inspection_date" name="base__inspection_date"
										type="text" ltype="text" value="" ligerui="{width:150}"
										readonly="readonly" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 " style="color: #000000; font-size: 12.0pt;"><span
										class="" style="font-family: 'SimSun';">审核：</span></span>
								</p>
							</td>
							<td colspan="3"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__audit_op" name="base__audit_op" type="text"
										ltype="select" value=""
										ligerui="{width:84,data:<u:dict sql= '<%=audit_op_bg%>'/>}" />
								</p>
							</td>
							<td colspan="2"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<span class="a0 "
										style="color: #000000; font-size: 12.0pt;; font-family: 'SimSun';">日期：</span>
								</p>
							</td>
							<td colspan="4"
								style="background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 0.26mm; border-bottom-color: #000000; border-right-style: solid; border-right-width: 0.26mm; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-left: 0mm; padding-right: 0mm; vertical-align: middle;">
								<p class="a DocDefaults ">
									<input id="base__audit_date" name="base__audit_date"
										type="text" ltype="text" value="" ligerui="{width:150}"
										readonly="readonly" />
								</p>
							</td>
						</tr>
						<tr>
						<td colspan="18">
						<br/>
						注:本校核不代替设计计算,不能免除设计者责任。
						</td>
						</tr>
					</tbody>
				</table>
				
				<p class="a DocDefaults "
					style="position: relative; text-indent: 0.45in; page-break-before: always;"> </p>
				<p class="a DocDefaults " style="text-align: center;">
			</form>
		</div>
	</div>
</body>
</html>
