<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<input type="hidden" id="nextPage" name="nextPage" value="-1"
		values="-1" title="" style="width: 99%;">
	<br>
	<div class="header">
		<table
			style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 7.32in;">
			<colgroup>
				<col style="width: 50.02%;" />
				<col style="width: 49.98%;" />
			</colgroup>
			<tbody>
				<tr>
					<td>
						<p class="a DocDefaults ">
							<span class="a0 " style=""><span
								class="" style="font-family: 'SimSun';">文件编号：</span></span><span
								class="a0 "
								style="; font-family: 'Times New Roman';">CTJB-0412-BG01</span>
						</p>
					</td>
					<td>
						<p class="a DocDefaults "
							style="position: relative; text-indent: 0.73in;">
							<span class="a0 " style=""><span
								class="" style="font-family: 'SimSun';">实施日期：2017年10月1日</span></span>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="a DocDefaults">
		<a name="RTPAGE_6__检验项目及其内容4"></a>
	</p>
	<table id="docx4j_tbl_9"
		style="margin-top: 2mm; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; position: relative; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 7.32in;"
		class="">
		<colgroup>
			<col border="1" style="width: 5.51%;" class="">
			<col border="1" style="width: 6.93%;" class="">
			<col border="1" style="width: 6.64%;" class="">
			<col border="1" style="width: 9.74%;" class="">
			<col border="1" style="width: 9.44%;" class="">
			<col border="1" style="width: 36.32%;" class="">
			<col border="1" style="width: 14.52%;" class="">
			<col border="1" style="width: 10.9%;" class="">
		</colgroup>
		<tbody>
			<tr style="page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; ">
						<span class="a0"
							style="font-weight: bold; font-size: 12pt; font-family: SimSun; position: relative;">序</span>
					</p>
					<p class="a DocDefaults"
						style="text-align: center; ">
						<span class="a0"
							style="font-weight: bold; font-size: 12pt; font-family: SimSun; position: relative;">号</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; ">
						<span class="a0"
							style="font-weight: bold; font-size: 12pt; font-family: SimSun; position: relative;">检验类别</span>
					</p>
				</td>
				<td colspan="4"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; ">
						<span class="a0"
							style="font-weight: bold; font-size: 12pt; font-family: SimSun; position: relative;">检验项目及其内容</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; ">
						<span class="a0"
							style="font-weight: bold; font-size: 12pt; font-family: SimSun; position: relative;">检验</span>
					</p>
					<p class="a DocDefaults"
						style="text-align: center; ">
						<span class="a0"
							style="font-weight: bold; font-size: 12pt; font-family: SimSun; position: relative;">结果</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; ">
						<span class="a0"
							style="font-weight: bold; font-size: 12pt; font-family: SimSun; position: relative;">检验结论</span>
					</p>
				</td>
			</tr>
			<tr style="height: 7mm; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">49</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">B</span>
					</p>
				</td>
				<td rowspan="9"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">7</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">轿门</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">与</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">层门</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">7.6自动关闭</span></span><span
							class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">层门装置</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_7_6" name="record__B_7_6" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cB_7_6  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__B_7_6" name="conclusion__B_7_6" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 7mm; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">50</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">B</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">7.7紧急开锁装置</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_7_7" name="record__B_7_7" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cB_7_7  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__B_7_7" name="conclusion__B_7_7" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.28in; page-break-inside: avoid;">
				<td rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">51</span>
					</p>
				</td>
				<td rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">B</span>
					</p>
				</td>
				<td rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">7.8.1</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">门的</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">锁紧</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">(1)层门锁紧装置</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_7_8_1_1" name="record__B_7_8_1_1" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cB_7_8  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<td rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__B_7_8_1" name="conclusion__B_7_8_1"
							type="text" ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.31in; page-break-inside: avoid;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">(2)轿门锁紧装置</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_7_8_1_2" name="record__B_7_8_1_2" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cB_7_8  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
			</tr>
			<tr style="height: 0.27in; page-break-inside: avoid;">
				<td rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">52</span>
					</p>
				</td>
				<td rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">B</span>
					</p>
				</td>
				<td rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">7.9</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">门的</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">闭合</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">(1)机电</span></span><span
							class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">联锁</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_7_9_1" name="record__B_7_9_1" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cB_7_9  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<td rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__B_7_9" name="conclusion__B_7_9" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 9mm; page-break-inside: avoid;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">(2)电气安全装置及防爆要求</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_7_9_2" name="record__B_7_9_2" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cB_7_9  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
			</tr>
			<tr style="height: 7mm; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">53</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">C</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">7.10门刀、门锁滚轮与地坎间隙</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__C_7_10" name="record__C_7_10" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cC_7_10  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__C_7_10" name="conclusion__C_7_10"
							type="text" ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.32in; page-break-inside: avoid;">
				<td rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">54</span>
					</p>
				</td>
				<td rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">B</span>
					</p>
				</td>
				<td colspan="2" rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0"
							style="background-color: rgb(255, 255, 255); font-size: 9.5pt; font-family: &amp; quot; Segoe UI Symbol&amp;quot;; position: relative;">☆</span><span
							class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">7.11 轿门开门</span></span>
					</p>
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">限制装置及轿门</span>
					</p>
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">的开启</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">(1)轿门开门限制装置</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_7_11_1" name="record__B_7_11_1" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cB_7_11  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<td rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__B_7_11" name="conclusion__B_7_11"
							type="text" ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 7mm; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">(2)轿门的开启</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_7_11_2" name="record__B_7_11_2" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cB_7_11  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<!-- <td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__B_7_11_2" name="conclusion__B_7_11_2"
							type="text" ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td> -->
			</tr>
			<tr style="height: 0.06in; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">55</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">C</span>
					</p>
				</td>
				<td rowspan="6"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">10</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">相关</span>
					</p>
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">试验</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0" style="position: relative;">★</span><span
							class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">10.2轿厢上行超速保护装置试验</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__C_10_2" name="record__C_10_2" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cC_10_2S    " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__C_10_2" name="conclusion__C_10_2"
							type="text" ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.31in; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">56</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">B</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">10.3（2）轿厢限速器－安全</span></span><span
							class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">钳试验</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_10_3_2" name="record__B_10_3_2" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cB_10_3  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__B_10_3" name="conclusion__B_10_3"
							type="text" ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 8mm; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">57</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">B</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">10.4</span><span
							class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">对重限速器－安全</span></span><span
							class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">钳试验</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_10_4" name="record__B_10_4" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cB_10_4  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__B_10_4" name="conclusion__B_10_4"
							type="text" ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.32in; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">58</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">B</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;"> 
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">10.5空载曳引检查</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_10_5" name="record__B_10_5" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cB_10_5  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__B_10_5" name="conclusion__B_10_5"
							type="text" ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 8mm; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">59</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">C</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">10.6运行试验</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__C_10_6" name="record__C_10_6" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cC_10_6  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__C_10_6" name="conclusion__C_10_6"
							type="text" ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.31in; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">60</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="text-align: center;">
						<span class="a0"
							style="font-size: 12pt; font-family: SimSun; position: relative;">B</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="margin-left: 1mm;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="font-family: SimSun; position: relative;">10.7空载上行制动试验</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_10_7" name="record__B_10_7" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_jg_record',isMultiSelect:false,isTextBoxMode:true,width:93,initValue:'符合'}"
							class="cB_10_7  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__B_10_7" name="conclusion__B_10_7"
							type="text" ltype="select" value=""
							ligerui="{code:'dt_jl_conclusion',isMultiSelect:false,isTextBoxMode:false,width:66,initValue:'合格'}"
							values="" title="" style="width: 99%;" class="  ">
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a DocDefaults"
		style="text-align: center; margin-top: 0.11in;">&nbsp;</p>
	<p class="a DocDefaults"
		style="text-align: center; margin-top: 0.11in;">&nbsp;</p>
	<table class="aa a1" id="docx4j_tbl_10"
		style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; position: relative; margin-left: 0in; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 5.76in;">
		<colgroup>
			<col border="1" style="width: 100%;" class="">
		</colgroup>
		<tbody>
			<tr>
				<td
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; margin: 1mm 7mm;"
					class="">
					<p class="a-aa-BR DocDefaults"
						style="position: relative; text-indent: 2em; ">
						<span class="a0" style="position: relative;"><span class=""
							style="font-family: SimSun; position: relative;">注1：检验报告中的“检验项目及其内容”一栏中所表述具体项目和内容前面的条文序号[如1、1.1、（1）]与《电梯监督检验和定期检验规则——防爆电梯》（TSG T7003-2011）（及2号修改单）附件A的条文序号一致。</span></span>
					</p>
					<p class="a-aa-BR DocDefaults"
						style="position: relative; text-indent: 2em;">
						<span class="a0" style="position: relative;"><span class=""
							style="font-family: SimSun; position: relative;">注2：检验报告中的下次检验日期精确到月，只填写至检验日期下一年度的当月。下次检验日期以安装、改造、重大修理监督检验的检验合格日期为基准计算。</span></span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>