<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<input type="hidden" id="nextPage" name="nextPage" value="-1"
		values="-1" title="" style="width: 99%;">
	<br>
	<!-- userBodyTop goes here -->
	<div class="document">
		<p class="1 DocDefaults"></p>
		<table class="6 5" id="docx4j_tbl_0"
			style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; position: relative; margin-left: 0in; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in;">
			<colgroup>
				<col border="1" style="width: 50.27%;" class="">
				<col border="1" style="width: 49.73%;" class="">
			</colgroup>
			<tbody>
				<tr style="height: 0.35in;">
					<td
						style="border-style: none none solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-6-BR DocDefaults"
							style="text-align: left; margin-top: 0.11in; line-height: 150%;">
							<span class="7" style="font-size: 12pt; position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">文件编号：</span></span><span
								class="7"
								style="font-size: 12pt; font-family: &amp; amp; amp; amp; quot; Times New Roman&amp;amp; amp; amp; quot;; position: relative;">CTJB-0221-BG01</span>
						</p>
					</td>
					<td
						style="border-style: none none solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-6-BR DocDefaults"
							style="text-align: right; margin-top: 0.11in; line-height: 150%;">
							<span class="7" style="font-size: 12pt; position: relative;"><span
								class="" style="font-family: SimSun; position: relative;">实施日期：</span><span
								class=""
								style="font-family: &amp; amp; amp; amp; quot; Times New Roman&amp;amp; amp; amp; quot;; position: relative;">2016</span><span
								class="" style="font-family: SimSun; position: relative;">年</span><span
								class=""
								style="font-family: &amp; amp; amp; amp; quot; Times New Roman&amp;amp; amp; amp; quot;; position: relative;">1</span><span
								class="" style="font-family: SimSun; position: relative;">月</span><span
								class=""
								style="font-family: &amp; amp; amp; amp; quot; Times New Roman&amp;amp; amp; amp; quot;; position: relative;">8</span><span
								class="" style="font-family: SimSun; position: relative;">日</span></span>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<p class="1 DocDefaults"
			style="text-align: center; margin-top: 0.11in; line-height: 150%;">
			<span class="7"
				style="font-weight: bold; color: rgb(0, 0, 0); font-size: 16pt; font-family: SimSun; position: relative;">金属常压罐体制造委托监督检验证书</span>
		</p>
		<table class="5" id="docx4j_tbl_1"
			style="position: relative; margin-left: 0in; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 645px; left: 1px; top: 12px; height: 636px;">
			<colgroup>
				<col border="1" style="width: 14.73%;" class="">
				<col border="1" style="width: 1.77%;" class="">
				<col border="1" style="width: 90px;" class="">
				<col border="1" style="width: 8.56%;" class="">
				<col border="1" style="width: 10.18%;" class="">
				<col border="1" style="width: 10.75%;" class="">
				<col border="1" style="width: 53px;" class="">
				<col border="1" style="width: 27.37%;" class="">
				<col border="1" style="width: 6.78%;" class="">
			</colgroup>
			<tbody>
				<tr style="height: 0.4in;">
					<td colspan="7"
						style="padding: 0mm 1.91mm; vertical-align: middle;" class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: right; page-break-after: auto; page-break-before: auto; line-height: 100%; vertical-align: middle;">
							<span class="7"
								style="font-size: 12pt; position: relative; text-align: right;"><span
								class=""
								style="font-family: SimSun; position: relative; text-align: right;">证书编号：</span></span>
						</p>
					</td>
					<td colspan="2"
						style="padding: 0mm 1.91mm; vertical-align: middle;" class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="base__report_sn" name="base__report_sn" type="text"
								ltype="text" value="" ligerui="{width:211,readonly:true}" values="" title="" 
								style="width: 99%; font-size: 12pt; text-align: left;"
								class="    ">
						</p>
					</td>
				</tr>
				<tr style="height: 20mm;">
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">制造单位</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="3"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle; height: 41px; width: 189.562px;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="padding: 1px; text-align: left;">
							<textarea id="base__make_units_name" name="base__make_units_name"
								type="text" ltype="text" value="" ligerui="{width:452}" title=""
								style="width: 99%; text-align: left; font-size: 12pt; font-family: 宋体;"
								class="      " values=""></textarea>
						</p>
					</td>
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle; width: 99.5622px;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">许可证级别及编号</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="2"
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="TBL00001" name="TBL00001" type="text" ltype="text"
								value="" ligerui="{width:191}" values="" title=""
								style="width: 99%; font-size: 12pt;"
								class="                      ">
						</p>
					</td>
					<!-- <td colspan="2"						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm; vertical-align: middle;"						class="">						<p class="1-5-BR DocDefaults"							style="text-align: left; page-break-after: auto; page-break-before: auto; line-height: 100%; vertical-align: middle;">							<span class="7" style="font-size: 12pt; position: relative;"></span>						</p>					</td> -->
				</tr>
				<tr style="height: 14mm;">
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7  ui-draggable-dragging"
								style="font-size: 12pt; font-family: 宋体; position: relative;">产品名称</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="3"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="base__accessory_name" name="base__accessory_name"
								type="text" ltype="text" value="" ligerui="{width:191}"
								values="" title="" style="width: 99%; font-size: 12pt;"
								class="            ">
						</p>
					</td>
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">产品型号</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="base__device_model" name="base__device_model"
								type="text" ltype="text" value="" ligerui="{width:211}"
								values="" title="" style="width: 99%; font-size: 12pt;"
								class="            ">
						</p>
					</td>
				</tr>
				<tr style="height: 14mm;">
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">产品编号</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="3"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="base__factory_code" name="base__factory_code"
								type="text" ltype="text" value="" ligerui="{width:191}"
								values="" title="" style="width: 99%; font-size: 12pt;"
								class="        ">
						</p>
					</td>
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">制造完成日期</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="base__make_date" name="base__make_date" type="text"
								ltype="text" value="" ligerui="{width:211}" values="" title=""
								style="width: 99%; font-size: 12pt;" class="        ">
						</p>
					</td>
				</tr>
				<tr style="height: 14mm;">
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">发动机编号</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="3"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="base__p_fdjxh" name="base__p_fdjxh" type="text"
								ltype="text" value="" ligerui="{width:191}" values="" title=""
								style="width: 99%; font-size: 12pt;" class="        ">
						</p>
					</td>
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">车辆识别代码</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="TBL00005" name="TBL00005" type="text" ltype="text"
								value="" ligerui="{width:211}" values="" title=""
								style="width: 99%; font-size: 12pt;" class="              ">
						</p>
					</td>
				</tr>
				<tr style="height: 14mm;">
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">设计压力</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="2"
						style="border-style: solid none solid solid; border-bottom-width: 1px; border-bottom-color: rgb(0, 0, 0); border-left-width: 1px; border-left-color: rgb(0, 0, 0); border-top-width: 1px; border-top-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="base__p80002002" name="base__p80002002" type="text"
								ltype="text" value="" ligerui="{width:125}" values="" title=""
								style="width: 99%; font-size: 12pt;" class="          ">
						</p>
					</td>
					<td
						style="border-style: solid solid solid none; border-bottom-width: 1px; border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-right-color: rgb(0, 0, 0); border-top-width: 1px; border-top-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<table border="0" class="l-text-suffix-wrap"
							style="position: relative;">
							<tbody>
								<tr style="height: 14mm;">
									<td class="l-text-suffix">MPa</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">设计温度</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="base__p_sjwd" name="base__p_sjwd" type="text"
								ltype="text" value="" ligerui="{width:167}" values="" title=""
								style="width: 99%; font-size: 12pt;" class="          ">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm; vertical-align: middle;"
						class="">
						<table border="0" class="l-text-suffix-wrap"
							style="position: relative;">
							<tbody>
								<tr style="height: 14mm;">
									<td class="l-text-suffix">℃</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr style="height: 14mm;">
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">设计介质</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="3"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="base__work_medium" name="base__work_medium"
								type="text" ltype="text" value="" ligerui="{width:191}"
								values="" title="" style="width: 99%; font-size: 12pt;"
								class="            ">
						</p>
					</td>
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">设计容积</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="base__container_capacity"
								name="base__container_capacity" type="text" ltype="text"
								value="" ligerui="{width:167}" values="" title=""
								style="width: 99%; font-size: 12pt;"
								class="                        ">
						</p>
					</td>
					<td
						style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: left; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;"><span
								class=""
								style="position: relative; font-size: 12pt; font-family: 宋体;">m</span><span
								class=""
								style="font-family: 宋体; position: relative; font-size: 12pt;">³</span></span>
						</p>
					</td>
				</tr>
				<tr style="height: 14mm;">
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">核载质量</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="3"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="TBL00008" name="TBL00008" type="text" ltype="text"
								value="" ligerui="{width:191}" values="" title=""
								style="width: 99%; font-size: 12pt;" class="        ">
						</p>
					</td>
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">核载容积</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="TBL00002" name="TBL00002" type="text" ltype="text"
								value="" ligerui="{width:211}" values="" title=""
								style="width: 99%; font-size: 12pt;"
								class="                    ">
						</p>
					</td>
				</tr>
				<tr style="height: 14mm;">
					<td colspan="2"
						style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; font-family: 宋体; position: relative;">介质密度</span><span
								class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;">:</span>
						</p>
					</td>
					<td colspan="3"
						style="border-style: solid none solid solid; border-bottom-width: 1px; border-bottom-color: rgb(0, 0, 0); border-left-width: 1px; border-left-color: rgb(0, 0, 0); border-top-width: 1px; border-top-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="TBL00003" name="TBL00003" type="text" ltype="text"
								value="" ligerui="{width:191}" values="" title=""
								style="width: 99%; font-size: 12pt;" class="                ">
						</p>
					</td>
					<td colspan="4"
						style="border-style: solid solid solid none; border-bottom-width: 1px; border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-right-color: rgb(0, 0, 0); border-top-width: 1px; border-top-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: left; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;"><span
								class=""
								style="position: relative; font-size: 12pt; font-family: 宋体;">t/
									m</span><span class=""
								style="font-family: 宋体; position: relative; font-size: 12pt;">³</span></span>
						</p>
					</td>
				</tr>
				<tr style="height: 10mm;">
					<td colspan="9"
						style="border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); border-top: 1px solid rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: left; break-after: auto; position: relative; text-indent: 0.25in; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;"><span
								class=""
								style="font-family: 宋体; position: relative; font-size: 12pt;">按照《危险化学品安全管理条例》的规定，该台（批）产品及紧急切断装置经我单位</span></span>
						</p>
					</td>
				</tr>
				<tr style="height: 10mm;">
					<td colspan="3"
						style="border-left: 1px solid rgb(0, 0, 0); border-right-style: none; border-top-style: none; padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: left; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;"><span
								class=""
								style="font-family: 宋体; position: relative; font-size: 12pt;">监督检验，安全性能符合</span></span>
						</p>
					</td>
					<td colspan="6"
						style="border-style: none solid solid none; border-bottom-width: 1px; border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-right-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom; text-align: left; height: 27px;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="padding: 1px; text-align: left;">
							<input id="TBL00011" name="TBL00011" type="text" ltype="text"
								value="" ligerui="{width:452}" values="" title=""
								style="width: 99%; text-align: left; font-size: 12pt;"
								class="                            ">
						</p>
					</td>
				</tr>
				<tr style="height: 10mm;">
					<td colspan="9"
						style="border-style: none solid; border-left-width: 1px; border-left-color: rgb(0, 0, 0); border-right-width: 1px; border-right-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: left; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;"><span
								class="ui-draggable-dragging"
								style="font-family: 宋体; position: relative; font-size: 12pt;">等有关标准的规定，特发此证。</span></span>
						</p>
					</td>
				</tr>
				<tr style="height: 12mm;">
					<td
						style="border-style: none none none solid; border-left-width: 1px; border-left-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom; text-align: right;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: right; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; text-align: right; font-family: 宋体;"><span
								class=""
								style="font-family: 宋体; position: relative; text-align: right; font-size: 12pt; left: 3px; top: -4px;">监检员：</span></span>
						</p>
					</td>
					<td colspan="4"
						style="border-style: none; padding: 0mm 1.91mm; vertical-align: bottom; text-align: left;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="padding: 1px; text-align: left;">
							<input id="base__inspect_op" name="base__inspect_op" type="text"
								ltype="text" value="" ligerui="{width:203}" values="" title=""
								style="width: 99%; text-align: left; font-size: 12pt;"
								class="            ">
						</p>
					</td>
					<td
						style="border-style: none; padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;"><span
								class=""
								style="font-family: 宋体; position: relative; font-size: 12pt; left: 5px; top: -6px;">日期：</span></span>
						</p>
					</td>
					<td colspan="3"
						style="border-style: none solid none none; border-right-width: 1px; border-right-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom; text-align: left;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="padding: 1px; text-align: left;">
							<input id="base__inspect_date" name="base__inspect_date" value=""
								values="" type="text" ltype="date"
								style="width: 99%; text-align: left; font-size: 12pt;"
								ligerui="{width:260}" class="    " title="">
						</p>
					</td>
				</tr>
				<tr style="height: 12mm;">
					<td
						style="border-style: none none none solid; border-left-width: 1px; border-left-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom; text-align: right;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: right; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; text-align: right; font-family: 宋体;"><span
								class=""
								style="font-family: 宋体; position: relative; text-align: right; font-size: 12pt; left: 2px; top: -5px;">审核：</span></span>
						</p>
					</td>
					<td colspan="4"
						style="border-style: none; padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="base__audit_op" name="base__audit_op" type="text"
								ltype="select" value="" ligerui="{width:203}" values="" title=""
								style="width: 99%; text-align: left; font-size: 12pt;"
								class="        ">
						</p>
					</td>
					<td
						style="border-style: none; padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;"><span
								class=""
								style="font-family: 宋体; position: relative; font-size: 12pt; left: 5px; top: -4px;">日期：</span></span>
						</p>
					</td>
					<td colspan="3"
						style="border-style: none solid none none; border-right-width: 1px; border-right-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom; text-align: left;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="padding: 1px; text-align: left;">
							<input id="base__audit_time" name="base__audit_time" value=""
								values="" type="text" ltype="date"
								style="width: 99%; text-align: left; font-size: 12pt;"
								ligerui="{width:260}" class="    " title="">
						</p>
					</td>
				</tr>
				<tr style="height: 12mm;">
					<td
						style="border-style: none none none solid; border-left-width: 1px; border-left-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom; text-align: right;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: right; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; text-align: right; font-family: 宋体;"><span
								class=""
								style="font-family: 宋体; position: relative; text-align: right; font-size: 12pt; left: 3px; top: -5px;">批准：</span></span>
						</p>
					</td>
					<td colspan="4"
						style="border-style: none; padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="1-5-BR DocDefaults" style="padding: 1px;">
							<input id="base__sign_op" name="base__sign_op" type="text"
								ltype="text" value="" ligerui="{width:203}" values="" title=""
								style="width: 99%; text-align: left; font-size: 12pt;"
								class="        ">
						</p>
					</td>
					<td
						style="border-style: none; padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: center; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;"><span
								class=""
								style="font-family: 宋体; position: relative; font-size: 12pt; left: 6px; top: -6px;">日期：</span></span>
						</p>
					</td>
					<td colspan="3"
						style="border-style: none solid none none; border-right-width: 1px; border-right-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom; text-align: left;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="padding: 1px; text-align: left;">
							<input id="base__sign_time" name="base__sign_time" value=""
								values="" type="text" ltype="date"
								style="width: 99%; text-align: left; font-size: 12pt;"
								ligerui="{width:260}" class="    " title="">
						</p>
					</td>
				</tr>
				<tr style="height: 12mm;">
					<td colspan="5"
						style="border-style: none none none solid; border-left-width: 1px; border-left-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: right; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;"><span
								class=""
								style="font-family: 宋体; position: relative; font-size: 12pt;">监检单位（监检专用章）：</span></span>
						</p>
					</td>
					<td colspan="4"
						style="border-style: none solid none none; border-right-width: 1px; border-right-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle; text-align: left;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="padding: 1px; text-align: left;">
							<input id="base__inspection_org" name="base__inspection_org"
								type="text" ltype="text" value="四川省特种设备检验研究院"
								ligerui="{width:329}" values="四川省特种设备检验研究院" title=""
								style="width: 99%; text-align: left; font-size: 12pt;"
								class="            ">
						</p>
					</td>
				</tr>
				<tr style="height: 12mm;">
					<td colspan="5"
						style="border-style: none none none solid; border-left-width: 1px; border-left-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: right; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;"><span
								class=""
								style="font-family: 宋体; position: relative; font-size: 12pt;">机构核准证号：</span></span>
						</p>
					</td>
					<td colspan="4"
						style="border-style: none solid none none; border-right-width: 1px; border-right-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle; text-align: left;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="padding: 1px; text-align: left;">
							<input id="base__jghzh" name="base__jghzh" type="text"
								ltype="text" value="TS7110306-2019" ligerui="{width:329}"
								values="TS7110306-2019" title=""
								style="width: 99%; text-align: left; font-size: 12pt;"
								class="            ">
						</p>
					</td>
				</tr>
				<tr style="height: 12mm;">
					<td colspan="5"
						style="border-style: none none solid solid; border-bottom-width: 1px; border-bottom-color: rgb(0, 0, 0); border-left-width: 1px; border-left-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="text-align: right; break-after: auto; break-before: auto; line-height: 100%; vertical-align: middle; font-size: 12pt; font-family: 宋体;">
							<span class="7"
								style="font-size: 12pt; position: relative; font-family: 宋体;"><span
								class=""
								style="font-family: 宋体; position: relative; font-size: 12pt;">组织机构代码：</span></span>
						</p>
					</td>
					<td colspan="4"
						style="border-style: none solid solid none; border-bottom-width: 1px; border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-right-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle; text-align: left;"
						class="">
						<p class="1-5-BR DocDefaults"
							style="padding: 1px; text-align: left;">
							<input id="base__com_code" name="base__com_code" type="text"
								ltype="text" value="45072660-X" ligerui="{width:329}"
								values="45072660-X" title=""
								style="width: 99%; text-align: left; font-size: 12pt;"
								class="                ">
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<p class="1 DocDefaults"
			style="text-align: center; page-break-after: auto; page-break-before: auto; line-height: 100%; vertical-align: middle;"></p>
	</div>
	<!-- userBodyTail goes here -->
	</div>
</body>
</html>