<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

</head>

<body>
	<!--  		<input type="hidden" id="fk_report_id" name="fk_report_id"  value="${param.fk_report_id}"  >
 		<input type="hidden" id="fk_inspection_info_id" name="fk_inspection_info_id"  value="${param.fk_inspection_info_id}"  >
  -->
	<input type="hidden" id="nextPage" name="nextPage" value="3">
	<br />
	<table id="docx4j_tbl_0"
			style="border-bottom: 1px solid rgb(0, 0, 0); table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 160mm;"
			class="">
			<colgroup>
				<col border="1" style="width: 15.63%;" class="">
				<col border="1" style="width: 34.38%;" class="">
				<col border="1" style="width: 25%;" class="">
				<col border="1" style="width: 25%;" class="">
			</colgroup>
			<tbody>
				<tr>
					<td colspan="2" style="background-color: #FFFFFF;" class="">
						<p class="a DocDefaults" style="">
							<span class="a0" style="font-size: 12pt;"><span
								class="" style="font-family: SimSun;">文件编号:CTJB-0402-BG03</span></span>
						</p>
					</td>
					<!-- <td style="background-color: #FFFFFF;">						<p class="a DocDefaults " style="">							<span class="a0 "								style="font-size: 12.0pt;; font-family: 'SimSun';">CTJB-0212-BG01</span>						</p>					</td> -->
					<td colspan="2" style="background-color: #FFFFFF;" class="">
						<p class="a DocDefaults" style="text-align: right;">
							<span class="a0" style="font-size: 12pt;"><span
								class="" style="font-family: SimSun;">实施日期:2017年10月1日</span></span>
						</p>
					</td>
					<!-- <td style="background-color: #FFFFFF;">						<p class="a DocDefaults " style="">							<span class="a0 "								style="font-size: 12.0pt;; font-family: 'SimSun';">2017年12月15日</span>						</p>					</td> -->
				</tr>
			</tbody>
		</table>
	<p class="a3 a DocDefaults " style="margin-top: 30px;">
		<a name="RTPAGE_1__注意事项"></a>
	</p>
	<p class="a3 a DocDefaults "></p>
	<p class="a DocDefaults "
		style="text-align: center; line-height: 150%;margin-top: 10%">
		<span class="a0 " style="color: #000000; font-size: 20.0pt;">注
			意 事 项</span>
	</p>
	<p class="a DocDefaults "
		style="text-align: center; line-height: 150%;margin-top: 80px;"></p>
	<p class="a DocDefaults "
		style="text-align: center; text-indent: 0.55in; line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		1.本报告依据《电梯监督检验和定期检验规则——曳引与强
		</span>
	</p>
		<p class="a DocDefaults "
		style="text-align: left;  line-height: 300%;text-indent: 9%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		制驱动电梯》（TSG T7001—2009）（含第1、2号修改单）制
		</span>
	</p>
		<p class="a DocDefaults "
		style="text-align: left; text-indent: 9%;  line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		定，适用于强制驱动电梯定期检验。
		</span>
	</p>
		<p class="a DocDefaults "
		style="text-align: center;text-indent: 0.55in;  line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		2.本报告应当由计算机打印输出，或者用钢笔、签字笔填写
		</span>
	</p>
		<p class="a DocDefaults "
		style="text-align: left;text-indent: 8%;  line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		，字迹应当工整，修改无效。
		</span>
	</p>
		<p class="a DocDefaults "
		style="text-align: center;text-indent: 0.55in;  line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		3.本报告无检验、编制、审核、批准人员签字和检验机构的
		</span>
	</p>
	<p class="a DocDefaults "
		style="text-align: left;text-indent: 8%;  line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		核准证号、检验专用章或者公章无效。
		</span>
	</p>
	<p class="a DocDefaults "
		style="text-align: center;text-indent: 0.55in; line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		4.本报告一式三份，由检验机构、使用单位、日常维护保养
		</span>
	</p>
	<p class="a DocDefaults "
		style="text-align: left; text-indent: 8%; line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		单位分别保存。
		</span>
	</p>
	<p class="a DocDefaults "
		style="text-align: center;text-indent: 0.55in; line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		5.受检单位对本报告结论如有异议，请在收到报告书之日起
		</span>
	</p>
	<p class="a DocDefaults "
		style="text-align: left; text-indent: 8%; line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		15日内，向检验机构提出书面意见。
		</span>
	</p>
	<p class="a DocDefaults "
		style="text-align: left;text-indent: 0.9in; line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		6.本报告仅反映该设备检验时的状态
		</span>
	</p>
	
	<p class="a DocDefaults "
		style="text-align: left;text-indent: 0.95in; line-height: 300%;margin-top: 200px;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		检验机构地址：成都市东风路二段北二巷4号
		</span>
	</p>
	<p class="a DocDefaults "
		style="text-align: left;text-indent: 0.95in; line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		邮政编码：610061
		</span>
	</p>
	<p class="a DocDefaults "
		style="text-align: left;text-indent: 0.95in; line-height: 300%;">
		<span class="a0 " style="color: #000000; font-size: 16.0pt;text-align: center;">
		联系电话：028-86607888
		</span>
	</p>
</body>
</html>
