<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<input type="hidden" id="nextPage" name="nextPage" value="4" values="4"
		title="" style="width: 99%;">
	<br>
	<table id="docx4j_tbl_0"
		style="border-bottom: 1px solid rgb(0, 0, 0); table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in; position: relative;"
		class="">
		<colgroup>
			<col border="1" style="width: 50%;" class="">
			<col border="1" style="width: 50%;" class="">
		</colgroup>
		<tbody>
			<tr>
				<td class="">
					<p class="a DocDefaults" style="font-size: 14pt;">
						<a name="RTPAGE_2__压力管道安装安全质量监督检验结论报告"></a> <span class="a0"
							style="position: relative; font-size: 14pt;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 14pt;">文件编号：</span></span><span
							class="a0"
							style="font-family: SimSun; position: relative; font-size: 14pt;">CTJB-0307-BG01</span>
					</p>
				</td>
				<td class="">
					<p class="a DocDefaults"
						style="text-align: right; font-size: 14pt;">
						<span class="a0" style="position: relative; font-size: 14pt;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 14pt;">实施日期：</span></span><span
							class="a0"
							style="font-family: SimSun; position: relative; font-size: 14pt;">2015年11月1日</span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a4 a DocDefaults"
		style="text-align: center; margin-top: 0.11in; margin-bottom: 0.11in;">
		<span class="a0"
			style="font-weight: bold; font-size: 16pt; font-family: SimSun; position: relative;">压力管道安装安全质量监督检验结论报告</span>
	</p>
	<table class="a9 a1" id="docx4j_tbl_5"
		style="border-style: none; position: relative; margin-left: 0in; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 155mm;">
		<colgroup>
			<col border="1" style="width: 74.35%;" class="">
			<col border="1" style="width: 25.65%;" class="">
		</colgroup>
		<tbody>
			<tr style="height: 0.33in;">
				<td
					style="border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: right; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">报告编号:</span>
					</p>
				</td>
				<td
					style="border-bottom-style: none; border-left-style: none; border-right-style: none; border-top-style: none; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm;"
					class="">
					<p class="a-a9-BR DocDefaults" style="padding: 1px;">
						<input id="base__report_sn" name="base__report_sn" type="text"
							ltype="text" value="" ligerui="{width:140}" readonly="readonly"
							values="" title="" style="width: 99%; font-size: 12pt;"
							class="  ">
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a DocDefaults"></p>
	<table id="docx4j_tbl_6"
		style="border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.12in; position: relative; left: -2px; top: 2px;"
		class="">
		<colgroup>
			<col border="1" style="width: 9.83%;" class="">
			<col border="1" style="width: 9.18%;" class="">
			<col border="1" style="width: 21.6%;" class="">
			<col border="1" style="width: 7.22%;" class="">
			<col border="1" style="width: 10.09%;" class="">
			<col border="1" style="width: 14.15%;" class="">
			<col border="1" style="width: 4.93%;" class="">
			<col border="1" style="width: 3.02%;" class="">
			<col border="1" style="width: 19.98%;" class="">
		</colgroup>
		<tbody>
			<tr style="height: 12mm; break-inside: avoid;">
				<td colspan="9"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">工程概括</span>
					</p>
				</td>
			</tr>
			<tr style="height: 16mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">工程名称</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__gcxmmc" name="base__gcxmmc" type="text"
							ltype="text" value="" ligerui="{width:159}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="        ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">工程地址</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00011" name="TBL00011" type="text" ltype="text"
							value="" ligerui="{width:154}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 10mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">工程规模</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00012" name="TBL00012" type="text" ltype="text"
							value="" ligerui="{width:159}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">压力管道级别</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__sbjb" name="base__sbjb" type="text" ltype="text"
							value="" ligerui="{width:154}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 10mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">设计压力</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__p80002002" name="base__p80002002" type="text"
							ltype="text" value="" ligerui="{width:117}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<table border="0" class="l-text-suffix-wrap"
						style="position: relative;">
						<tbody>
							<tr style="height: 10mm;">
								<td class="l-text-suffix">MPa</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">输送介质</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__p80001001" name="base__p80001001" type="text"
							ltype="text" value="" ligerui="{width:154}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 10mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">开工时间</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00014" name="TBL00014"
								value="" values="" type="text" ltype="date"
								style="width: 99%; font-size: 12pt;"
								ligerui="{width:237,format:'yyyy-MM-dd'}" title="">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">竣工时间</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__install_finish_date" name="base__install_finish_date"
								value="" values="" type="text" ltype="date"
								style="width: 99%; font-size: 12pt;"
								ligerui="{width:237,format:'yyyy-MM-dd'}" title="">
					</p>
				</td>
			</tr>
			<tr style="height: 10mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">建设单位</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00016" name="TBL00016" type="text" ltype="text"
							value="" ligerui="{width:159}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">工程规划许可证号</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00017" name="TBL00017" type="text" ltype="text"
							value="" ligerui="{width:154}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 10mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">管道设计单位</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__design_com_name" name="base__design_com_name"
							type="text" ltype="text" value="" ligerui="{width:159}" values=""
							title="" style="width: 99%; font-size: 12pt;" class="  ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">设计证书编号</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__design_com_cert" name="base__design_com_cert"
							type="text" ltype="text" value="" ligerui="{width:154}" values=""
							title="" style="width: 99%; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 10mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">安装单位</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__construction_units_name"
							name="base__construction_units_name" type="text" ltype="text"
							value="" ligerui="{width:159}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">安装许可证编号</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__install_com_cert" name="base__install_com_cert"
							type="text" ltype="text" value="" ligerui="{width:154}" values=""
							title="" style="width: 99%; font-size: 12pt;" class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 10mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">防腐施工单位</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__ffdw_mc" name="base__ffdw_mc" type="text"
							ltype="text" value="" ligerui="{width:159}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="      ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">防腐资质证书编号</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00020" name="TBL00020" type="text" ltype="text"
							value="" ligerui="{width:154}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="    ">
					</p>
				</td>
			</tr>
			<tr style="height: 10mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">监理单位</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__supervision_com_name"
							name="base__supervision_com_name" type="text" ltype="text"
							value="" ligerui="{width:159}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="      ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">监理资质证书号</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__supervision_com_cert"
							name="base__supervision_com_cert" type="text" ltype="text"
							value="" ligerui="{width:154}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 10mm;">
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">检测单位</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__inspection_org1" name="base__inspection_org1"
							type="text" ltype="text" value="" ligerui="{width:159}" values=""
							title="" style="width: 99%; font-size: 12pt;" class="    ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">资格证书编号</span>
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00023" name="TBL00023" type="text" ltype="text"
							value="" ligerui="{width:154}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 8mm;">
				<td colspan="2" rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">授权监督检验文号</span>
					</p>
				</td>
				<td colspan="2" rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="TBL00019" name="TBL00019" type="text" ltype="text"
							value="" ligerui="{width:159}" values="" title=""
							style="width: 99%; font-size: 12pt;" class="    ">
					</p>
				</td>
				<td colspan="2" rowspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">监督检验起止日期</span>
					</p>
				</td>
				<td colspan="3"
					style="border-style: solid solid none; border-left-width: 1px; border-left-color: rgb(0, 0, 0); border-right-width: 1px; border-right-color: rgb(0, 0, 0); border-top-width: 1px; border-top-color: rgb(0, 0, 0); width: 159px;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__inspect_date1" name="base__inspect_date1"
								value="" values="" type="text" ltype="date"
								style="width: 99%; font-size: 12pt;"
								ligerui="{width:237,format:'yyyy-MM-dd'}" title="">
					</p>
				</td>
			</tr>
			<tr style="height: 8mm;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: none;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">至</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__inspect_date2" name="base__inspect_date2"
								value="" values="" type="text" ltype="date"
								style="width: 99%; font-size: 12pt;"
								ligerui="{width:237,format:'yyyy-MM-dd'}" title="">
					</p>
				</td>
			</tr>
			<tr style="height: 0.46in; page-break-inside: avoid;">
				<td colspan="9"
					style="border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">监督检验结论</span>
					</p>
				</td>
			</tr>
			<tr style="height: 0.78in; page-break-inside: avoid;">
				<td colspan="9"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: left; position: relative; text-indent: 0.33in; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="position: relative; font-size: 12pt;">按照《中华人民共和国特种设备安全法》的规定，该压力管道安装经</span>我机构</span><span
							class="a0"
							style="color: rgb(0, 0, 0); font-size: 12pt; position: relative;">实施</span><span
							class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="position: relative; font-size: 12pt;">监督检验，安全性能符合《</span>TSG
							D0001-2009压力管道安全技术监察规程-<span class=""
							style="position: relative; font-size: 12pt;">工业管道》的要求，特发此报告。</span></span>
					</p>
				</td>
			</tr>
			<tr style="height: 14mm; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: right; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">监检:</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__inspect_op" name="base__inspect_op" type="text"
							ltype="text" value="" ligerui="{width:272}" values="" title=""
							style="width: 99%; font-size: 12pt; text-align: left;"
							class="                ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__inspect_date" name="base__inspect_date"
								value="" values="" type="text" ltype="date"
								style="width: 99%; font-size: 12pt;"
								ligerui="{width:237,format:'yyyy-MM-dd'}" title="">
					</p>
				</td>
				<td colspan="3"
					style="border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: right; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">机构核准证号:</span>
					</p>
				</td>
				<td
					style="border-bottom-style: none; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__inspection_jghzh" name="base__inspection_jghzh"
							type="text" ltype="text" value="TS7110306" ligerui="{width:107}"
							values="TS7110306" title="" style="width: 99%; font-size: 12pt;"
							class="      ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.51in; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: right; line-height: 200%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">审核:</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__audit_op" name="base__audit_op" value=""
							values="" type="text" ltype="text"
							style="width: 99%; font-size: 12pt; text-align: left;"
							ligerui="{width:272}" class="      " title="">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__audit_time" name="base__audit_time"
								value="" values="" type="text" ltype="date"
								style="width: 99%; font-size: 12pt;"
								ligerui="{width:237,format:'yyyy-MM-dd'}" title="">
					</p>
				</td>
				<td colspan="4"
					style="border-bottom-style: none; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: center; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;"><span
							class="" style="position: relative; font-size: 12pt;">（检验专用章）</span></span>
					</p>
				</td>
			</tr>
			<tr style="height: 12mm; page-break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a4 a DocDefaults"
						style="text-align: right; line-height: 150%; font-size: 12pt;">
						<span class="a0" style="font-size: 12pt; position: relative;">批准:</span>
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__sign_op" name="base__sign_op" type="text"
							ltype="text" value="" ligerui="{width:272}" values="" title=""
							style="width: 99%; font-size: 12pt; text-align: left;"
							class="        ">
					</p>
				</td>
				<td colspan="2"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__sign_time" name="base__sign_time"
								value="" values="" type="text" ltype="date"
								style="width: 99%; font-size: 12pt;"
								ligerui="{width:237,format:'yyyy-MM-dd'}" title="">
					</p>
				</td>
				<td colspan="4"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: none;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="base__inspect_date3" name="base__inspect_date3"
								value="" values="" type="text" ltype="date"
								style="width: 99%; font-size: 12pt;"
								ligerui="{width:237,format:'yyyy-MM-dd'}" title="">
					</p>
				</td>
			</tr>
		</tbody>
	</table>
		<script type="text/javascript">$(function(){
			
			$("#TBL00014").ligerDateEditor({	   	    onChangeDate(value){ 	     	var str1 = value.replace('-', '年');	     	var str2 = str1.replace('-', '月');	     	str2=str2+"日";	     	$("#TBL00014").val(str2);	    } 	});
			$("#base__inspect_date").ligerDateEditor({	   	    onChangeDate(value){ 	     	var str1 = value.replace('-', '年');	     	var str2 = str1.replace('-', '月');	     	str2=str2+"日";	     	$("#base__inspect_date").val(str2);	    } 	});
			$("#base__install_finish_date").ligerDateEditor({	   	    onChangeDate(value){ 	     	var str1 = value.replace('-', '年');	     	var str2 = str1.replace('-', '月');	     	str2=str2+"日";	     	$("#base__install_finish_date").val(str2);	    } 	});
			$("#base__audit_time").ligerDateEditor({	   	    onChangeDate(value){ 	     	var str1 = value.replace('-', '年');	     	var str2 = str1.replace('-', '月');	     	str2=str2+"日";	     	$("#base__audit_time").val(str2);	    } 	});
			$("#base__sign_time").ligerDateEditor({	   	    onChangeDate(value){ 	     	var str1 = value.replace('-', '年');	     	var str2 = str1.replace('-', '月');	     	str2=str2+"日";	     	$("#base__sign_time").val(str2);	    } 	});
			$("#base__inspect_date1").ligerDateEditor({	   	    onChangeDate(value){ 	     	var str1 = value.replace('-', '年');	     	var str2 = str1.replace('-', '月');	     	str2=str2+"日";	     	$("#base__inspect_date1").val(str2);	    } 	});
			$("#base__inspect_date2").ligerDateEditor({	   	    onChangeDate(value){ 	     	var str1 = value.replace('-', '年');	     	var str2 = str1.replace('-', '月');	     	str2=str2+"日";	     	$("#base__inspect_date2").val(str2);	    } 	});
			$("#base__inspect_date3").ligerDateEditor({	   	    onChangeDate(value){ 	     	var str1 = value.replace('-', '年');	     	var str2 = str1.replace('-', '月');	     	str2=str2+"日";	     	$("#base__inspect_date3").val(str2);	    } 	});

		})</script>
	
	</div>
</body>
</html>