<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<input type="hidden" id="nextPage" name="nextPage" value="3" values="3"
		title="" style="width: 99%;">
	<br>
	<table id="docx4j_tbl_0"
		style="border-bottom: 1px solid rgb(0, 0, 0); table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in; position: relative;"
		class="">
		<colgroup>
			<col border="1" style="width: 50%;" class="">
			<col border="1" style="width: 50%;" class="">
		</colgroup>
		<tbody>
			<tr>
				<td class="">
					<p class="a DocDefaults" style="font-size: 14pt;">
						<a name="RTPAGE_1__注意事项"></a> <span class="a0"
							style="position: relative; font-size: 14pt;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 14pt;">文件编号：</span></span><span
							class="a0"
							style="font-family: SimSun; position: relative; font-size: 14pt;">CTJB-0307-BG01</span>
					</p>
				</td>
				<td class="">
					<p class="a DocDefaults"
						style="text-align: right; font-size: 14pt;">
						<span class="a0" style="position: relative; font-size: 14pt;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 14pt;">实施日期：</span></span><span
							class="a0"
							style="font-family: SimSun; position: relative; font-size: 14pt;">2015年11月1日</span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="" style="position: relative; height: 58px; width: 98px;">
		<tbody>
			<tr>
				<td class="" style="text-align: center;">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 18pt;">
						<span class="a0"
							style="font-size: 18pt; font-family: SimSun; position: relative; text-align: center;">注意事项</span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="a9 a1" id="docx4j_tbl_3"
		style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); position: relative; margin-left: 0in; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in; left: 0px; top: 0px;">
		<colgroup>
			<col border="1" style="width: 131px;" class="">
			<col border="1" style="width: 20px; height: 18px;" class="">
			<col border="1" style="width: 55px; height: 19px;" class="">
			<col border="1" style="width: 46px;" class="">
			<col border="1" style="width: 70%;" class="">
		</colgroup>
		<tbody>
			<tr style="height: 11mm;">
				<td colspan="5"
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm;"
					class=""></td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="5"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: left; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt; padding-top: 0px;">
						<span class="a0"
							style="font-size: 16pt; font-family: SimSun; position: relative;">1.</span><span
							class="a0" style="font-size: 16pt; position: relative;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt; left: 1px; top: 0px;">压力管道安装安全质量监督检验具有法定检验性质，监督检验</span>
						</span>
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="5"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: left; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt; padding-top: 0px;">
						<span class="a0" style="font-size: 16pt; position: relative;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt; left: 1px; top: 0px;">单位对检验的公正性和抽样的真实性及检验工作质量负责。</span>
						</span>
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="5"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: left; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; font-family: SimSun; position: relative;">2.</span><span
							class="a0" style="font-size: 16pt; position: relative;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt;">监督检验单位检验资格许可证注册编号为:</span></span><span
							class="a0"
							style="font-size: 16pt; font-family: SimSun; position: relative;">TS7110306-2023</span><span
							class="a0" style="font-size: 16pt; position: relative;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt;">；</span></span>
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="3"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: left; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; font-family: SimSun; position: relative;">检验资格项目中包括</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm;"
					class="">
					<p class="a-a9-BR DocDefaults" style="padding: 1px;">
						<input id="TBL00008" name="TBL00008" type="text" ltype="text"
							value="" ligerui="{width:52}" values="" title=""
							style="width: 99%; font-size: 12pt; border-bottom-style: none;"
							class="            ">
					</p>
				</td>
				<td
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: left; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; font-family: SimSun; position: relative;">级压力管道安装安全质量的监督检验</span>
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="5"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: left; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; font-family: SimSun; position: relative;">资格。</span>
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="5"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: left; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; font-family: SimSun; position: relative;">3.</span><span
							class="a0" style="font-size: 16pt; position: relative;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt;">本检验报告一式三份；正本一份交建设单位；副本一份交安装</span></span>
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="5"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: left; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt;">
						<span class="a0" style="font-size: 16pt; position: relative;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt;">单位，副本一份本单位存档。</span></span>
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="5"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: left; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; font-family: SimSun; position: relative;">4.</span><span
							class="a0" style="font-size: 16pt; position: relative;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt;">本检验报告书无检验、审核、批准的人员签章和检验机构的检</span></span>
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="5"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: left; font-size: 16pt;">
						<span class="a0" style="font-size: 16pt; position: relative;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt;">验专用章或公章无效。</span></span>
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="5"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: left; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; font-family: SimSun; position: relative;">5.</span><span
							class="a0" style="font-size: 16pt; position: relative;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt;">受监督检验单位对检验结论如有异议，应在收到本检验报告之</span></span>
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="5"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: left; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt;">
						<span class=""
							style="font-family: SimSun; position: relative; font-size: 16pt;">日</span>
						<span class="a0"
							style="font-size: 16pt; font-family: SimSun; position: relative;">15</span><span
							class="a0" style="font-size: 16pt; position: relative;"> <span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt;">日内，以书面形式向监督检验单位提出。</span>
						</span>
					</p>
				</td>
			</tr>
			<tr style="height: 50mm;">
				<td colspan="5"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle; text-align: left;"
					class=""></td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="2"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle; text-align: right;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: right; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; position: relative; text-align: right;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt; text-align: right;">单位地址：</span></span>
					</p>
				</td>
				<td colspan="3"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle; text-align: left;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="padding: 1px; text-align: left;">
						<input id="base__inspection_address"
							name="base__inspection_address" type="text" ltype="text"
							value="四川省成都市东风路北二巷4号" ligerui="{width:485}"
							values="四川省成都市东风路北二巷4号" title=""
							style="width: 99%; font-size: 13pt; text-align: left;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="2"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle; text-align: right;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: right; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; position: relative; text-align: right;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt; text-align: right;">邮政编码：</span></span>
					</p>
				</td>
				<td colspan="3"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle; text-align: left;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="padding: 1px; text-align: left;">
						<input id="base__inspection_postcode"
							name="base__inspection_postcode" type="text" ltype="text"
							value="610061" ligerui="{width:485}" values="610061" title=""
							style="width: 99%; font-size: 13pt; text-align: left;" class="">
					</p>
				</td>
			</tr>
			<tr style="height: 12mm;">
				<td colspan="2"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle; text-align: right;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="text-align: right; position: relative; margin-left: 0.19in; text-indent: -0.19in; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; position: relative; text-align: right;"><span
							class=""
							style="font-family: SimSun; position: relative; font-size: 16pt; text-align: right;">联系电话：</span></span>
					</p>
				</td>
				<td colspan="3"
					style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: middle; text-align: left;"
					class="">
					<p class="a-a9-BR DocDefaults"
						style="padding: 1px; text-align: left;">
						<input id="base__inspection_phone" name="base__inspection_phone"
							type="text" ltype="text" value="86607838" ligerui="{width:485}"
							values="86607838" title=""
							style="width: 99%; font-size: 13pt; text-align: left;" class="">
					</p>
				</td>
			</tr>
			<tr style="height: 5mm;">
				<td colspan="5"
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm;"
					class=""></td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>