<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<input type="hidden" id="nextPage" name="nextPage" value="2" values="2"
		title="" style="width: 99%;">
	<br>
	<!-- userBodyTop goes here -->
	<div class="header">
		<table id="docx4j_tbl_0"
			style="border-bottom: 1px solid rgb(0, 0, 0); table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in; position: relative;"
			class="">
			<colgroup>
				<col border="1" style="width: 50%;" class="">
				<col border="1" style="width: 50%;" class="">
			</colgroup>
			<tbody>
				<tr>
					<td class="">
						<p class="a DocDefaults" style="font-size: 12pt;">
							<span class="a0" style="position: relative; font-size: 12pt;"><span
								class=""
								style="font-family: SimSun; position: relative; font-size: 12pt;">文件编号：</span></span><span
								class="a0"
								style="font-family: &amp; amp; amp; quot; Times New Roman&amp;amp; amp; quot;; position: relative; font-size: 12pt;">CTJB-0405-BG01</span>
						</p>
					</td>
					<td class="">
						<p class="a DocDefaults"
							style="text-align: right; font-size: 12pt;">
							<span class="a0" style="position: relative; font-size: 12pt;"><span
								class=""
								style="font-family: SimSun; position: relative; font-size: 12pt;">实施日期：</span></span><span
								class="a0"
								style="font-family: SimSun; position: relative; font-size: 12pt;">2017</span><span
								class="a0" style="position: relative; font-size: 12pt;"><span
								class=""
								style="font-family: SimSun; position: relative; font-size: 12pt;">年10月1日</span></span>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<p class="a DocDefaults"></p>
	</div>
	<div class="document">
		<p class="a DocDefaults" style="text-align: center;"></p>
		<table class="ac a1 ui-draggable-dragging" id="docx4j_tbl_1"
			style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); position: relative; margin-left: 0in; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in; height: 117px;">
			<colgroup>
				<col border="1" style="width: 428px;" class="">
				<col border="1" style="width: 28.61%;" class="">
			</colgroup>
			<tbody>
				<tr style="height: 12mm;">
					<td
						style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="a-ac-BR DocDefaults"
							style="text-align: right; font-size: 16pt;">
							<span class="a0" style="font-size: 16pt; position: relative;"><span
								class=""
								style="font-family: SimSun; position: relative; font-size: 16pt;">报告编号：</span></span>
						</p>
					</td>
					<td
						style="border-style: none none solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="a-ac-BR DocDefaults" style="padding: 1px;">
							<input id="base__report_sn" name="base__report_sn" type="text"
								ltype="text" value="" ligerui="{width:167}" readonly="readonly"
								values="" title=""
								style="width: 99%; font-size: 16pt; text-align: left;"
								class="    ">
						</p>
					</td>
				</tr>
				<tr style="height: 12mm;">
					<td
						style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="a-ac-BR DocDefaults"
							style="text-align: right; font-size: 16pt;">
							<span class="a0"
								style="font-size: 16pt; font-family: SimSun; position: relative;">单位内编号</span><span
								class="a0"
								style="font-size: 16pt; font-family: SimSun; position: relative;">：</span>
						</p>
					</td>
					<td
						style="border-style: none none solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="a-ac-BR DocDefaults" style="padding: 1px;">
							<input id="base__internal_num" name="base__internal_num"
								type="text" ltype="text" value="" ligerui="{width:167}"
								values="" title=""
								style="width: 99%; font-size: 16pt; text-align: left;"
								class="        ">
						</p>
					</td>
				</tr>
				<tr style="height: 12mm;">
					<td
						style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="a-ac-BR DocDefaults"
							style="text-align: right; font-size: 16pt;">
							<span class="a0"
								style="font-size: 16pt; font-family: SimSun; position: relative;">二维码编号</span><span
								class="a0"
								style="font-size: 16pt; font-family: SimSun; position: relative;">：</span>
						</p>
					</td>
					<td
						style="border-style: none none solid; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; vertical-align: bottom;"
						class="">
						<p class="a-ac-BR DocDefaults" style="padding: 1px;">
							<input id="TBL00001" name="TBL00001" type="text" ltype="text"
								value="" ligerui="{width:167}" values="" title=""
								style="width: 99%; font-size: 16pt; text-align: left;"
								class="      ">
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<p class="a DocDefaults" style="text-align: center;"></p>
		<p class="a DocDefaults" style="text-align: center; font-size: 16pt;">
			<span class="a0"
				style="font-weight: bold; font-size: 24pt; font-family: SimSun; position: relative; left: 2px; top: 12px;">液压电梯监督检验报告</span>
		</p>
		<p class="a DocDefaults" style="text-align: center;"></p>
		<table id="docx4j_tbl_2"
			style="table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 626px; position: relative; left: -13px; top: 5px;"
			class="">
			<colgroup>
				<col border="1" style="width: 164px;" class="">
				<col border="1" style="width: 59.47%; height: 18px;" class="">
			</colgroup>
			<tbody>
				<tr style="height: 15mm;">
					<td style="vertical-align: bottom;" class="">
						<p class="a DocDefaults"
							style="font-size: 16pt; text-align: right;">
							<span class="a0"
								style="font-size: 16pt; font-family: SimSun; position: relative; text-align: right;">使用单位名称：</span>
						</p>
					</td>
					<td
						style="vertical-align: bottom; border-bottom: 1px solid rgb(0, 0, 0);"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__com_name" name="base__com_name" type="text"
								ltype="text" value="" ligerui="{width:265}" values="" title=""
								style="width: 99%; font-size: 16pt; text-align: left;"
								class="    ">
						</p>
					</td>
				</tr>
				<tr style="height: 15mm;">
					<td style="vertical-align: bottom;" class="">
						<p class="a DocDefaults"
							style="font-size: 16pt; text-align: right;">
							<span class="a0"
								style="font-size: 16pt; font-family: SimSun; position: relative; text-align: right;">设备代码：</span>
						</p>
					</td>
					<td
						style="vertical-align: bottom; border-bottom: 1px solid rgb(0, 0, 0);"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__device_registration_code"
								name="base__device_registration_code" type="text" ltype="text"
								value="" ligerui="{width:265}" values="" title=""
								style="width: 99%; font-size: 16pt; text-align: left;"
								class="    ">
						</p>
					</td>
				</tr>
				<tr style="height: 15mm;">
					<td style="vertical-align: bottom;" class="">
						<p class="a DocDefaults"
							style="font-size: 16pt; text-align: right;">
							<span class="a0"
								style="font-size: 16pt; font-family: SimSun; position: relative; text-align: right;">设备类别：</span>
						</p>
					</td>
					<td
						style="vertical-align: bottom; border-bottom: 1px solid rgb(0, 0, 0);"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__device_type_name" name="base__device_type_name"
								type="text" ltype="text" value="" ligerui="{width:265}"
								values="" title=""
								style="width: 99%; font-size: 16pt; text-align: left;"
								class="    ">
						</p>
					</td>
				</tr>
				<tr style="height: 15mm;">
					<td style="vertical-align: bottom;" class="">
						<p class="a DocDefaults"
							style="font-size: 16pt; text-align: right;">
							<span class="a0"
								style="font-size: 16pt; font-family: SimSun; position: relative; text-align: right;">设备品种：</span>
						</p>
					</td>
					<td
						style="vertical-align: bottom; border-bottom: 1px solid rgb(0, 0, 0);"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__device_sort" name="base__device_sort"
								type="text" ltype="text" value="" ligerui="{width:265}"
								values="" title=""
								style="width: 99%; font-size: 16pt; text-align: left;"
								class="    ">
						</p>
					</td>
				</tr>
				<tr style="height: 15mm;">
					<td style="vertical-align: bottom;" class="">
						<p class="a DocDefaults"
							style="font-size: 16pt; text-align: right;">
							<span class="a0"
								style="font-size: 16pt; font-family: SimSun; position: relative; text-align: right;">施工类别：</span>
						</p>
					</td>
					<td
						style="vertical-align: bottom; border-bottom: 1px solid rgb(0, 0, 0);"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__cad_type" name="base__cad_type" value=""
								values="" type="text" ltype="select"
								style="width: 99%; font-size: 16pt; text-align: left;"
								ligerui="{'width':265,'data':[{'id':'0','text':'安装'},{'id':'1','text':'改造'},{'id':'2','text':'重大修理'}]}"
								class="  " title="">
						</p>
					</td>
				</tr>
				<tr style="height: 15mm;">
					<td style="vertical-align: bottom;" class="">
						<p class="a DocDefaults"
							style="font-size: 16pt; text-align: right;">
							<span class="a0"
								style="font-size: 16pt; font-family: SimSun; position: relative; text-align: right;">施工单位名称：</span>
						</p>
					</td>
					<td
						style="vertical-align: bottom; border-bottom: 1px solid rgb(0, 0, 0);"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__build_unit" name="base__build_unit" type="text"
								ltype="text" value="" ligerui="{width:265}" values="" title=""
								style="width: 99%; font-size: 16pt; text-align: left;"
								class="    ">
						</p>
					</td>
				</tr>
				<tr style="height: 15mm;">
					<td style="vertical-align: bottom;" class="">
						<p class="a DocDefaults"
							style="font-size: 16pt; text-align: right;">
							<span class="a0"
								style="font-size: 16pt; font-family: SimSun; position: relative; text-align: right;">检验机构名称：</span>
						</p>
					</td>
					<td
						style="vertical-align: bottom; border-bottom: 1px solid rgb(0, 0, 0);"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__inspection_org" name="base__inspection_org"
								type="text" ltype="text" value="四川省特种设备检验研究院" ligerui="{width:265}"
								values="" title=""
								style="width: 99%; font-size: 16pt; text-align: left;"
								class="    ">
						</p>
					</td>
				</tr>
				<tr style="height: 15mm;">
					<td style="vertical-align: bottom;" class="">
						<p class="a DocDefaults"
							style="font-size: 16pt; text-align: right;">
							<span class="a0"
								style="font-size: 16pt; font-family: SimSun; position: relative; text-align: right;">检验日期：</span>
						</p>
					</td>
					<td
						style="vertical-align: bottom; border-bottom: 1px solid rgb(0, 0, 0);"
						class="">
						<p class="a DocDefaults" style="padding: 1px;">
							<input id="base__inspect_date" name="base__inspect_date"
								type="text" ltype="date" value=""
								ligerui="{isTextBoxMode:true,width:265}" required="" values=""
								title="" style="width: 99%; font-size: 16pt; text-align: left;"
								class="      ">
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<p class="a DocDefaults"
			style="text-align: center; line-height: 150%; font-size: 16pt;">
			<span class="a0"
				style="font-size: 20pt; font-family: SimSun; position: relative; left: -27px; top: 192px;">四川省特种设备检验研究院</span>
		</p>
		<p class="a DocDefaults" style="text-align: center;"></p>
		<table class="ac a1" id="docx4j_tbl_3"
			style="border-style: none; position: relative; margin-left: 0.08in; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.3in; left: 2.68px; top: -23px; height: 106px;">
			<colgroup>
				<col border="1" style="width: 26.57%;" class="">
				<col border="1" style="width: 73.43%;" class="">
			</colgroup>
			<tbody>
				<tr style="height: 0.59in;">
					<td colspan="2"
						style="border-style: none; border-width: 1px; border-color: rgb(0, 0, 0); padding: 0mm 1.91mm; height: 120px;"
						class="pclicktd"></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</body>
	<script type="text/javascript">$(function(){	$("#base__inspect_date").ligerDateEditor({	   	    onChangeDate(value){ 	     	var str1 = value.replace('-', '年');	     	var str2 = str1.replace('-', '月');	     	str2=str2+"日";	     	$("#base__inspect_date").val(str2);	    } 	});})</script>
</html>