<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<input type="hidden" id="nextPage" name="nextPage" value="-1"
		values="-1" title="" style="width: 99%;">
	<br>
	<p class="a DocDefaults">
		<a name="RTPAGE_8__液压电梯监督检验报告附页6"></a>
	</p>
	<table id="docx4j_tbl_10"
		style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; position: relative; margin-left: 0.08in; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 160mm;"
		class="">
		<colgroup>
			<col border="1" style="width: 6.47%;" class="">
			<col border="1" style="width: 8.38%;" class="">
			<col border="1" style="width: 8.45%;" class="">
			<col border="1" style="width: 50.12%;" class="">
			<col border="1" style="width: 14.09%;" class="">
			<col border="1" style="width: 12.5%;" class="">
		</colgroup>
		<tbody>
			<tr style="height: 15mm; break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">71</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">B</span>
					</p>
				</td>
				<td rowspan="5"
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">7</span>
					</p>
					<p class="a DocDefaults"
						style="text-align: center; font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">试验</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;"><span
							class="" style="position: relative; font-size: 14pt;">7.5其他</span>类防止轿厢坠落措施试验</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_7_5" name="record__B_7_5" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_bg_record',isMultiSelect:false,data:<u:dict code='dt_bg_record'></u:dict>,isTextBoxMode:true,width:75,initValue:'符合'}"
							class="cB_7_5  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%; font-size: 14pt;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__B_7_5" name="conclusion__B_7_5" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_bg_conclusion',isMultiSelect:false,data:<u:dict code='dt_bg_conclusion'></u:dict>,isTextBoxMode:false,width:65,initValue:'合格'}"
							values="" title="" style="width: 99%; font-size: 14pt;"
							class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 15mm; break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">72</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">B</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">7.6 防沉降系统试验</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__B_7_6" name="record__B_7_6" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_bg_record',isMultiSelect:false,data:<u:dict code='dt_bg_record'></u:dict>,isTextBoxMode:true,width:75,initValue:'符合'}"
							class="cB_7_6  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%; font-size: 14pt;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__B_7_6" name="conclusion__B_7_6" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_bg_conclusion',isMultiSelect:false,data:<u:dict code='dt_bg_conclusion'></u:dict>,isTextBoxMode:false,width:65,initValue:'合格'}"
							values="" title="" style="width: 99%; font-size: 14pt;"
							class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 15mm; break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">73</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">C</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">7.7 超压静载试验</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__C_7_7" name="record__C_7_7" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_bg_record',isMultiSelect:false,data:<u:dict code='dt_bg_record'></u:dict>,isTextBoxMode:true,width:75,initValue:'符合'}"
							class="cC_7_7  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%; font-size: 14pt;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__C_7_7" name="conclusion__C_7_7" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_bg_conclusion',isMultiSelect:false,data:<u:dict code='dt_bg_conclusion'></u:dict>,isTextBoxMode:false,width:65,initValue:'合格'}"
							values="" title="" style="width: 99%; font-size: 14pt;"
							class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 15mm; break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">74</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">C</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;"><span
							class="" style="position: relative; font-size: 14pt;">7.8
								运行试验</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__C_7_8" name="record__C_7_8" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_bg_record',isMultiSelect:false,data:<u:dict code='dt_bg_record'></u:dict>,isTextBoxMode:true,width:75,initValue:'符合'}"
							class="cC_7_8  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%; font-size: 14pt;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__C_7_8" name="conclusion__C_7_8" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_bg_conclusion',isMultiSelect:false,data:<u:dict code='dt_bg_conclusion'></u:dict>,isTextBoxMode:false,width:65,initValue:'合格'}"
							values="" title="" style="width: 99%; font-size: 14pt;"
							class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 15mm; break-inside: avoid;">
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">75</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults"
						style="text-align: center; font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">C</span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="font-size: 14pt;">
						<span class="a0" style="font-size: 14pt; position: relative;">7.<span
							class="" style="position: relative; font-size: 14pt;">9
								液压电梯速度</span></span>
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="record__C_7_9" name="record__C_7_9" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_bg_record',isMultiSelect:false,data:<u:dict code='dt_bg_record'></u:dict>,isTextBoxMode:true,width:75,initValue:'符合'}"
							class="cC_7_9  " onchange="changeRecord(this,this.value)"
							values="" title="" style="width: 99%; font-size: 14pt;">
					</p>
				</td>
				<td
					style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: solid; border-left-width: 1px; border-left-color: #000000; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-top-style: solid; border-top-width: 1px; border-top-color: #000000; vertical-align: middle;"
					class="">
					<p class="a DocDefaults" style="padding: 1px;">
						<input id="conclusion__C_7_9" name="conclusion__C_7_9" type="text"
							ltype="select" value=""
							ligerui="{code:'dt_bg_conclusion',isMultiSelect:false,data:<u:dict code='dt_bg_conclusion'></u:dict>,isTextBoxMode:false,width:65,initValue:'合格'}"
							values="" title="" style="width: 99%; font-size: 14pt;"
							class="  ">
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a DocDefaults" style="margin-top: 0.08in;">
		<span class="a0"
			style="white-space: pre-wrap; position: relative; font-size: 14pt;">
		</span>
	</p>
	<table class="ac a1" id="docx4j_tbl_11"
		style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; position: relative; margin-left: 0.08in; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.3in;">
		<colgroup>
			<col border="1" style="width: 100%;" class="">
		</colgroup>
		<tbody>
			<tr>
				<td
					style="border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #000000; border-left-style: none; border-left-width: 1px; border-left-color: #000000; border-right-style: none; border-right-width: 1px; border-right-color: #000000; border-top-style: none; border-top-width: 1px; border-top-color: #000000; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm;"
					class="">
					<p class="a-ac-BR DocDefaults"
						style="position: relative; text-indent: 7mm; margin-top: 0.08in; font-size: 12pt;">
						<span class="a0" style="position: relative; font-size: 12pt;">注<span
							class="" style="position: relative; font-size: 12pt;">B－1：</span><span
							class="" style="position: relative; font-size: 12pt;">检验报告中的“检验项目及其内容”一栏中所表述具体项目和内容前面的条文序号〔如1、1.1、(1)〕与《电梯监督检验和定期检验规则——液压电梯》（TSG
								T7004-2012）附件A《液压</span>电梯监督检验和定期检验内容、要求与方法》中的条文序号一致。
						</span>
					</p>
					<p class="a-ac-BR DocDefaults"
						style="position: relative; text-indent: 7mm; margin-top: 0.08in; font-size: 12pt;">
						<span class="a0" style="position: relative; font-size: 12pt;"><span
							class="" style="position: relative; font-size: 12pt;">注B-2：检验机构可以根据不同的液压电梯类型和“防止坠落、超速下降和沉降的组合措施”，按照实际的项目及其内容编排检验报告。</span></span>
					</p>
					<p class="a-ac-BR DocDefaults"
						style="position: relative; text-indent: 7mm; margin-top: 0.08in; font-size: 12pt;">
						<span class="a0" style="position: relative; font-size: 12pt;"><span
							class="" style="position: relative; font-size: 12pt;">注B-3：检验报告中的下次检验日期精确到月，只填写至检验日期下一年度的当月。下次检验日期以安装、改造、重大修理监督检验的检验合格日期为基准计算。</span></span>
					</p>
					<p class="a-ac-BR DocDefaults" style="margin-top: 0.08in;"></p>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- userBodyTail goes here -->
	</div>
</body>
</html>