<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<input type="hidden" id="nextPage" name="nextPage" value="3" values="3"
		title="" style="width: 99%;">
	<br>
	<p class="a-ac-BR DocDefaults" style="text-align: center;">
		<a name="RTPAGE_1__注意事项"></a><span class="a0"
			style="font-size: 18pt; position: relative;">注意事项</span>
	</p>
	<table id="docx4j_tbl_0"
		style="border-style: none; table-layout: fixed; vertical-align: top; border-collapse: collapse; width: 6.45in; position: relative; left: 6px; top: 49px;"
		class="">
		<colgroup>
			<col border="1" style="width: 122px;" class="">
			<col border="1" style="width: 50%;" class="">
		</colgroup>
		<tbody>
			<tr style="height: 0.22in;">
				<td colspan="2"
					style="border-style: none; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm;"
					class="">
					<p class="a-ac-BR DocDefaults"
						style="position: relative; text-indent: 7mm; line-height: 150%; font-family: 宋体; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; position: relative; font-family: 宋体;"><span
							class=""
							style="position: relative; font-family: 宋体; font-size: 16pt;">1.
								本报告依据《电梯监督检验和定期检验规则——液压电梯》（TSG
								T7004-2012）制定，适用于液压电梯安装、改造、重大修理监督检验。</span></span>
					</p>
					<p class="a-ac-BR DocDefaults"
						style="position: relative; text-indent: 7mm; line-height: 150%; font-family: 宋体; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; position: relative; font-family: 宋体;"><span
							class=""
							style="position: relative; font-family: 宋体; font-size: 16pt;">2.本报告应当由计算机打印输出，或者用钢笔、签字笔填写，字迹应当工整，修改无效。</span></span>
					</p>
					<p class="a-ac-BR DocDefaults"
						style="position: relative; text-indent: 7mm; line-height: 150%; font-family: 宋体; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; position: relative; font-family: 宋体;"><span
							class=""
							style="position: relative; font-family: 宋体; font-size: 16pt;">3.本报告无检验、编制、审核、批准人员签字和检验机构的核准证号、检验专用章或者公章无效。</span></span>
					</p>
					<p class="a-ac-BR DocDefaults"
						style="position: relative; text-indent: 7mm; line-height: 150%; font-family: 宋体; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; position: relative; font-family: 宋体;"><span
							class=""
							style="position: relative; font-family: 宋体; font-size: 16pt;">4.本报告一式三份，由检验机构、使用单位、日常维护保养单位分别保存。</span></span>
					</p>
					<p class="a-ac-BR DocDefaults"
						style="position: relative; text-indent: 7mm; line-height: 150%; font-family: 宋体; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; position: relative; font-family: 宋体;"><span
							class=""
							style="position: relative; font-family: 宋体; font-size: 16pt;">5.受检单位对本报告结论如有异议，请在收到报告书之日起15日内，向检验机构提出书面意见。</span></span>
					</p>
					<p class="a-ac-BR DocDefaults"
						style="position: relative; text-indent: 7mm; line-height: 150%; font-family: 宋体; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; position: relative; font-family: 宋体;"><span
							class=""
							style="position: relative; font-family: 宋体; font-size: 16pt;">6.本报告仅反映该设备检验时的状态。</span></span>
					</p>
				</td>
			</tr>
			<tr style="height: 88mm;">
				<td colspan="2"
					style="border-style: none; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm;"
					class="pclicktd">
					<p class="a-ac-BR DocDefaults"></p>
				</td>
			</tr>
			<tr>
				<td
					style="border-style: none; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm;"
					class="">
					<p class="a-ac-BR DocDefaults"
						style="text-align: right; font-family: 宋体; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; font-family: 宋体; position: relative;">检验机构地址：</span>
					</p>
				</td>
				<td
					style="border-style: none; padding: 0mm 1.91mm; vertical-align: middle;"
					class="">
					<p class="a-ac-BR DocDefaults" style="padding: 1px;">
						<input id="TBL00004" name="TBL00004" type="text" ltype="text"
							value="四川省成都市东风路二段北二巷4号" ligerui="{width:434}"
							values="四川省成都市东风路二段北二巷4号" title=""
							style="width: 99%; font-size: 16pt; text-align: left;" class="  ">
					</p>
				</td>
			</tr>
			<tr>
				<td
					style="border-style: none; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm;"
					class="">
					<p class="a-ac-BR DocDefaults"
						style="text-align: right; font-family: 宋体; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; font-family: 宋体; position: relative;">邮政编码：</span>
					</p>
				</td>
				<td
					style="border-style: none; padding: 0mm 1.91mm; vertical-align: middle;"
					class="">
					<p class="a-ac-BR DocDefaults" style="padding: 1px;">
						<input id="base__com_zip_code" name="base__com_zip_code"
							type="text" ltype="text" value="610061" ligerui="{width:434}"
							values="610061" title=""
							style="width: 99%; font-size: 16pt; text-align: left;" class="  ">
					</p>
				</td>
			</tr>
			<tr style="height: 0.05in;">
				<td
					style="border-style: none; padding-bottom: 0mm; padding-left: 1.91mm; padding-right: 1.91mm; padding-top: 0mm;"
					class="">
					<p class="a-ac-BR DocDefaults"
						style="text-align: right; font-family: 宋体; font-size: 16pt;">
						<span class="a0"
							style="font-size: 16pt; font-family: 宋体; position: relative;">联系电话：</span>
					</p>
				</td>
				<td
					style="border-style: none; padding: 0mm 1.91mm; vertical-align: middle;"
					class="">
					<p class="a-ac-BR DocDefaults" style="padding: 1px;">
						<input id="base__check_tel" name="base__check_tel" type="text"
							ltype="text" value="028-86607888" ligerui="{width:434}"
							values="028-86607888" title=""
							style="width: 99%; font-size: 16pt; text-align: left;" class="  ">
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="a DocDefaults"></p>
	<p class="a DocDefaults" style="line-height: 150%;"></p>
	<p class="a DocDefaults" style="text-align: center; line-height: 150%;"></p>
	</div>
</body>
</html>